FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/accountsummary/load]
### [GET]
+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "text" : "Missing your alerts? Reset your alert preferences now.",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferedClients" : {
              "link" : "http://example.com/"
            },
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 1001,
                "name" : "Money Market *3560",
                "balance" : "$1,300.54"
              }, {
                "id" : 1002,
                "name" : "Money Market *3562",
                "balance" : "$302.14"
              }, {
                "id" : 1003,
                "name" : "Money Market *3564",
                "balance" : "$1,000.00"
              }, {
                "id" : 1004,
                "name" : "Checking *4460",
                "balance" : "$586.15"
              }, {
                "id" : 1005,
                "name" : "Checking *4462",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25"
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00"
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60"
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02"
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98"
              } ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "title" : "Jack Johnson",
                "subtitle" : "eBay shoes",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "title" : "Jack Johnson",
                "subtitle" : "Plane ticket",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "title" : "Jack Johnson",
                "subtitle" : "Saving account *7558",
                "amount" : "$80.75"
              } ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "widgets" : [ {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CD",
              "number" : "4444",
              "amount" : "$4,000.00"
            } ],
            "total" : "$10,000.00"
          }, {
            "type" : "CHECKING_SAVING",
            "isOpen" : false,
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "totalPosted" : "$40,000.00",
            "totalAvailable" : "$36,000.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "12/26/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "12/26/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "12/26/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "12/26/2013",
              "minAmount" : "$200.00"
            } ],
            "total" : "$1,200.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "12/26/2013",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "12/26/2013",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "12/26/2013",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "12/26/2013",
              "nextAmount" : "$600.00"
            } ],
            "total" : "$6,000.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ],
            "total" : "$6,000.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "bbvaCompassAccount" : false,
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "bbvaCompassAccount" : false,
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "bbvaCompassAccount" : false,
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "bbvaCompassAccount" : false,
              "percent" : "30.00%",
              "amount" : "$30.00"
            }, {
              "nick" : "Real 4",
              "bbvaCompassAccount" : false,
              "percent" : "40.00%",
              "amount" : "$40.00"
            } ],
            "total" : "$100.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "REWARDS",
              "balance" : "$00.00",
              "number" : "0000"
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "REWARDS",
              "balance" : "$1,000.00",
              "number" : "1111"
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "REWARDS",
              "balance" : "$2,000.00",
              "number" : "2222"
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "REWARDS",
              "balance" : "$3,000.00",
              "number" : "3333"
            } ]
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}]

### [GET]
+ Parameters
    + filter (required, enumeration) ... compass, external, personal, business


+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "text" : "Missing your alerts? Reset your alert preferences now.",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferedClients" : {
              "link" : "http://example.com/"
            },
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 1001,
                "name" : "Money Market *3560",
                "balance" : "$1,300.54"
              }, {
                "id" : 1002,
                "name" : "Money Market *3562",
                "balance" : "$302.14"
              }, {
                "id" : 1003,
                "name" : "Money Market *3564",
                "balance" : "$1,000.00"
              }, {
                "id" : 1004,
                "name" : "Checking *4460",
                "balance" : "$586.15"
              }, {
                "id" : 1005,
                "name" : "Checking *4462",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25"
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00"
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60"
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02"
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98"
              } ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "title" : "Jack Johnson",
                "subtitle" : "eBay shoes",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "title" : "Jack Johnson",
                "subtitle" : "Plane ticket",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "title" : "Jack Johnson",
                "subtitle" : "Saving account *7558",
                "amount" : "$80.75"
              } ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "widgets" : [ {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CD",
              "number" : "4444",
              "amount" : "$4,000.00"
            } ],
            "total" : "$10,000.00"
          }, {
            "type" : "CHECKING_SAVING",
            "isOpen" : false,
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "totalPosted" : "$40,000.00",
            "totalAvailable" : "$36,000.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "12/26/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "12/26/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "12/26/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "12/26/2013",
              "minAmount" : "$200.00"
            } ],
            "total" : "$1,200.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "12/26/2013",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "12/26/2013",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "12/26/2013",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "12/26/2013",
              "nextAmount" : "$600.00"
            } ],
            "total" : "$6,000.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ],
            "total" : "$6,000.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "bbvaCompassAccount" : false,
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "bbvaCompassAccount" : false,
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "bbvaCompassAccount" : false,
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "bbvaCompassAccount" : false,
              "percent" : "30.00%",
              "amount" : "$30.00"
            }, {
              "nick" : "Real 4",
              "bbvaCompassAccount" : false,
              "percent" : "40.00%",
              "amount" : "$40.00"
            } ],
            "total" : "$100.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "REWARDS",
              "balance" : "$00.00",
              "number" : "0000"
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "REWARDS",
              "balance" : "$1,000.00",
              "number" : "1111"
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "03:08",
              "type" : "REWARDS",
              "balance" : "$2,000.00",
              "number" : "2222"
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "03:08",
              "type" : "REWARDS",
              "balance" : "$3,000.00",
              "number" : "3333"
            } ]
          } ]
        }}

        
## Yoodle [/accountsummary/yodlee]
### [GET]
+ Request 

    + Headers

            Accept: text/html, application/json

+ Response 200 (application/json)
      
        {"widgets":
        [ {
          "type" : "CD_RETIREMENT",
          "isOpen" : true,
          "certificateDepositRetirementAccounts" : [ {
            "nick" : "Retirement 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CD",
            "number" : "0000",
            "amount" : "$00.00"
          }, {
            "nick" : "Retirement 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CD",
            "number" : "1111",
            "amount" : "$1,000.00"
          }, {
            "nick" : "Retirement 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CD",
            "number" : "2222",
            "amount" : "$2,000.00"
          }, {
            "nick" : "Retirement 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CD",
            "number" : "3333",
            "amount" : "$3,000.00"
          }, {
            "nick" : "Retirement 4",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CD",
            "number" : "4444",
            "amount" : "$4,000.00"
          } ],
          "total" : "$10,000.00"
        }, {
          "type" : "CHECKING_SAVING",
          "isOpen" : false,
          "checkingSavingMoneyMarketAccounts" : [ {
            "nick" : "Checking 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CHECKING",
            "number" : "0000",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 2",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CHECKING",
            "number" : "1111",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 3",
            "bbvaCompassAccount" : false,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CHECKING",
            "number" : "2222",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 4",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CHECKING",
            "number" : "3333",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          } ],
          "totalPosted" : "$40,000.00",
          "totalAvailable" : "$36,000.00"
        }, {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : false,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_CARD",
            "number" : "0000",
            "posted" : "$00.00",
            "available" : 0,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "1111",
            "posted" : "$200.00",
            "available" : 1000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : false,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_CARD",
            "number" : "2222",
            "posted" : "$400.00",
            "available" : 2000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "3333",
            "posted" : "$600.00",
            "available" : 3000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 4",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "4444",
            "posted" : "$800.00",
            "available" : 4000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 5",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "5555",
            "posted" : "$1,000.00",
            "available" : 5000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 6",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "6666",
            "posted" : "$1,200.00",
            "available" : 6000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 7",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "7777",
            "posted" : "$1,400.00",
            "available" : 7000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 8",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "8888",
            "posted" : "$1,600.00",
            "available" : 8000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 9",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "9999",
            "posted" : "$1,800.00",
            "available" : 9000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 10",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "10101010",
            "posted" : "$2,000.00",
            "available" : 10000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 11",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "11111111",
            "posted" : "$2,200.00",
            "available" : 11000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 12",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "12121212",
            "posted" : "$2,400.00",
            "available" : 12000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 13",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "13131313",
            "posted" : "$2,600.00",
            "available" : 13000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 14",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "14141414",
            "posted" : "$2,800.00",
            "available" : 14000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 15",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "15151515",
            "posted" : "$3,000.00",
            "available" : 15000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 16",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "16161616",
            "posted" : "$3,200.00",
            "available" : 16000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 17",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "17171717",
            "posted" : "$3,400.00",
            "available" : 17000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          } ],
          "total" : "$30,600.00"
        }, {
          "type" : "LOAN_MORTGAGE",
          "isOpen" : false,
          "loanMortgateAccounts" : [ {
            "nick" : "Loan 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "LOAN_ALS",
            "number" : "0000",
            "payOff" : "$00.00",
            "nextDate" : "12/26/2013",
            "nextAmount" : "$00.00"
          }, {
            "nick" : "Loan 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "LOAN_ALS",
            "number" : "1111",
            "payOff" : "$1,000.00",
            "nextDate" : "12/26/2013",
            "nextAmount" : "$200.00"
          }, {
            "nick" : "Loan 2",
            "bbvaCompassAccount" : false,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "LOAN_LOC",
            "number" : "2222",
            "payOff" : "$2,000.00",
            "nextDate" : "12/26/2013",
            "nextAmount" : "$400.00"
          }, {
            "nick" : "Loan 3",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "LOAN_LOC",
            "number" : "3333",
            "payOff" : "$3,000.00",
            "nextDate" : "12/26/2013",
            "nextAmount" : "$600.00"
          } ],
          "total" : "$6,000.00"
        }, {
          "type" : "INVESTMENT",
          "isOpen" : true,
          "investmentAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "INV",
            "number" : "0000",
            "amount" : "$00.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "INV",
            "number" : "1111",
            "amount" : "$1,000.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : false,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "INV",
            "number" : "2222",
            "amount" : "$2,000.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "INV",
            "number" : "3333",
            "amount" : "$3,000.00"
          } ],
          "total" : "$6,000.00"
        }, {
          "type" : "REAL_ESTATE",
          "isOpen" : true,
          "realEstateAccounts" : [ {
            "nick" : "Real 0",
            "bbvaCompassAccount" : false,
            "percent" : "00.00%",
            "amount" : "$00.00"
          }, {
            "nick" : "Real 1",
            "bbvaCompassAccount" : false,
            "percent" : "10.00%",
            "amount" : "$10.00"
          }, {
            "nick" : "Real 2",
            "bbvaCompassAccount" : false,
            "percent" : "20.00%",
            "amount" : "$20.00"
          }, {
            "nick" : "Real 3",
            "bbvaCompassAccount" : false,
            "percent" : "30.00%",
            "amount" : "$30.00"
          }, {
            "nick" : "Real 4",
            "bbvaCompassAccount" : false,
            "percent" : "40.00%",
            "amount" : "$40.00"
          } ],
          "total" : "$100.00"
        }, {
          "type" : "REWARDS",
          "isOpen" : true,
          "rewardsAccounts" : [ {
            "nick" : "Rewards 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "REWARDS",
            "balance" : "$00.00",
            "number" : "0000"
          }, {
            "nick" : "Rewards 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "REWARDS",
            "balance" : "$1,000.00",
            "number" : "1111"
          }, {
            "nick" : "Rewards 2",
            "bbvaCompassAccount" : false,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "REWARDS",
            "balance" : "$2,000.00",
            "number" : "2222"
          }, {
            "nick" : "Rewards 3",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "REWARDS",
            "balance" : "$3,000.00",
            "number" : "3333"
          }, {
            "nick" : "Rewards 4",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "REWARDS",
            "balance" : "$4,000.00",
            "number" : "4444"
          } ]
        } ]}
        
+ Response 200 (text/html)

               <li class="js-widget js-CD_RETIREMENT m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD" data-widget-id="" data-widget-loading=""> <div class="js-widget-head m-widgets-head g-relative">  <button class="js-collapse m-widgets-collapse e-icon-collapse g-absolute"> <span class="g-sr">Collapse</span> </button>  <h3 class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ"> Certificate of Deposit and Retirement Accounts </h3>  <button class="js-close m-widgets-close e-icon-close g-absolute"> <span class="g-sr">Close</span> </button>  </div> <div class="m-widgets-content g-backgroundA">  <table class="p-summary-widgets g-full"> <colgroup> <col class="p-summary-widgetsCol-alert"> <col class="p-summary-widgetsCol-account"> <col class="p-summary-widgetsCol-type"> <col class="p-summary-widgetsCol-amount"> </colgroup> <thead class="js-content-collapsable"> <tr> <th class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ALERT</th> <th class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-bold g-colorR" scope="col">ACCOUNT</th> <th class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ACCOUNT TYPE</th> <th class="p-summary-widgetsHead-amount g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">AVAILABLE BALANCE</th> </tr> </thead> <tfoot class="g-borderTSSCS g-backgroundD g-headlines g-textRight"> <tr> <th class="g-paddingT g-paddingRLM g-colorU" scope="row" colspan="3">Total:</th> <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$10,000.00</td> </tr> </tfoot> <tbody class="js-content-collapsable">  <tr class="g-borderTSSCS g-textCenter"> <td colspan="4">NO HAY CUNETAS</td> </tr>  <tr class="js-loading g-borderTSSCS g-textCenter"> <td colspan="4"> <div class="e-icon-loading g-auto g-block"> <span class="g-sr">Loading</span> </div> </td> </tr> </tbody> </table>  </div> </li>    <li class="js-widget js-CHECKING_SAVING m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD" data-widget-id="" data-widget-loading=""> <div class="js-widget-head m-widgets-head g-relative">  <button class="js-collapse m-widgets-collapse e-icon-collapse e-icon-expand g-absolute"> <span class="g-sr">Collapse</span> </button>  <h3 class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ"> Checking, Savings and Money Market Accounts </h3>  <button class="js-close m-widgets-close e-icon-close g-absolute"> <span class="g-sr">Close</span> </button>  </div> <div class="m-widgets-content g-backgroundA">  <table class="p-summary-widgets g-full"> <colgroup> <col class="p-summary-widgetsCol-alert"> <col class="p-summary-widgetsCol-account"> <col class="p-summary-widgetsCol-type"> <col class="p-summary-widgetsCol-posted"> <col class="p-summary-widgetsCol-available"> </colgroup> <thead class="js-content-collapsable g-sr"> <tr> <th class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ALERT</th> <th class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-bold g-colorR" scope="col">ACCOUNT</th> <th class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ACCOUNT TYPE</th> <th class="p-summary-widgetsHead-amount g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">POSTED BALANCE</th> <th class="p-summary-widgetsHead-amount g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">AVAILABLE BALANCE</th> </tr> </thead> <tfoot class="g-borderTSSCS g-backgroundD g-headlines g-textRight"> <tr> <th class="g-paddingT g-paddingRLM g-colorU" scope="row" colspan="3">Total:</th> <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$40,000.00</td> <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$36,000.00</td> </tr> </tfoot> <tbody class="js-content-collapsable g-sr">   <tr class="g-borderTSSCS g-textCenter"> <td colspan="5">NO HAY CUNETAS</td> </tr>   <tr class="js-loading g-borderTSSCS g-textCenter"> <td colspan="5"> <div class="e-icon-loading g-auto g-block"> <span class="g-sr">Loading</span> </div> </td> </tr> </tbody> </table>  </div> </li>          <li class="js-widget js-CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD" data-widget-id="" data-widget-loading=""> <div class="js-widget-head m-widgets-head g-relative">  <button class="js-collapse m-widgets-collapse e-icon-collapse e-icon-expand g-absolute"> <span class="g-sr">Collapse</span> </button>  <h3 class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ"> Credit Card, Line of Credit and Overdraft Protection </h3>  <button class="js-close m-widgets-close e-icon-close g-absolute"> <span class="g-sr">Close</span> </button>  </div> <div class="m-widgets-content g-backgroundA">  <table class="m-widgetstables g-full"> <colgroup> <col class="p-summary-widgetsCol-alert"> <col class="p-summary-widgetsCol-account"> <col class="p-summary-widgetsCol-type"> <col class="p-summary-widgetsCol-details"> </colgroup> <thead class="js-content-collapsable g-sr"> <tr> <th class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ALERT</th> <th class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-bold g-colorR" scope="col">ACCOUNT</th> <th class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ACCOUNT TYPE</th> <th class="p-summary-widgetsHead-details g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">BALANCE DETAILS</th> </tr> </thead> <tfoot class="g-borderTSSCS g-backgroundD g-headlines g-textRight"> <tr> <th class="g-paddingT g-paddingRLM g-colorU" scope="row" colspan="3">Total:</th> <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$30,600.00</td> </tr> </tfoot> <tbody class="js-content-collapsable g-sr">  <tr class="g-borderTSSCS g-textCenter"> <td colspan="5">NO HAY CUNETAS</td> </tr>  <tr class="js-loading g-borderTSSCS g-textCenter"> <td colspan="5"> <div class="e-icon-loading g-auto g-block"> <span class="g-sr">Loading</span> </div> </td> </tr> </tbody> </table>  </div> </li>             <li class="js-widget js-LOAN_MORTGAGE m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD" data-widget-id="" data-widget-loading=""> <div class="js-widget-head m-widgets-head g-relative">  <button class="js-collapse m-widgets-collapse e-icon-collapse e-icon-expand g-absolute"> <span class="g-sr">Collapse</span> </button>  <h3 class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ"> Loan and Mortgage Accounts </h3>  <button class="js-close m-widgets-close e-icon-close g-absolute"> <span class="g-sr">Close</span> </button>  </div> <div class="m-widgets-content g-backgroundA">  <table class="m-widgetstables g-full"> <colgroup> <col class="p-summary-widgetsCol-alert"> <col class="p-summary-widgetsCol-account"> <col class="p-summary-widgetsCol-type"> <col class="p-summary-widgetsCol-details"> </colgroup> <thead class="js-content-collapsable g-sr"> <tr> <th class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ALERT</th> <th class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-bold g-colorR" scope="col">ACCOUNT</th> <th class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ACCOUNT TYPE</th> <th class="p-summary-widgetsHead-details g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">BALANCE DETAILS</th> </tr> </thead> <tfoot class="g-borderTSSCS g-backgroundD g-headlines g-textRight"> <tr> <th class="g-paddingTB g-paddingRLM g-colorU" scope="row" colspan="3">Total:</th> <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$6,000.00</td> </tr> </tfoot> <tbody class="js-content-collapsable g-sr">  <tr class="g-borderTSSCS g-textCenter"> <td colspan="5">NO HAY CUNETAS</td> </tr>  <tr class="js-loading g-borderTSSCS g-textCenter"> <td colspan="5"> <div class="e-icon-loading g-auto g-block"> <span class="g-sr">Loading</span> </div> </td> </tr> </tbody> </table> <p class="g-paddingT g-paddingRL g-backgroundD g-borderTSSCS"> * Balance shown in an estimated one-day payoff balance. </p>  </div> </li>                <li class="js-widget js-INVESTMENT m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD" data-widget-id="" data-widget-loading=""> <div class="js-widget-head m-widgets-head g-relative">  <button class="js-collapse m-widgets-collapse e-icon-collapse g-absolute"> <span class="g-sr">Collapse</span> </button>  <h3 class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ"> Investment Accounts </h3>  <button class="js-close m-widgets-close e-icon-close g-absolute"> <span class="g-sr">Close</span> </button>  </div> <div class="m-widgets-content g-backgroundA">  <table class="p-summary-widgets g-full"> <colgroup> <col class="p-summary-widgetsCol-alert"> <col class="p-summary-widgetsCol-account"> <col class="p-summary-widgetsCol-type"> <col class="p-summary-widgetsCol-amount"> </colgroup> <thead class="js-content-collapsable"> <tr class="js-content-collapsable"> <th class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ALERT</th> <th class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-bold g-colorR" scope="col">ACCOUNT</th> <th class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ACCOUNT TYPE</th> <th class="p-summary-widgetsHead-amount g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">VALUE</th> </tr> </thead> <tfoot class="g-borderTSSCS g-backgroundD g-headlines g-textRight"> <tr> <th class="g-paddingT g-paddingRLM g-colorU" scope="row" colspan="3">Total:</th> <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$6,000.00</td> </tr> </tfoot> <tbody class="js-content-collapsable">  <tr class="g-borderTSSCS g-textCenter"> <td colspan="5">NO HAY CUNETAS</td> </tr>  <tr class="js-loading g-borderTSSCS g-textCenter"> <td colspan="5"> <div class="e-icon-loading g-auto g-block"> <span class="g-sr">Loading</span> </div> </td> </tr> </tbody> </table>  </div> </li>                   <li class="js-widget js-REAL_ESTATE m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD" data-widget-id="" data-widget-loading=""> <div class="js-widget-head m-widgets-head g-relative">  <button class="js-collapse m-widgets-collapse e-icon-collapse g-absolute"> <span class="g-sr">Collapse</span> </button>  <h3 class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ"> Real Estate </h3>  <button class="js-close m-widgets-close e-icon-close g-absolute"> <span class="g-sr">Close</span> </button>  </div> <div class="m-widgets-content g-backgroundA">  <table class="m-widgetstables g-full"> <colgroup> <col class="p-summary-widgetsCol-description"> <col class="p-summary-widgetsCol-percent"> <col class="p-summary-widgetsCol-amount"> </colgroup> <thead class="js-content-collapsable"> <tr> <th class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">DESCRIPTION</th> <th class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">% HOME EQUITY AMOUNT</th> <th class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">HOME EQUITY AMOUNT</th> </tr> </thead> <tfoot class="g-borderTSSCS g-backgroundD g-headlines g-textRight"> <tr> <th class="g-paddingT g-paddingRLM g-colorU" scope="row" colspan="2">Total:</th> <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$100.00</td> </tr> </tfoot> <tbody class="js-content-collapsable">   <tr class="g-borderTSSCS g-textCenter"> <td colspan="3">NO HAY CUNETAS</td> </tr>   <tr class="js-loading g-borderTSSCS g-textCenter"> <td colspan="3"> <div class="e-icon-loading g-auto g-block"> <span class="g-sr">Loading</span> </div> </td> </tr> </tbody> </table>  </div> </li>                      <li class="js-widget js-REWARDS m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD" data-widget-id="" data-widget-loading=""> <div class="js-widget-head m-widgets-head g-relative">  <button class="js-collapse m-widgets-collapse e-icon-collapse g-absolute"> <span class="g-sr">Collapse</span> </button>  <h3 class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ"> Rewards </h3>  <button class="js-close m-widgets-close e-icon-close g-absolute"> <span class="g-sr">Close</span> </button>  </div> <div class="m-widgets-content g-backgroundA">  <table class="js-content-collapsable p-summary-widgets g-full"> <colgroup> <col class="p-summary-widgetsCol-alert"> <col class="p-summary-widgetsCol-account"> <col class="p-summary-widgetsCol-number"> <col class="p-summary-widgetsCol-amount"> </colgroup> <thead> <tr> <th class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ALERT</th> <th class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-bold g-colorR" scope="col">ACCOUNT</th> <th class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">NUMBER</th> <th class="p-summary-widgetsHead-amount g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">BALANCE</th> </tr> </thead> <tbody>  <tr class="g-borderTSSCS g-textCenter"> <td colspan="3">NO HAY CUNETAS</td> </tr>  <tr class="js-loading g-borderTSSCS g-textCenter"> <td colspan="3"> <div class="e-icon-loading g-auto g-block"> <span class="g-sr">Loading</span> </div> </td> </tr> </tbody> </table>  </div> </li>                    
    
## Credit Card [/accountsummary/credit-card]
### [GET]
El content-type json, se utilizará únicamente en modo de desarrollo, ya que para utilizar las llamadas AJAX será necesario solicitar el contenido como text/html

+ Request 

    + Headers

            Accept: text/html, application/json

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_CARD",
            "number" : "0000",
            "posted" : "$00.00",
            "available" : 0,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "1111",
            "posted" : "$200.00",
            "available" : 1000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : false,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_CARD",
            "number" : "2222",
            "posted" : "$400.00",
            "available" : 2000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : false,
            "alert" : false,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "3333",
            "posted" : "$600.00",
            "available" : 3000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 4",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "03:08",
            "type" : "CREDIT_LINE",
            "number" : "4444",
            "posted" : "$800.00",
            "available" : 4000,
            "nextDate" : "12/26/2013",
            "minAmount" : "$200.00"
          } ],
          "total" : "$2,000.00"
        } ]}
        

+ Response 200 (text/html)

                  <li class="js-widget js-CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD" data-widget-id="" data-widget-loading=""> <div class="js-widget-head m-widgets-head g-relative">  <button class="js-collapse m-widgets-collapse e-icon-collapse g-absolute"> <span class="g-sr">Collapse</span> </button>  <h3 class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ"> Credit Card, Line of Credit and Overdraft Protection </h3>  <button class="js-close m-widgets-close e-icon-close g-absolute"> <span class="g-sr">Close</span> </button>  </div> <div class="m-widgets-content g-backgroundA">  <table class="m-widgetstables g-full"> <colgroup> <col class="p-summary-widgetsCol-alert"> <col class="p-summary-widgetsCol-account"> <col class="p-summary-widgetsCol-type"> <col class="p-summary-widgetsCol-details"> </colgroup> <thead class="js-content-collapsable"> <tr> <th class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ALERT</th> <th class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-bold g-colorR" scope="col">ACCOUNT</th> <th class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">ACCOUNT TYPE</th> <th class="p-summary-widgetsHead-details g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR" scope="col">BALANCE DETAILS</th> </tr> </thead> <tfoot class="g-borderTSSCS g-backgroundD g-headlines g-textRight"> <tr> <th class="g-paddingT g-paddingRLM g-colorU" scope="row" colspan="3">Total:</th> <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$2,000.00</td> </tr> </tfoot> <tbody class="js-content-collapsable">  <tr class="g-borderTSSCS g-textCenter"> <td colspan="4">NO HAY CUNETAS</td> </tr>  <tr class="js-loading g-borderTSSCS g-textCenter"> <td colspan="4"> <div class="e-icon-loading g-auto g-block"> <span class="g-sr">Loading</span> </div> </td> </tr> </tbody> </table>  </div> </li>

## Account Summary PDF [/accountsummary/pdf]
### [GET]

+ Response 200

## Account Summary EXCEL [/accountsummary/xlsx]
### [GET]

+ Response 200


# Group Mocks y comportamientos extra
## COMPSBA-186
## Account Summary Load [/accountsummary/load?mock=COMPSBA-186]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-186>

+ Response 200 (application/json)

        {"summary":
        {
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ {
            } ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ {
            } ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
            } ],
            "total" : "$00.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-186]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-186>
+ Parameters
    + filter (required, enumeration) ... compass, external, personal, business

+ Response 200 (application/json)
    
        {"summary":
        {
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ {
            } ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ {
            } ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
            } ],
            "total" : "$00.00"
          } ]
        }}