FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/accountsummary/load]
### . [GET]
+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/app/accountsummary#CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xya *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "Xyk *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-03-07T19:28:55.480Z",
              "humanReadability" : "Fri, 03/07/2014 at 07:28 PM. CT"
            }
          },
          "showMobilePreferencesReminder" : false,
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$30,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$27,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CD_RETIREMENT",
                "accounts" : [ {
                  "nick" : "Retirement 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 4",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "4444",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$4,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$6,000.00",
                  "negative" : false
                }
              }, {
                "type" : "INVESTMENT",
                "adviceVisible" : true,
                "accounts" : [ ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$0.00",
                  "negative" : false
                }
              }, {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "available" : 0,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.494Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  },
                  "available" : 1000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$200.00",
                  "negative" : false
                }
              }, {
                "type" : "LOAN_MORTGAGE",
                "accounts" : [ {
                  "nick" : "Loan 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "LOAN_ALS",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "payOff" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$1,000.00",
                  "negative" : false
                }
              }, {
                "type" : "REAL_ESTATE",
                "accounts" : [ {
                  "nick" : "Real 0",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.00%",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 1",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.10%",
                  "amount" : {
                    "humanReadability" : "$10.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$10.00",
                  "negative" : false
                }
              }, {
                "type" : "REWARDS",
                "accounts" : [ {
                  "nick" : "Rewards 24",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00024",
                  "balance" : {
                    "humanReadability" : "$4,200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Rewards 89",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00089",
                  "balance" : {
                    "humanReadability" : "$15,575.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$10,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$9,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CD_RETIREMENT",
                "accounts" : [ {
                  "nick" : "Retirement 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$4,000.00",
                  "negative" : false
                }
              }, {
                "type" : "INVESTMENT",
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "INV",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "INV",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "INV",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "INV",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$6,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  },
                  "available" : 2000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  },
                  "available" : 3000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$1,000.00",
                  "negative" : false
                }
              }, {
                "type" : "LOAN_MORTGAGE",
                "accounts" : [ {
                  "nick" : "Loan 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "LOAN_ALS",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "payOff" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Loan 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "LOAN_LOC",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "payOff" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Loan 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "LOAN_LOC",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "payOff" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.496Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$5,000.00",
                  "negative" : false
                }
              }, {
                "type" : "REAL_ESTATE",
                "accounts" : [ {
                  "nick" : "Real 2",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.20%",
                  "amount" : {
                    "humanReadability" : "$20.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 3",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.30%",
                  "amount" : {
                    "humanReadability" : "$30.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 4",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.40%",
                  "amount" : {
                    "humanReadability" : "$40.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$90.00",
                  "negative" : false
                }
              }, {
                "type" : "REWARDS",
                "accounts" : [ {
                  "nick" : "Rewards 68",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00068",
                  "balance" : {
                    "humanReadability" : "$11,900.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Rewards 80",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00080",
                  "balance" : {
                    "humanReadability" : "$14,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$40,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$36,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CD_RETIREMENT",
                "accounts" : [ {
                  "nick" : "Retirement 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 4",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "4444",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$4,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$10,000.00",
                  "negative" : false
                }
              }, {
                "type" : "INVESTMENT",
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "INV",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "INV",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "INV",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "INV",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "amount" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : false,
                "total" : {
                  "humanReadability" : "$6,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "available" : 0,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.494Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  },
                  "available" : 1000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  },
                  "available" : 2000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  },
                  "available" : 3000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$1,200.00",
                  "negative" : false
                }
              }, {
                "type" : "LOAN_MORTGAGE",
                "accounts" : [ {
                  "nick" : "Loan 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "LOAN_ALS",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "payOff" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Loan 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "LOAN_ALS",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "payOff" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Loan 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "LOAN_LOC",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "payOff" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.495Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Loan 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "LOAN_LOC",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "payOff" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:55.496Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$6,000.00",
                  "negative" : false
                }
              }, {
                "type" : "REAL_ESTATE",
                "accounts" : [ {
                  "nick" : "Real 0",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.00%",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 1",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.10%",
                  "amount" : {
                    "humanReadability" : "$10.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 2",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.20%",
                  "amount" : {
                    "humanReadability" : "$20.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 3",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.30%",
                  "amount" : {
                    "humanReadability" : "$30.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 4",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.40%",
                  "amount" : {
                    "humanReadability" : "$40.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$100.00",
                  "negative" : false
                }
              }, {
                "type" : "REWARDS",
                "accounts" : [ {
                  "nick" : "Rewards 24",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00024",
                  "balance" : {
                    "humanReadability" : "$4,200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Rewards 68",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00068",
                  "balance" : {
                    "humanReadability" : "$11,900.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Rewards 89",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00089",
                  "balance" : {
                    "humanReadability" : "$15,575.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Rewards 80",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00080",
                  "balance" : {
                    "humanReadability" : "$14,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : false
              } ],
              "hasAccounts" : true
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : {
                    "humanReadability" : "$1,300.54",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20000.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$1,000,000.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50,000.25",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : {
                    "humanReadability" : "$302.14",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 222.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$9,999.00",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20.00
                },
                "transferMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50.00",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : {
                    "humanReadability" : "$586.15",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 4000.90
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$155,155.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$8,780.65",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : {
                    "humanReadability" : "$200.94",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 8623.23
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$351,456.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$9,823.25",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : {
                    "humanReadability" : "$1,300.54",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20000.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$1,000,000.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50,000.25",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : {
                    "humanReadability" : "$302.14",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 222.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$9,999.00",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20.00
                },
                "transferMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50.00",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : {
                    "humanReadability" : "$586.15",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 4000.90
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$155,155.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$8,780.65",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : {
                    "humanReadability" : "$200.94",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 8623.23
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$351,456.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$9,823.25",
                  "negative" : false
                }
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : {
                  "humanReadability" : "$310.54",
                  "negative" : false
                }
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : {
                  "humanReadability" : "$5,300.24",
                  "negative" : false
                }
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : {
                  "humanReadability" : "$1,000.24",
                  "negative" : false
                }
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : {
                  "humanReadability" : "$2,320.00",
                  "negative" : false
                }
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : {
                  "humanReadability" : "$327.67",
                  "negative" : false
                }
              }, {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : {
                  "humanReadability" : "$310.54",
                  "negative" : false
                }
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : {
                  "humanReadability" : "$5,300.24",
                  "negative" : false
                }
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : {
                  "humanReadability" : "$1,000.24",
                  "negative" : false
                }
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : {
                  "humanReadability" : "$2,320.00",
                  "negative" : false
                }
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : {
                  "humanReadability" : "$327.67",
                  "negative" : false
                }
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "fromAccount" : "XYZ *4040",
                "toAccount" : "XYZ *5040",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$250.25",
                  "negative" : false
                }
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "fromAccount" : "XYZ *4041",
                "toAccount" : "XYZ *5041",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$100.00",
                  "negative" : false
                }
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "fromAccount" : "XYZ *4042",
                "toAccount" : "XYZ *5042",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$1,500.12",
                  "negative" : false
                }
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "fromAccount" : "XYZ *6040",
                "toAccount" : "XYZ *7040",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$400.60",
                  "negative" : false
                }
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "fromAccount" : "XYZ *6041",
                "toAccount" : "XYZ *7041",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$25.02",
                  "negative" : false
                }
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "fromAccount" : "XYZ *6042",
                "toAccount" : "XYZ *7042",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$500.98",
                  "negative" : false
                }
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$100.00",
                  "negative" : false
                }
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "overdue" : false,
                "amount" : {
                  "humanReadability" : "$340.50",
                  "negative" : false
                }
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "overdue" : false,
                "amount" : {
                  "humanReadability" : "$34.20",
                  "negative" : false
                }
              } ],
              "total" : {
                "humanReadability" : "$474.70",
                "negative" : false
              }
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : {
                  "humanReadability" : "$50.00",
                  "negative" : false
                }
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : {
                  "humanReadability" : "$640.00",
                  "negative" : false
                }
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : {
                  "humanReadability" : "$80.75",
                  "negative" : false
                }
              } ]
            }
          }
        }}

## Account Summary external accounts [/accountsummary/load/external]
### . [GET]
+ Response 200 (application/json)

        {
          "modulesList" : [ ],
          "hasAccounts" : false
        }
        

## Account Summary UpdateTabsChange [/accountsummary/tabs/{filter}]
### . [POST]
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200

## Account Summary close investments advice [/accountsummary/investements/advice]
### . [DELETE]

+ Response 200

## Account Summary update module state [/accountsummary/state/module/{filter}/{moduleType}]
### . [PUT]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

### . [DELETE]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

## Account Summary change order module [/accountsummary/order/module/{filter}/{moduleType}]
### . [PUT]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

## Account Summary update widget state [/accountsummary/state/widget]
### . [PUT]

+ Response 200

### . [DELETE]

+ Response 200

## Account Summary PDF [/accountsummary/pdf]
### . [GET]

+ Response 200

## Account Summary EXCEL [/accountsummary/xlsx]
### . [GET]

+ Response 200


# Group Mocks COMPSBA-186
## Account Summary Load [/accountsummary/load?mock=COMPSBA-186]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-186>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/app/accountsummary#CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xya *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "Xyk *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-03-07T19:28:56.842Z",
              "humanReadability" : "Fri, 03/07/2014 at 07:28 PM. CT"
            }
          },
          "showMobilePreferencesReminder" : false,
          "modules" : {
            "personal" : {
              "modulesList" : [ ],
              "hasAccounts" : false
            },
            "business" : {
              "modulesList" : [ ],
              "hasAccounts" : false
            },
            "internal" : {
              "modulesList" : [ ],
              "hasAccounts" : false
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : {
                    "humanReadability" : "$1,300.54",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20000.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$1,000,000.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50,000.25",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : {
                    "humanReadability" : "$302.14",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 222.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$9,999.00",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20.00
                },
                "transferMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50.00",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : {
                    "humanReadability" : "$586.15",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 4000.90
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$155,155.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$8,780.65",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : {
                    "humanReadability" : "$200.94",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 8623.23
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$351,456.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$9,823.25",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : {
                    "humanReadability" : "$1,300.54",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20000.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$1,000,000.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50,000.25",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : {
                    "humanReadability" : "$302.14",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 222.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$9,999.00",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20.00
                },
                "transferMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50.00",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : {
                    "humanReadability" : "$586.15",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 4000.90
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$155,155.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$8,780.65",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : {
                    "humanReadability" : "$200.94",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 8623.23
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$351,456.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$9,823.25",
                  "negative" : false
                }
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : {
                  "humanReadability" : "$310.54",
                  "negative" : false
                }
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : {
                  "humanReadability" : "$5,300.24",
                  "negative" : false
                }
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : {
                  "humanReadability" : "$1,000.24",
                  "negative" : false
                }
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : {
                  "humanReadability" : "$2,320.00",
                  "negative" : false
                }
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : {
                  "humanReadability" : "$327.67",
                  "negative" : false
                }
              }, {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : {
                  "humanReadability" : "$310.54",
                  "negative" : false
                }
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : {
                  "humanReadability" : "$5,300.24",
                  "negative" : false
                }
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : {
                  "humanReadability" : "$1,000.24",
                  "negative" : false
                }
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : {
                  "humanReadability" : "$2,320.00",
                  "negative" : false
                }
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : {
                  "humanReadability" : "$327.67",
                  "negative" : false
                }
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "fromAccount" : "XYZ *4040",
                "toAccount" : "XYZ *5040",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$250.25",
                  "negative" : false
                }
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "fromAccount" : "XYZ *4041",
                "toAccount" : "XYZ *5041",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$100.00",
                  "negative" : false
                }
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "fromAccount" : "XYZ *4042",
                "toAccount" : "XYZ *5042",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$1,500.12",
                  "negative" : false
                }
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "fromAccount" : "XYZ *6040",
                "toAccount" : "XYZ *7040",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$400.60",
                  "negative" : false
                }
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "fromAccount" : "XYZ *6041",
                "toAccount" : "XYZ *7041",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$25.02",
                  "negative" : false
                }
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "fromAccount" : "XYZ *6042",
                "toAccount" : "XYZ *7042",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$500.98",
                  "negative" : false
                }
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$100.00",
                  "negative" : false
                }
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "overdue" : false,
                "amount" : {
                  "humanReadability" : "$340.50",
                  "negative" : false
                }
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "overdue" : false,
                "amount" : {
                  "humanReadability" : "$34.20",
                  "negative" : false
                }
              } ],
              "total" : {
                "humanReadability" : "$474.70",
                "negative" : false
              }
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : {
                  "humanReadability" : "$50.00",
                  "negative" : false
                }
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : {
                  "humanReadability" : "$640.00",
                  "negative" : false
                }
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : {
                  "humanReadability" : "$80.75",
                  "negative" : false
                }
              } ]
            }
          }
        }}
        
        
# Group Mocks COMPSBA-188
## Account Summary Load [/accountsummary/load?mock=COMPSBA-188]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-188>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/app/accountsummary#CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xya *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "Xyk *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-03-07T19:28:57.043Z",
              "humanReadability" : "Fri, 03/07/2014 at 07:28 PM. CT"
            }
          },
          "showMobilePreferencesReminder" : false,
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  },
                  "available" : 3000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:57.045Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$600.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "available" : 0,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:57.045Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_LINE",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  },
                  "available" : 1000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:57.045Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_CARD",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  },
                  "available" : 2000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:57.045Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$600.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "available" : 0,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:57.045Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_LINE",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  },
                  "available" : 1000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:57.045Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_CARD",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  },
                  "available" : 2000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:57.045Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  },
                  "available" : 3000,
                  "nextDate" : {
                    "iso8601" : "2014-03-07T19:28:57.045Z",
                    "humanReadability" : "03/07/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$1,200.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : {
                    "humanReadability" : "$1,300.54",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20000.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$1,000,000.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50,000.25",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : {
                    "humanReadability" : "$302.14",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 222.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$9,999.00",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20.00
                },
                "transferMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50.00",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : {
                    "humanReadability" : "$586.15",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 4000.90
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$155,155.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$8,780.65",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : {
                    "humanReadability" : "$200.94",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 8623.23
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$351,456.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$9,823.25",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : {
                    "humanReadability" : "$1,300.54",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20000.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$1,000,000.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50,000.25",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : {
                    "humanReadability" : "$302.14",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 222.50
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$9,999.00",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20.00
                },
                "transferMaxLimit" : {
                  "humanReadability" : "N/A",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$50.00",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : {
                    "humanReadability" : "$586.15",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 4000.90
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$155,155.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$8,780.65",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : {
                    "humanReadability" : "$200.94",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 8623.23
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$351,456.25",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$9,823.25",
                  "negative" : false
                }
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : {
                  "humanReadability" : "$310.54",
                  "negative" : false
                }
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : {
                  "humanReadability" : "$5,300.24",
                  "negative" : false
                }
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : {
                  "humanReadability" : "$1,000.24",
                  "negative" : false
                }
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : {
                  "humanReadability" : "$2,320.00",
                  "negative" : false
                }
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : {
                  "humanReadability" : "$327.67",
                  "negative" : false
                }
              }, {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : {
                  "humanReadability" : "$310.54",
                  "negative" : false
                }
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : {
                  "humanReadability" : "$5,300.24",
                  "negative" : false
                }
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : {
                  "humanReadability" : "$1,000.24",
                  "negative" : false
                }
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : {
                  "humanReadability" : "$2,320.00",
                  "negative" : false
                }
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : {
                  "humanReadability" : "$327.67",
                  "negative" : false
                }
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "fromAccount" : "XYZ *4040",
                "toAccount" : "XYZ *5040",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$250.25",
                  "negative" : false
                }
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "fromAccount" : "XYZ *4041",
                "toAccount" : "XYZ *5041",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$100.00",
                  "negative" : false
                }
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "fromAccount" : "XYZ *4042",
                "toAccount" : "XYZ *5042",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$1,500.12",
                  "negative" : false
                }
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "fromAccount" : "XYZ *6040",
                "toAccount" : "XYZ *7040",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$400.60",
                  "negative" : false
                }
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "fromAccount" : "XYZ *6041",
                "toAccount" : "XYZ *7041",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$25.02",
                  "negative" : false
                }
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "fromAccount" : "XYZ *6042",
                "toAccount" : "XYZ *7042",
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "Tue, 09/11/2012 at 02:55 PM. CT"
                },
                "amount" : {
                  "humanReadability" : "$500.98",
                  "negative" : false
                }
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$100.00",
                  "negative" : false
                }
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "overdue" : false,
                "amount" : {
                  "humanReadability" : "$340.50",
                  "negative" : false
                }
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "overdue" : false,
                "amount" : {
                  "humanReadability" : "$34.20",
                  "negative" : false
                }
              } ],
              "total" : {
                "humanReadability" : "$474.70",
                "negative" : false
              }
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : {
                  "humanReadability" : "$50.00",
                  "negative" : false
                }
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : {
                  "humanReadability" : "$640.00",
                  "negative" : false
                }
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : {
                  "humanReadability" : "$80.75",
                  "negative" : false
                }
              } ]
            }
          }
        }}
        
        
# Group Mocks COMPSBA-189
## Account Summary Load [/accountsummary/load?mock=COMPSBA-189]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-189>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/app/accountsummary#CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xya *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "Xyk *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-03-07T19:28:57.415Z",
              "humanReadability" : "Fri, 03/07/2014 at 07:28 PM. CT"
            }
          },
          "showMobilePreferencesReminder" : false,
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "0000",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "1111",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "2222",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$30,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$27,000.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$0.00",
                  "negative" : false
                }
              }, {
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "3333",
                  "lastUpdated" : "07:28",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$10,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$9,000.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
[...]
