FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/accountsummary/load]
### [GET]
+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : {
            "personal" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ {
                "nick" : "Checking 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "0000",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 2",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "1111",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 4",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "3333",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              } ],
              "totalPosted" : "$30,000.00",
              "totalAvailable" : "$27,000.00"
            }, {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ {
                "nick" : "Retirement 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "1111",
                "amount" : "$1,000.00"
              }, {
                "nick" : "Retirement 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "2222",
                "amount" : "$2,000.00"
              } ],
              "total" : "$3,000.00"
            }, {
              "type" : "INVESTMENT",
              "adviceVisible" : true,
              "isOpen" : true,
              "investmentAccounts" : [ {
                "nick" : "Credit 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "0000",
                "amount" : "$00.00"
              }, {
                "nick" : "Credit 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "2222",
                "amount" : "$2,000.00"
              } ],
              "total" : "$2,000.00"
            }, {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ {
                "nick" : "Credit 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "0000",
                "posted" : "$00.00",
                "available" : 0,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              } ],
              "total" : "$00.00"
            }, {
              "type" : "LOAN_MORTGAGE",
              "isOpen" : true,
              "loanMortgateAccounts" : [ {
                "nick" : "Loan 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "LOAN_ALS",
                "number" : "1111",
                "payOff" : "$1,000.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$200.00"
              }, {
                "nick" : "Loan 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "LOAN_LOC",
                "number" : "3333",
                "payOff" : "$3,000.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$600.00"
              } ],
              "total" : "$4,000.00"
            }, {
              "type" : "REAL_ESTATE",
              "isOpen" : true,
              "realEstateAccounts" : [ {
                "nick" : "Real 0",
                "bbvaCompassAccount" : true,
                "percent" : "00.00%",
                "amount" : "$00.00"
              }, {
                "nick" : "Real 2",
                "bbvaCompassAccount" : true,
                "percent" : "20.00%",
                "amount" : "$20.00"
              }, {
                "nick" : "Real 4",
                "bbvaCompassAccount" : true,
                "percent" : "40.00%",
                "amount" : "$40.00"
              } ],
              "total" : "$60.00"
            }, {
              "type" : "REWARDS",
              "isOpen" : true,
              "rewardsAccounts" : [ {
                "nick" : "Rewards 47",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$8,225.00",
                "number" : "00047"
              }, {
                "nick" : "Rewards 76",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$13,300.00",
                "number" : "00076"
              } ]
            } ],
            "business" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ {
                "nick" : "Checking 3",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "2222",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              } ],
              "totalPosted" : "$10,000.00",
              "totalAvailable" : "$9,000.00"
            }, {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ {
                "nick" : "Retirement 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "0000",
                "amount" : "$00.00"
              }, {
                "nick" : "Retirement 3",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "3333",
                "amount" : "$3,000.00"
              }, {
                "nick" : "Retirement 4",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "4444",
                "amount" : "$4,000.00"
              } ],
              "total" : "$7,000.00"
            }, {
              "type" : "INVESTMENT",
              "adviceVisible" : true,
              "isOpen" : true,
              "investmentAccounts" : [ {
                "nick" : "Credit 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "1111",
                "amount" : "$1,000.00"
              }, {
                "nick" : "Credit 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "3333",
                "amount" : "$3,000.00"
              } ],
              "total" : "$4,000.00"
            }, {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ {
                "nick" : "Credit 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
                "number" : "1111",
                "posted" : "$200.00",
                "available" : 1000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "2222",
                "posted" : "$400.00",
                "available" : 2000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
                "number" : "3333",
                "posted" : "$600.00",
                "available" : 3000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              } ],
              "total" : "$1,200.00"
            }, {
              "type" : "LOAN_MORTGAGE",
              "isOpen" : true,
              "loanMortgateAccounts" : [ {
                "nick" : "Loan 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "LOAN_ALS",
                "number" : "0000",
                "payOff" : "$00.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$00.00"
              }, {
                "nick" : "Loan 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "LOAN_LOC",
                "number" : "2222",
                "payOff" : "$2,000.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$400.00"
              } ],
              "total" : "$2,000.00"
            }, {
              "type" : "REAL_ESTATE",
              "isOpen" : true,
              "realEstateAccounts" : [ {
                "nick" : "Real 1",
                "bbvaCompassAccount" : true,
                "percent" : "10.00%",
                "amount" : "$10.00"
              }, {
                "nick" : "Real 3",
                "bbvaCompassAccount" : true,
                "percent" : "30.00%",
                "amount" : "$30.00"
              } ],
              "total" : "$40.00"
            }, {
              "type" : "REWARDS",
              "isOpen" : true,
              "rewardsAccounts" : [ {
                "nick" : "Rewards 30",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$5,250.00",
                "number" : "00030"
              }, {
                "nick" : "Rewards 11",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$1,925.00",
                "number" : "00011"
              } ]
            } ],
            "internal" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ {
                "nick" : "Checking 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "0000",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 2",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "1111",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 3",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "2222",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 4",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "3333",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              } ],
              "totalPosted" : "$40,000.00",
              "totalAvailable" : "$36,000.00"
            }, {
              "type" : "CD_RETIREMENT",
              "isOpen" : false,
              "certificateDepositRetirementAccounts" : [ {
                "nick" : "Retirement 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "0000",
                "amount" : "$00.00"
              }, {
                "nick" : "Retirement 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "1111",
                "amount" : "$1,000.00"
              }, {
                "nick" : "Retirement 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "2222",
                "amount" : "$2,000.00"
              }, {
                "nick" : "Retirement 3",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "3333",
                "amount" : "$3,000.00"
              }, {
                "nick" : "Retirement 4",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "4444",
                "amount" : "$4,000.00"
              } ],
              "total" : "$10,000.00"
            }, {
              "type" : "INVESTMENT",
              "adviceVisible" : true,
              "isOpen" : true,
              "investmentAccounts" : [ {
                "nick" : "Credit 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "0000",
                "amount" : "$00.00"
              }, {
                "nick" : "Credit 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "1111",
                "amount" : "$1,000.00"
              }, {
                "nick" : "Credit 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "2222",
                "amount" : "$2,000.00"
              }, {
                "nick" : "Credit 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "3333",
                "amount" : "$3,000.00"
              } ],
              "total" : "$6,000.00"
            }, {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ {
                "nick" : "Credit 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "0000",
                "posted" : "$00.00",
                "available" : 0,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
                "number" : "1111",
                "posted" : "$200.00",
                "available" : 1000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "2222",
                "posted" : "$400.00",
                "available" : 2000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
                "number" : "3333",
                "posted" : "$600.00",
                "available" : 3000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              } ],
              "total" : "$1,200.00"
            }, {
              "type" : "LOAN_MORTGAGE",
              "isOpen" : false,
              "loanMortgateAccounts" : [ {
                "nick" : "Loan 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "LOAN_ALS",
                "number" : "0000",
                "payOff" : "$00.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$00.00"
              }, {
                "nick" : "Loan 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "LOAN_ALS",
                "number" : "1111",
                "payOff" : "$1,000.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$200.00"
              }, {
                "nick" : "Loan 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "LOAN_LOC",
                "number" : "2222",
                "payOff" : "$2,000.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$400.00"
              }, {
                "nick" : "Loan 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "LOAN_LOC",
                "number" : "3333",
                "payOff" : "$3,000.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$600.00"
              } ],
              "total" : "$6,000.00"
            }, {
              "type" : "REAL_ESTATE",
              "isOpen" : false,
              "realEstateAccounts" : [ {
                "nick" : "Real 0",
                "bbvaCompassAccount" : true,
                "percent" : "00.00%",
                "amount" : "$00.00"
              }, {
                "nick" : "Real 1",
                "bbvaCompassAccount" : true,
                "percent" : "10.00%",
                "amount" : "$10.00"
              }, {
                "nick" : "Real 2",
                "bbvaCompassAccount" : true,
                "percent" : "20.00%",
                "amount" : "$20.00"
              }, {
                "nick" : "Real 3",
                "bbvaCompassAccount" : true,
                "percent" : "30.00%",
                "amount" : "$30.00"
              }, {
                "nick" : "Real 4",
                "bbvaCompassAccount" : true,
                "percent" : "40.00%",
                "amount" : "$40.00"
              } ],
              "total" : "$100.00"
            }, {
              "type" : "REWARDS",
              "isOpen" : true,
              "rewardsAccounts" : [ {
                "nick" : "Rewards 47",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$8,225.00",
                "number" : "00047"
              }, {
                "nick" : "Rewards 30",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$5,250.00",
                "number" : "00030"
              }, {
                "nick" : "Rewards 76",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$13,300.00",
                "number" : "00076"
              }, {
                "nick" : "Rewards 11",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$1,925.00",
                "number" : "00011"
              } ]
            } ]
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 1001,
                "name" : "Money Market *3560",
                "balance" : "$1,300.54"
              }, {
                "id" : 1002,
                "name" : "Money Market *3562",
                "balance" : "$302.14"
              }, {
                "id" : 1003,
                "name" : "Money Market *3564",
                "balance" : "$1,000.00"
              }, {
                "id" : 1004,
                "name" : "Checking *4460",
                "balance" : "$586.15"
              }, {
                "id" : 1005,
                "name" : "Checking *4462",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ],
              "limits" : {
                "min" : "0.01",
                "max" : null
              }
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25"
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00"
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60"
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02"
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98"
              } ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : "$80.75"
              } ]
            },
            "noPershingAccounts" : true,
            "preferredClient" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-29T17:29:48.675Z",
              "humanReadability" : "Wed, 01/29/2014 at 05:29 PM"
            }
          }
        }}
        

## Account Summary UpdateTabsChange [/accountsummary/tabs/{filter}]
### [POST]
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200

## Account Summary close investments advice [/accountsummary/investements/advice]
### [DELETE]

+ Response 200

## Account Summary update module state [/accountsummary/state/module/{filter}/{moduleType}]
### [PUT]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

## Account Summary hide module [/accountsummary/state/module/{filter}/{moduleType}]
### [DELETE]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

## Account Summary change order module [/accountsummary/order/module/{filter}/{moduleType}]
### [PUT]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200


## Account Summary PDF [/accountsummary/pdf]
### [GET]

+ Response 200

## Account Summary EXCEL [/accountsummary/xlsx]
### [GET]

+ Response 200


# Group Mocks COMPSBA-186
## Account Summary Load [/accountsummary/load?mock=COMPSBA-186]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-186>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : {
            "personal" : [ ],
            "business" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ ],
              "totalPosted" : "$00.00",
              "totalAvailable" : "$00.00"
            }, {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ ],
              "total" : "$00.00"
            }, {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
              "total" : "$00.00"
            } ],
            "internal" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ ],
              "totalPosted" : "$00.00",
              "totalAvailable" : "$00.00"
            }, {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ ],
              "total" : "$00.00"
            }, {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
              "total" : "$00.00"
            } ]
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 1001,
                "name" : "Money Market *3560",
                "balance" : "$1,300.54"
              }, {
                "id" : 1002,
                "name" : "Money Market *3562",
                "balance" : "$302.14"
              }, {
                "id" : 1003,
                "name" : "Money Market *3564",
                "balance" : "$1,000.00"
              }, {
                "id" : 1004,
                "name" : "Checking *4460",
                "balance" : "$586.15"
              }, {
                "id" : 1005,
                "name" : "Checking *4462",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ],
              "limits" : {
                "min" : "0.01",
                "max" : null
              }
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25"
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00"
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60"
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02"
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98"
              } ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : "$80.75"
              } ]
            },
            "noPershingAccounts" : true,
            "preferredClient" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-29T17:29:52.346Z",
              "humanReadability" : "Wed, 01/29/2014 at 05:29 PM"
            }
          }
        }}
        
        
# Group Mocks COMPSBA-188
## Account Summary Load [/accountsummary/load?mock=COMPSBA-188]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-188>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : {
            "personal" : [ {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ {
                "nick" : "Credit 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
                "number" : "3333",
                "posted" : "$600.00",
                "available" : 3000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              } ],
              "total" : "$600.00"
            } ],
            "business" : [ {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ {
                "nick" : "Credit 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "0000",
                "posted" : "$00.00",
                "available" : 0,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
                "number" : "1111",
                "posted" : "$200.00",
                "available" : 1000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 2",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "2222",
                "posted" : "$400.00",
                "available" : 2000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              } ],
              "total" : "$600.00"
            } ],
            "internal" : [ {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ {
                "nick" : "Credit 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "0000",
                "posted" : "$00.00",
                "available" : 0,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
                "number" : "1111",
                "posted" : "$200.00",
                "available" : 1000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 2",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "2222",
                "posted" : "$400.00",
                "available" : 2000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
                "number" : "3333",
                "posted" : "$600.00",
                "available" : 3000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              } ],
              "total" : "$1,200.00"
            } ]
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 1001,
                "name" : "Money Market *3560",
                "balance" : "$1,300.54"
              }, {
                "id" : 1002,
                "name" : "Money Market *3562",
                "balance" : "$302.14"
              }, {
                "id" : 1003,
                "name" : "Money Market *3564",
                "balance" : "$1,000.00"
              }, {
                "id" : 1004,
                "name" : "Checking *4460",
                "balance" : "$586.15"
              }, {
                "id" : 1005,
                "name" : "Checking *4462",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ],
              "limits" : {
                "min" : "0.01",
                "max" : null
              }
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25"
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00"
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60"
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02"
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98"
              } ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : "$80.75"
              } ]
            },
            "noPershingAccounts" : true,
            "preferredClient" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-29T17:29:52.865Z",
              "humanReadability" : "Wed, 01/29/2014 at 05:29 PM"
            }
          }
        }}
        
        
# Group Mocks COMPSBA-189
## Account Summary Load [/accountsummary/load?mock=COMPSBA-189]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-189>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : {
            "personal" : [ ],
            "business" : [ {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
              "total" : "$00.00"
            } ],
            "internal" : [ {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
              "total" : "$00.00"
            } ]
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 1001,
                "name" : "Money Market *3560",
                "balance" : "$1,300.54"
              }, {
                "id" : 1002,
                "name" : "Money Market *3562",
                "balance" : "$302.14"
              }, {
                "id" : 1003,
                "name" : "Money Market *3564",
                "balance" : "$1,000.00"
              }, {
                "id" : 1004,
                "name" : "Checking *4460",
                "balance" : "$586.15"
              }, {
                "id" : 1005,
                "name" : "Checking *4462",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ],
              "limits" : {
                "min" : "0.01",
                "max" : null
              }
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25"
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00"
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60"
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02"
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98"
              } ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : "$80.75"
              } ]
            },
            "noPershingAccounts" : true,
            "preferredClient" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-29T17:29:53.406Z",
              "humanReadability" : "Wed, 01/29/2014 at 05:29 PM"
            }
          }
        }}
        
        
# Group Mocks COMPSBA-192
## Account Summary Load [/accountsummary/load?mock=COMPSBA-192]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-192>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : {
            "personal" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ {
                "nick" : "Checking 4",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "3333",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              } ],
              "totalPosted" : "$10,000.00",
              "totalAvailable" : "$9,000.00"
            } ],
            "business" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ {
                "nick" : "Checking 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "0000",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "1111",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "2222",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              } ],
              "totalPosted" : "$30,000.00",
              "totalAvailable" : "$27,000.00"
            } ],
            "internal" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ {
                "nick" : "Checking 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "0000",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "1111",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "2222",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 4",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "3333",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              } ],
              "totalPosted" : "$40,000.00",
              "totalAvailable" : "$36,000.00"
            } ]
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 1001,
                "name" : "Money Market *3560",
                "balance" : "$1,300.54"
              }, {
                "id" : 1002,
                "name" : "Money Market *3562",
                "balance" : "$302.14"
              }, {
                "id" : 1003,
                "name" : "Money Market *3564",
                "balance" : "$1,000.00"
              }, {
                "id" : 1004,
                "name" : "Checking *4460",
                "balance" : "$586.15"
              }, {
                "id" : 1005,
                "name" : "Checking *4462",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ],
              "limits" : {
                "min" : "0.01",
                "max" : null
              }
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25"
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00"
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60"
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02"
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98"
              } ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : "$80.75"
              } ]
            },
            "noPershingAccounts" : true,
            "preferredClient" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-29T17:29:53.711Z",
              "humanReadability" : "Wed, 01/29/2014 at 05:29 PM"
            }
          }
        }}
        
        
# Group Mocks COMPSBA-193
## Account Summary Load [/accountsummary/load?mock=COMPSBA-193]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-193>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : {
            "personal" : [ ],
            "business" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ ],
              "totalPosted" : "$00.00",
              "totalAvailable" : "$00.00"
            } ],
            "internal" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ ],
              "totalPosted" : "$00.00",
              "totalAvailable" : "$00.00"
            } ]
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 1001,
                "name" : "Money Market *3560",
                "balance" : "$1,300.54"
              }, {
                "id" : 1002,
                "name" : "Money Market *3562",
                "balance" : "$302.14"
              }, {
                "id" : 1003,
                "name" : "Money Market *3564",
                "balance" : "$1,000.00"
              }, {
                "id" : 1004,
                "name" : "Checking *4460",
                "balance" : "$586.15"
              }, {
                "id" : 1005,
                "name" : "Checking *4462",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ],
              "limits" : {
                "min" : "0.01",
                "max" : null
              }
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25"
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00"
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60"
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02"
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98"
              } ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : "$80.75"
              } ]
            },
            "noPershingAccounts" : true,
            "preferredClient" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-29T17:29:54.125Z",
              "humanReadability" : "Wed, 01/29/2014 at 05:29 PM"
            }
          }
        }}
        

# Group Mocks COMPSBA-197
## Account Summary Load [/accountsummary/load?mock=COMPSBA-197]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-197>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : {
            "personal" : [ {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ {
                "nick" : "Retirement 3",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "3333",
                "amount" : "$3,000.00"
              } ],
              "total" : "$3,000.00"
            } ],
            "business" : [ {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ {
                "nick" : "Retirement 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "0000",
                "amount" : "$00.00"
              }, {
                "nick" : "Retirement 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "1111",
                "amount" : "$1,000.00"
              }, {
                "nick" : "Retirement 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "2222",
                "amount" : "$2,000.00"
              } ],
              "total" : "$3,000.00"
            } ],
            "internal" : [ {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ {
                "nick" : "Retirement 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "0000",
                "amount" : "$00.00"
              }, {
                "nick" : "Retirement 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "1111",
                "amount" : "$1,000.00"
              }, {
                "nick" : "Retirement 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "2222",
                "amount" : "$2,000.00"
              }, {
                "nick" : "Retirement 3",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "3333",
                "amount" : "$3,000.00"
              } ],
              "total" : "$6,000.00"
            } ]
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 1001,
                "name" : "Money Market *3560",
                "balance" : "$1,300.54"
              }, {
                "id" : 1002,
                "name" : "Money Market *3562",
                "balance" : "$302.14"
              }, {
                "id" : 1003,
                "name" : "Money Market *3564",
                "balance" : "$1,000.00"
              }, {
                "id" : 1004,
                "name" : "Checking *4460",
                "balance" : "$586.15"
              }, {
                "id" : 1005,
                "name" : "Checking *4462",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ],
              "limits" : {
                "min" : "0.01",
                "max" : null
              }
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25"
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00"
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60"
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02"
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98"
              } ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : "$80.75"
              } ]
            },
            "noPershingAccounts" : true,
            "preferredClient" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-29T17:29:54.358Z",
              "humanReadability" : "Wed, 01/29/2014 at 05:29 PM"
            }
          }
        }}
        

# Group Mocks COMPSBA-198
## Account Summary Load [/accountsummary/load?mock=COMPSBA-198]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-198>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : {
            "personal" : [ ],
            "business" : [ {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ ],
              "total" : "$00.00"
            } ],
            "internal" : [ {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ ],
              "total" : "$00.00"
            } ]
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 1001,
                "name" : "Money Market *3560",
                "balance" : "$1,300.54"
              }, {
                "id" : 1002,
                "name" : "Money Market *3562",
                "balance" : "$302.14"
              }, {
                "id" : 1003,
                "name" : "Money Market *3564",
                "balance" : "$1,000.00"
              }, {
                "id" : 1004,
                "name" : "Checking *4460",
                "balance" : "$586.15"
              }, {
                "id" : 1005,
                "name" : "Checking *4462",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ],
              "limits" : {
                "min" : "0.01",
                "max" : null
              }
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25"
              }, {
                "id" : 1002,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00"
              }, {
                "id" : 1003,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60"
              }, {
                "id" : 2002,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02"
              }, {
                "id" : 2003,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98"
              } ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : "$80.75"
              } ]
            },
            "noPershingAccounts" : true,
            "preferredClient" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-29T17:29:54.619Z",
              "humanReadability" : "Wed, 01/29/2014 at 05:29 PM"
            }
          }
        }}
        

# Group Mocks COMPSBA-203
## Account Summary Load [/accountsummary/load?mock=COMPSBA-203]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-203>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : {
            "personal" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ {
                "nick" : "Checking 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "0000",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 2",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "1111",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 3",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "2222",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              } ],
              "totalPosted" : "$30,000.00",
              "totalAvailable" : "$27,000.00"
            }, {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ {
                "nick" : "Retirement 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "0000",
                "amount" : "$00.00"
              }, {
                "nick" : "Retirement 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "1111",
                "amount" : "$1,000.00"
              } ],
              "total" : "$1,000.00"
            }, {
              "type" : "INVESTMENT",
              "adviceVisible" : true,
              "isOpen" : true,
              "investmentAccounts" : [ {
                "nick" : "Credit 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "1111",
                "amount" : "$1,000.00"
              }, {
                "nick" : "Credit 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "2222",
                "amount" : "$2,000.00"
              } ],
              "total" : "$3,000.00"
            }, {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ {
                "nick" : "Credit 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "0000",
                "posted" : "$00.00",
                "available" : 0,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
                "number" : "1111",
                "posted" : "$200.00",
                "available" : 1000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "2222",
                "posted" : "$400.00",
                "available" : 2000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
                "number" : "3333",
                "posted" : "$600.00",
                "available" : 3000,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              } ],
              "total" : "$1,200.00"
            }, {
              "type" : "REAL_ESTATE",
              "isOpen" : true,
              "realEstateAccounts" : [ {
                "nick" : "Real 0",
                "bbvaCompassAccount" : true,
                "percent" : "00.00%",
                "amount" : "$00.00"
              }, {
                "nick" : "Real 2",
                "bbvaCompassAccount" : true,
                "percent" : "20.00%",
                "amount" : "$20.00"
              } ],
              "total" : "$20.00"
            }, {
              "type" : "REWARDS",
              "isOpen" : true,
              "rewardsAccounts" : [ {
                "nick" : "Rewards 77",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$13,475.00",
                "number" : "00077"
              }, {
                "nick" : "Rewards 81",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$14,175.00",
                "number" : "00081"
              } ]
            } ],
            "business" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ {
                "nick" : "Checking 4",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "3333",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              } ],
              "totalPosted" : "$10,000.00",
              "totalAvailable" : "$9,000.00"
            }, {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ {
                "nick" : "Retirement 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "2222",
                "amount" : "$2,000.00"
              }, {
                "nick" : "Retirement 3",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "3333",
                "amount" : "$3,000.00"
              }, {
                "nick" : "Retirement 4",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "4444",
                "amount" : "$4,000.00"
              } ],
              "total" : "$9,000.00"
            }, {
              "type" : "INVESTMENT",
              "adviceVisible" : true,
              "isOpen" : true,
              "investmentAccounts" : [ {
                "nick" : "Credit 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "0000",
                "amount" : "$00.00"
              }, {
                "nick" : "Credit 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "3333",
                "amount" : "$3,000.00"
              } ],
              "total" : "$3,000.00"
            }, {
              "type" : "LOAN_MORTGAGE",
              "isOpen" : true,
              "loanMortgateAccounts" : [ {
                "nick" : "Loan 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "LOAN_ALS",
                "number" : "0000",
                "payOff" : "$00.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$00.00"
              }, {
                "nick" : "Loan 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "LOAN_ALS",
                "number" : "1111",
                "payOff" : "$1,000.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$200.00"
              }, {
                "nick" : "Loan 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "LOAN_LOC",
                "number" : "2222",
                "payOff" : "$2,000.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$400.00"
              }, {
                "nick" : "Loan 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "LOAN_LOC",
                "number" : "3333",
                "payOff" : "$3,000.00",
                "nextDate" : "01/29/2014",
                "nextAmount" : "$600.00"
              } ],
              "total" : "$6,000.00"
            }, {
              "type" : "REAL_ESTATE",
              "isOpen" : true,
              "realEstateAccounts" : [ {
                "nick" : "Real 1",
                "bbvaCompassAccount" : true,
                "percent" : "10.00%",
                "amount" : "$10.00"
              }, {
                "nick" : "Real 3",
                "bbvaCompassAccount" : true,
                "percent" : "30.00%",
                "amount" : "$30.00"
              }, {
                "nick" : "Real 4",
                "bbvaCompassAccount" : true,
                "percent" : "40.00%",
                "amount" : "$40.00"
              } ],
              "total" : "$80.00"
            }, {
              "type" : "REWARDS",
              "isOpen" : true,
              "rewardsAccounts" : [ {
                "nick" : "Rewards 91",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$15,925.00",
                "number" : "00091"
              }, {
                "nick" : "Rewards 64",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : null,
                "type" : "REWARDS",
                "balance" : "$11,200.00",
                "number" : "00064"
              } ]
            } ],
            "internal" : [ {
              "type" : "CHECKING_SAVING",
              "isOpen" : true,
              "checkingSavingMoneyMarketAccounts" : [ {
                "nick" : "Checking 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "0000",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 2",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "1111",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 3",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "2222",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              }, {
                "nick" : "Checking 4",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CHECKING",
                "number" : "3333",
                "posted" : "$10,000.00",
                "available" : "$9,000.00"
              } ],
              "totalPosted" : "$40,000.00",
              "totalAvailable" : "$36,000.00"
            }, {
              "type" : "CD_RETIREMENT",
              "isOpen" : true,
              "certificateDepositRetirementAccounts" : [ {
                "nick" : "Retirement 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "0000",
                "amount" : "$00.00"
              }, {
                "nick" : "Retirement 1",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "1111",
                "amount" : "$1,000.00"
              }, {
                "nick" : "Retirement 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "2222",
                "amount" : "$2,000.00"
              }, {
                "nick" : "Retirement 3",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "3333",
                "amount" : "$3,000.00"
              }, {
                "nick" : "Retirement 4",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CD",
                "number" : "4444",
                "amount" : "$4,000.00"
              } ],
              "total" : "$10,000.00"
            }, {
              "type" : "INVESTMENT",
              "adviceVisible" : true,
              "isOpen" : false,
              "investmentAccounts" : [ {
                "nick" : "Credit 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "0000",
                "amount" : "$00.00"
              }, {
                "nick" : "Credit 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "1111",
                "amount" : "$1,000.00"
              }, {
                "nick" : "Credit 2",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "2222",
                "amount" : "$2,000.00"
              }, {
                "nick" : "Credit 3",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "INV",
                "number" : "3333",
                "amount" : "$3,000.00"
              } ],
              "total" : "$6,000.00"
            }, {
              "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
              "isOpen" : true,
              "creditCardLineCreditOverdraftProtectionAccounts" : [ {
                "nick" : "Credit 0",
                "bbvaCompassAccount" : true,
                "alert" : true,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_CARD",
                "number" : "0000",
                "posted" : "$00.00",
                "available" : 0,
                "nextDate" : "01/29/2014",
                "minAmount" : "$200.00"
              }, {
                "nick" : "Credit 1",
                "bbvaCompassAccount" : true,
                "alert" : false,
                "lastUpdated" : "05:29",
                "type" : "CREDIT_LINE",
[...]
