FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/accountsummary/load]
### [GET]
+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "CHECKING",
                  "number" : "1111",
                  "posted" : "$10,000.00",
                  "available" : "$9,000.00"
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CHECKING",
                  "number" : "2222",
                  "posted" : "$10,000.00",
                  "available" : "$9,000.00"
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "CHECKING",
                  "number" : "3333",
                  "posted" : "$10,000.00",
                  "available" : "$9,000.00"
                } ],
                "isOpen" : true,
                "totalPosted" : "$30,000.00",
                "totalAvailable" : "$27,000.00"
              }, {
                "type" : "CD_RETIREMENT",
                "accounts" : [ {
                  "nick" : "Retirement 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CD",
                  "number" : "0000",
                  "amount" : "$00.00"
                } ],
                "isOpen" : true,
                "total" : "$00.00"
              }, {
                "type" : "INVESTMENT",
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "INV",
                  "number" : "0000",
                  "amount" : "$00.00"
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "INV",
                  "number" : "2222",
                  "amount" : "$2,000.00"
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "INV",
                  "number" : "3333",
                  "amount" : "$3,000.00"
                } ],
                "isOpen" : true,
                "total" : "$5,000.00"
              }, {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "CREDIT_LINE",
                  "number" : "1111",
                  "posted" : "$200.00",
                  "available" : 1000,
                  "nextDate" : "02/13/2014",
                  "minAmount" : "$200.00"
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CREDIT_CARD",
                  "number" : "2222",
                  "posted" : "$400.00",
                  "available" : 2000,
                  "nextDate" : "02/13/2014",
                  "minAmount" : "$200.00"
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "CREDIT_LINE",
                  "number" : "3333",
                  "posted" : "$600.00",
                  "available" : 3000,
                  "nextDate" : "02/13/2014",
                  "minAmount" : "$200.00"
                } ],
                "isOpen" : true,
                "total" : "$1,200.00"
              }, {
                "type" : "LOAN_MORTGAGE",
                "accounts" : [ {
                  "nick" : "Loan 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "LOAN_ALS",
                  "number" : "0000",
                  "payOff" : "$00.00",
                  "nextDate" : "02/13/2014",
                  "nextAmount" : "$00.00"
                }, {
                  "nick" : "Loan 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "LOAN_ALS",
                  "number" : "1111",
                  "payOff" : "$1,000.00",
                  "nextDate" : "02/13/2014",
                  "nextAmount" : "$200.00"
                }, {
                  "nick" : "Loan 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "LOAN_LOC",
                  "number" : "2222",
                  "payOff" : "$2,000.00",
                  "nextDate" : "02/13/2014",
                  "nextAmount" : "$400.00"
                }, {
                  "nick" : "Loan 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "LOAN_LOC",
                  "number" : "3333",
                  "payOff" : "$3,000.00",
                  "nextDate" : "02/13/2014",
                  "nextAmount" : "$600.00"
                } ],
                "isOpen" : true,
                "total" : "$6,000.00"
              }, {
                "type" : "REAL_ESTATE",
                "accounts" : [ {
                  "nick" : "Real 1",
                  "bbvaCompassAccount" : true,
                  "percent" : "10,00%",
                  "amount" : "$10.00"
                }, {
                  "nick" : "Real 2",
                  "bbvaCompassAccount" : true,
                  "percent" : "20,00%",
                  "amount" : "$20.00"
                } ],
                "isOpen" : true,
                "total" : "$30.00"
              }, {
                "type" : "REWARDS",
                "accounts" : [ {
                  "nick" : "Rewards 23",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : null,
                  "type" : "REWARDS",
                  "balance" : "$4,025.00",
                  "number" : "00023"
                }, {
                  "nick" : "Rewards 49",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : null,
                  "type" : "REWARDS",
                  "balance" : "$8,575.00",
                  "number" : "00049"
                } ],
                "isOpen" : true
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CHECKING",
                  "number" : "0000",
                  "posted" : "$10,000.00",
                  "available" : "$9,000.00"
                } ],
                "isOpen" : true,
                "totalPosted" : "$10,000.00",
                "totalAvailable" : "$9,000.00"
              }, {
                "type" : "CD_RETIREMENT",
                "accounts" : [ {
                  "nick" : "Retirement 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CD",
                  "number" : "1111",
                  "amount" : "$1,000.00"
                }, {
                  "nick" : "Retirement 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CD",
                  "number" : "2222",
                  "amount" : "$2,000.00"
                }, {
                  "nick" : "Retirement 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CD",
                  "number" : "3333",
                  "amount" : "$3,000.00"
                }, {
                  "nick" : "Retirement 4",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CD",
                  "number" : "4444",
                  "amount" : "$4,000.00"
                } ],
                "isOpen" : true,
                "total" : "$10,000.00"
              }, {
                "type" : "INVESTMENT",
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "INV",
                  "number" : "1111",
                  "amount" : "$1,000.00"
                } ],
                "isOpen" : true,
                "total" : "$1,000.00"
              }, {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "posted" : "$00.00",
                  "available" : 0,
                  "nextDate" : "02/13/2014",
                  "minAmount" : "$200.00"
                } ],
                "isOpen" : true,
                "total" : "$00.00"
              }, {
                "type" : "LOAN_MORTGAGE",
                "accounts" : [ ],
                "isOpen" : true,
                "total" : "$00.00"
              }, {
                "type" : "REAL_ESTATE",
                "accounts" : [ {
                  "nick" : "Real 0",
                  "bbvaCompassAccount" : true,
                  "percent" : "00,00%",
                  "amount" : "$00.00"
                }, {
                  "nick" : "Real 3",
                  "bbvaCompassAccount" : true,
                  "percent" : "30,00%",
                  "amount" : "$30.00"
                }, {
                  "nick" : "Real 4",
                  "bbvaCompassAccount" : true,
                  "percent" : "40,00%",
                  "amount" : "$40.00"
                } ],
                "isOpen" : true,
                "total" : "$70.00"
              }, {
                "type" : "REWARDS",
                "accounts" : [ {
                  "nick" : "Rewards 14",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : null,
                  "type" : "REWARDS",
                  "balance" : "$2,450.00",
                  "number" : "00014"
                }, {
                  "nick" : "Rewards 66",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : null,
                  "type" : "REWARDS",
                  "balance" : "$11,550.00",
                  "number" : "00066"
                } ],
                "isOpen" : true
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CHECKING",
                  "number" : "0000",
                  "posted" : "$10,000.00",
                  "available" : "$9,000.00"
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "CHECKING",
                  "number" : "1111",
                  "posted" : "$10,000.00",
                  "available" : "$9,000.00"
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CHECKING",
                  "number" : "2222",
                  "posted" : "$10,000.00",
                  "available" : "$9,000.00"
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "CHECKING",
                  "number" : "3333",
                  "posted" : "$10,000.00",
                  "available" : "$9,000.00"
                } ],
                "isOpen" : true,
                "totalPosted" : "$40,000.00",
                "totalAvailable" : "$36,000.00"
              }, {
                "type" : "CD_RETIREMENT",
                "accounts" : [ {
                  "nick" : "Retirement 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CD",
                  "number" : "0000",
                  "amount" : "$00.00"
                }, {
                  "nick" : "Retirement 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CD",
                  "number" : "1111",
                  "amount" : "$1,000.00"
                }, {
                  "nick" : "Retirement 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CD",
                  "number" : "2222",
                  "amount" : "$2,000.00"
                }, {
                  "nick" : "Retirement 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CD",
                  "number" : "3333",
                  "amount" : "$3,000.00"
                }, {
                  "nick" : "Retirement 4",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CD",
                  "number" : "4444",
                  "amount" : "$4,000.00"
                } ],
                "isOpen" : false,
                "total" : "$10,000.00"
              }, {
                "type" : "INVESTMENT",
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "INV",
                  "number" : "0000",
                  "amount" : "$00.00"
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "INV",
                  "number" : "1111",
                  "amount" : "$1,000.00"
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "INV",
                  "number" : "2222",
                  "amount" : "$2,000.00"
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "INV",
                  "number" : "3333",
                  "amount" : "$3,000.00"
                } ],
                "isOpen" : false,
                "total" : "$6,000.00"
              }, {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "posted" : "$00.00",
                  "available" : 0,
                  "nextDate" : "02/13/2014",
                  "minAmount" : "$200.00"
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "CREDIT_LINE",
                  "number" : "1111",
                  "posted" : "$200.00",
                  "available" : 1000,
                  "nextDate" : "02/13/2014",
                  "minAmount" : "$200.00"
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "CREDIT_CARD",
                  "number" : "2222",
                  "posted" : "$400.00",
                  "available" : 2000,
                  "nextDate" : "02/13/2014",
                  "minAmount" : "$200.00"
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "CREDIT_LINE",
                  "number" : "3333",
                  "posted" : "$600.00",
                  "available" : 3000,
                  "nextDate" : "02/13/2014",
                  "minAmount" : "$200.00"
                } ],
                "isOpen" : false,
                "total" : "$1,200.00"
              }, {
                "type" : "LOAN_MORTGAGE",
                "accounts" : [ {
                  "nick" : "Loan 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "LOAN_ALS",
                  "number" : "0000",
                  "payOff" : "$00.00",
                  "nextDate" : "02/13/2014",
                  "nextAmount" : "$00.00"
                }, {
                  "nick" : "Loan 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "LOAN_ALS",
                  "number" : "1111",
                  "payOff" : "$1,000.00",
                  "nextDate" : "02/13/2014",
                  "nextAmount" : "$200.00"
                }, {
                  "nick" : "Loan 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "lastUpdated" : "01:34",
                  "type" : "LOAN_LOC",
                  "number" : "2222",
                  "payOff" : "$2,000.00",
                  "nextDate" : "02/13/2014",
                  "nextAmount" : "$400.00"
                }, {
                  "nick" : "Loan 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : "01:34",
                  "type" : "LOAN_LOC",
                  "number" : "3333",
                  "payOff" : "$3,000.00",
                  "nextDate" : "02/13/2014",
                  "nextAmount" : "$600.00"
                } ],
                "isOpen" : true,
                "total" : "$6,000.00"
              }, {
                "type" : "REAL_ESTATE",
                "accounts" : [ {
                  "nick" : "Real 0",
                  "bbvaCompassAccount" : true,
                  "percent" : "00,00%",
                  "amount" : "$00.00"
                }, {
                  "nick" : "Real 1",
                  "bbvaCompassAccount" : true,
                  "percent" : "10,00%",
                  "amount" : "$10.00"
                }, {
                  "nick" : "Real 2",
                  "bbvaCompassAccount" : true,
                  "percent" : "20,00%",
                  "amount" : "$20.00"
                }, {
                  "nick" : "Real 3",
                  "bbvaCompassAccount" : true,
                  "percent" : "30,00%",
                  "amount" : "$30.00"
                }, {
                  "nick" : "Real 4",
                  "bbvaCompassAccount" : true,
                  "percent" : "40,00%",
                  "amount" : "$40.00"
                } ],
                "isOpen" : false,
                "total" : "$100.00"
              }, {
                "type" : "REWARDS",
                "accounts" : [ {
                  "nick" : "Rewards 23",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : null,
                  "type" : "REWARDS",
                  "balance" : "$4,025.00",
                  "number" : "00023"
                }, {
                  "nick" : "Rewards 14",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : null,
                  "type" : "REWARDS",
                  "balance" : "$2,450.00",
                  "number" : "00014"
                }, {
                  "nick" : "Rewards 49",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : null,
                  "type" : "REWARDS",
                  "balance" : "$8,575.00",
                  "number" : "00049"
                }, {
                  "nick" : "Rewards 66",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "lastUpdated" : null,
                  "type" : "REWARDS",
                  "balance" : "$11,550.00",
                  "number" : "00066"
                } ],
                "isOpen" : false
              } ],
              "hasAccounts" : true
            },
            "external" : {
              "modulesList" : [ ],
              "hasAccounts" : false
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "netWorthPerformance" : {
              "open" : true
            },
            "noPershingAccounts" : true,
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : "$1,300.54"
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20000.50
                },
                "transferMaxLimit" : "$1,000,000.25",
                "dailyMaxLimit" : "$50,000.25"
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : "$302.14"
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 222.50
                },
                "transferMaxLimit" : "$9,999.00",
                "dailyMaxLimit" : null
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : "$1,000.00"
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 20.00
                },
                "transferMaxLimit" : null,
                "dailyMaxLimit" : "$50.00"
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : "$586.15"
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 4000.90
                },
                "transferMaxLimit" : "$155,155.25",
                "dailyMaxLimit" : "$8,780.65"
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : "$200.94"
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 8623.23
                },
                "transferMaxLimit" : "$351,456.25",
                "dailyMaxLimit" : "$9,823.25"
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : "$310.54"
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : "$5,300.24"
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : "$1,000.24"
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : "$2,320.00"
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : "$327.67"
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "mar, 09/11/2012 at 02:55 PM. CT"
                },
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : "$250.25",
                "fromAccount" : "XYZ *4040",
                "toAccount" : "XYZ *5040"
              }, {
                "id" : 1002,
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "mar, 09/11/2012 at 02:55 PM. CT"
                },
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : "$100.00",
                "fromAccount" : "XYZ *4041",
                "toAccount" : "XYZ *5041"
              }, {
                "id" : 1003,
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "mar, 09/11/2012 at 02:55 PM. CT"
                },
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : "$1,500.12",
                "fromAccount" : "XYZ *4042",
                "toAccount" : "XYZ *5042"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "mar, 09/11/2012 at 02:55 PM. CT"
                },
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : "$400.60",
                "fromAccount" : "XYZ *6040",
                "toAccount" : "XYZ *7040"
              }, {
                "id" : 2002,
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "mar, 09/11/2012 at 02:55 PM. CT"
                },
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : "$25.02",
                "fromAccount" : "XYZ *6041",
                "toAccount" : "XYZ *7041"
              }, {
                "id" : 2003,
                "date" : {
                  "iso8601" : "2012-09-11T14:55:42.000Z",
                  "humanReadability" : "mar, 09/11/2012 at 02:55 PM. CT"
                },
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : "$500.98",
                "fromAccount" : "XYZ *6042",
                "toAccount" : "XYZ *7042"
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : "$100.00",
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$474.70"
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : "$50.00"
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : "$640.00"
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : "$80.75"
              } ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/secure/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-02-13T13:34:36.432Z",
              "humanReadability" : "jue, 02/13/2014 at 01:34 PM. CT"
            }
          }
        }}