FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/hbs/accountsummary/load]
### base load [GET]
+ Response 200 (application/json)

        {
            "widgets": [
                {
                  "status": "OPEN",
                  "totalPostedBalance": "$40000.0",
                  "totalAvailableBalance": "$36000.0",
                  "checkingSavingMoneyMarketAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Checking 1",
                      "accountNumber": "0000",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CHECKING",
                      "postedBalance": 10000,
                      "availableBalance": 9000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": false,
                      "nick": "Checking 2",
                      "accountNumber": "1111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CHECKING",
                      "postedBalance": 10000,
                      "availableBalance": 9000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": true,
                      "nick": "Checking 3",
                      "accountNumber": "2222",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CHECKING",
                      "postedBalance": 10000,
                      "availableBalance": 9000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Checking 4",
                      "accountNumber": "3333",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CHECKING",
                      "postedBalance": 10000,
                      "availableBalance": 9000
                    }
                  ],
                  "literals": {
                    "title": "Checking, Savings and Money Market Accounts",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "type": "Type",
                      "postedBalance": "Posted Balance",
                      "availableBalance": "Available Balance"
                    },
                    "footer": {
                      "total": "Total"
                    }
                  }
                },
                {
                  "status": "CLOSE",
                  "totalBalance": "$10000.0",
                  "certificateDepositRetirementAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Retirement 0",
                      "accountNumber": "0000",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CD",
                      "amount": 0
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Retirement 1",
                      "accountNumber": "1111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CD",
                      "amount": 1000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Retirement 2",
                      "accountNumber": "2222",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CD",
                      "amount": 2000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Retirement 3",
                      "accountNumber": "3333",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CD",
                      "amount": 3000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Retirement 4",
                      "accountNumber": "4444",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CD",
                      "amount": 4000
                    }
                  ],
                  "literals": {
                    "title": "Certificate of Deposit and Retirement Accounts",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "type": "Type",
                      "amount": "Current Balance"
                    },
                    "footer": {
                      "total": "Total"
                    }
                  }
                },
                {
                  "status": "OPEN",
                  "totalBalance": "$20000.0",
                  "creditCardLineCreditOverdraftProtectionAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Credit 1",
                      "accountNumber": "1111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CREDIT_CARD",
                      "details": [
                        {
                          "key": "Current Balance",
                          "value": 2000
                        },
                        {
                          "key": "Available credit",
                          "value": 1000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383727272775
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 200
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": false,
                      "nick": "Credit 2",
                      "accountNumber": "2222",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CREDIT_LINE",
                      "details": [
                        {
                          "key": "Current Balance",
                          "value": 4000
                        },
                        {
                          "key": "Available credit",
                          "value": 2000
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": true,
                      "nick": "Credit 3",
                      "accountNumber": "3333",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CREDIT_CARD",
                      "details": [
                        {
                          "key": "Current Balance",
                          "value": 6000
                        },
                        {
                          "key": "Available credit",
                          "value": 3000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383727272775
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 200
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Credit 4",
                      "accountNumber": "4444",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CREDIT_LINE",
                      "details": [
                        {
                          "key": "Current Balance",
                          "value": 8000
                        },
                        {
                          "key": "Available credit",
                          "value": 4000
                        }
                      ]
                    }
                  ],
                  "literals": {
                    "title": "Certificate of Deposit and Retirement Accounts",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "type": "Type",
                      "details": "Details"
                    },
                    "footer": {
                      "total": "Total"
                    }
                  }
                },
                {
                  "status": "CLOSE",
                  "totalBalance": "$10000.0",
                  "loanMortgateAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Loan 1",
                      "accountNumber": "1111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 1000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383727272781
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 200
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": false,
                      "nick": "Loan 2",
                      "accountNumber": "2222",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 2000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383727272781
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 400
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": true,
                      "nick": "Loan 3",
                      "accountNumber": "3333",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_LOC",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 3000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383727272781
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 600
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Loan 4",
                      "accountNumber": "4444",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_LOC",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 4000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383727272781
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 800
                        }
                      ]
                    }
                  ],
                  "literals": {
                    "title": "Loan and Mortgage Accounts",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "type": "Type",
                      "details": "Details"
                    },
                    "footer": {
                      "total": "Total",
                      "legal": "* Balance shown in an estimated one-day payoff balance."
                    }
                  }
                },
                {
                  "status": "OPEN",
                  "total": "$10000.0",
                  "investmentAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Credit 1",
                      "accountNumber": "1111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 1000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": false,
                      "nick": "Credit 2",
                      "accountNumber": "2222",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 2000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": true,
                      "nick": "Credit 3",
                      "accountNumber": "3333",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 3000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Credit 4",
                      "accountNumber": "4444",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 4000
                    }
                  ],
                  "literals": {
                    "title": "Investment Accounts",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "type": "Type",
                      "amount": "Value"
                    },
                    "footer": {
                      "total": "Total"
                    }
                  }
                },
                {
                  "status": "OPEN",
                  "total": "$15000.0",
                  "realStateAccounts": [
                    {
                      "nick": "Real 0",
                      "percentHomeEquity": "0.00%",
                      "amount": 0
                    },
                    {
                      "nick": "Real 1",
                      "percentHomeEquity": "10.00%",
                      "amount": 1500
                    },
                    {
                      "nick": "Real 2",
                      "percentHomeEquity": "20.00%",
                      "amount": 3000
                    },
                    {
                      "nick": "Real 3",
                      "percentHomeEquity": "30.00%",
                      "amount": 4500
                    },
                    {
                      "nick": "Real 4",
                      "percentHomeEquity": "40.00%",
                      "amount": 6000
                    }
                  ],
                  "literals": {
                    "title": "Real State",
                    "header": {
                      "description": "Description",
                      "percentHomeEquity": "% Home Equity Amount",
                      "amount": "Home Equity Amount"
                    },
                    "footer": {
                      "total": "Total"
                    }
                  }
                },
                {
                  "status": "OPEN",
                  "rewardsAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Rewards 1",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountNumber": "1111",
                      "amount": 1000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": false,
                      "nick": "Rewards 2",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountNumber": "2222",
                      "amount": 2000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": true,
                      "nick": "Rewards 3",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountNumber": "3333",
                      "amount": 3000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Rewards 4",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountNumber": "4444",
                      "amount": 4000
                    }
                  ],
                  "literals": {
                    "title": "Rewards",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "number": "Number",
                      "amount": "Balance"
                    }
                  }
                }
            ]
        }
        
## Yoodle [/hbs/accountsummary/yoodle]
### yoodle [GET]
+ Response 200 (application/json)
      
            {to: "be defined"}
       

## Credit Card [/hbs/accountsummary/credit-card]
### credit card [GET]
El content-type json, se utilizará únicamente en modo de desarrollo, ya que para utilizar las llamadas AJAX será necesario solicitar el contenido como text/html

+ Request 

    + Headers

            Accept: text/html, application/json

+ Response 200 (application/json)

            {to: "be defined"}
        

+ Response 200 (text/html)

        <html>
            <body>
                To be defined
            </body>
        </html>