FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/accountsummary/load]
### . [GET]
+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/app/accountsummary#CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xyk *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "XyJ *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-03-17T11:29:24.633Z",
              "humanReadability" : "Mon, 03/17/2014 at 11:29 AM. CT"
            }
          },
          "showMobilePreferencesReminder" : false,
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$10,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$9,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CD_RETIREMENT",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Retirement 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$2,000.00",
                  "negative" : false
                }
              }, {
                "type" : "INVESTMENT",
                "hasAnchor" : false,
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "INV",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "INV",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$4,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "available" : 0,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.648Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  },
                  "available" : 2000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  },
                  "available" : 3000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$1,000.00",
                  "negative" : false
                }
              }, {
                "type" : "LOAN_MORTGAGE",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Loan 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "LOAN_ALS",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "payOff" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Loan 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "LOAN_LOC",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "payOff" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.650Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$4,000.00",
                  "negative" : false
                }
              }, {
                "type" : "REAL_ESTATE",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Real 1",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.10%",
                  "amount" : {
                    "humanReadability" : "$10.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$10.00",
                  "negative" : false
                }
              }, {
                "type" : "REWARDS",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Rewards 20",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00020",
                  "balance" : {
                    "humanReadability" : "$3,500.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Rewards 30",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00030",
                  "balance" : {
                    "humanReadability" : "$5,250.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$30,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$27,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CD_RETIREMENT",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Retirement 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 4",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "4444",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$4,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$8,000.00",
                  "negative" : false
                }
              }, {
                "type" : "INVESTMENT",
                "hasAnchor" : false,
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "INV",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "INV",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$2,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  },
                  "available" : 1000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$200.00",
                  "negative" : false
                }
              }, {
                "type" : "LOAN_MORTGAGE",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Loan 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "LOAN_ALS",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "payOff" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Loan 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "LOAN_LOC",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "payOff" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$2,000.00",
                  "negative" : false
                }
              }, {
                "type" : "REAL_ESTATE",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Real 0",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.00%",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 2",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.20%",
                  "amount" : {
                    "humanReadability" : "$20.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 3",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.30%",
                  "amount" : {
                    "humanReadability" : "$30.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 4",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.40%",
                  "amount" : {
                    "humanReadability" : "$40.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$90.00",
                  "negative" : false
                }
              }, {
                "type" : "REWARDS",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Rewards 35",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00035",
                  "balance" : {
                    "humanReadability" : "$6,125.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Rewards 69",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00069",
                  "balance" : {
                    "humanReadability" : "$12,075.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : false,
                "totalPosted" : {
                  "humanReadability" : "$40,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$36,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CD_RETIREMENT",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Retirement 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Retirement 4",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CD",
                  "number" : "4444",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$4,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : false,
                "total" : {
                  "humanReadability" : "$10,000.00",
                  "negative" : false
                }
              }, {
                "type" : "INVESTMENT",
                "hasAnchor" : false,
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "INV",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "INV",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "INV",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "INV",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "amount" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$6,000.00",
                  "negative" : false
                }
              }, {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "available" : 0,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.648Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  },
                  "available" : 1000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  },
                  "available" : 2000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  },
                  "available" : 3000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$1,200.00",
                  "negative" : false
                }
              }, {
                "type" : "LOAN_MORTGAGE",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Loan 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "LOAN_ALS",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "payOff" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Loan 1",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "LOAN_ALS",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "payOff" : {
                    "humanReadability" : "$1,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Loan 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "LOAN_LOC",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "payOff" : {
                    "humanReadability" : "$2,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.649Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Loan 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "LOAN_LOC",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "payOff" : {
                    "humanReadability" : "$3,000.00",
                    "negative" : false
                  },
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:24.650Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "nextAmount" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : false,
                "total" : {
                  "humanReadability" : "$6,000.00",
                  "negative" : false
                }
              }, {
                "type" : "REAL_ESTATE",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Real 0",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.00%",
                  "amount" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 1",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.10%",
                  "amount" : {
                    "humanReadability" : "$10.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 2",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.20%",
                  "amount" : {
                    "humanReadability" : "$20.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 3",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.30%",
                  "amount" : {
                    "humanReadability" : "$30.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Real 4",
                  "bbvaCompassAccount" : true,
                  "percent" : "0.40%",
                  "amount" : {
                    "humanReadability" : "$40.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : false,
                "total" : {
                  "humanReadability" : "$100.00",
                  "negative" : false
                }
              }, {
                "type" : "REWARDS",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Rewards 20",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00020",
                  "balance" : {
                    "humanReadability" : "$3,500.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Rewards 35",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00035",
                  "balance" : {
                    "humanReadability" : "$6,125.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Rewards 30",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00030",
                  "balance" : {
                    "humanReadability" : "$5,250.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Rewards 69",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "REWARDS",
                  "number" : "00069",
                  "balance" : {
                    "humanReadability" : "$12,075.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true
              } ],
              "hasAccounts" : true
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 0,
                  "name" : "Money Market *2678",
                  "balance" : {
                    "humanReadability" : "$618,607.61",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 680422.12
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$496,990.34",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$524,545.45",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1,
                  "name" : "Money Market *5320",
                  "balance" : {
                    "humanReadability" : "$487,227.16",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 990986.16
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$347,787.44",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$892,139.85",
                  "negative" : false
                }
              } ],
              "toAccounts" : [ {
                "id" : 0,
                "name" : "Money Market *9199",
                "balance" : {
                  "humanReadability" : "$644,693.02",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "name" : "Money Market *8184",
                "balance" : {
                  "humanReadability" : "$121,352.04",
                  "negative" : false
                }
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 0,
                "day" : "12",
                "month" : "Nov",
                "title" : "Transaction 768",
                "fromAccount" : "Account *1137",
                "toAccount" : "Account *5105",
                "date" : {
                  "iso8601" : "2002-11-12T11:29:24.640Z",
                  "humanReadability" : "Tue, 11/12/2002 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$106,043.21",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "day" : "06",
                "month" : "Apr",
                "title" : "Transaction 973",
                "fromAccount" : "Account *9048",
                "toAccount" : "Account *0259",
                "date" : {
                  "iso8601" : "2001-04-06T11:29:24.640Z",
                  "humanReadability" : "Fri, 04/06/2001 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$672,978.60",
                  "negative" : false
                }
              } ],
              "otherTransactions" : [ {
                "id" : 0,
                "day" : "08",
                "month" : "May",
                "title" : "Transaction 515",
                "fromAccount" : "Account *2536",
                "toAccount" : "Account *5161",
                "date" : {
                  "iso8601" : "2004-05-08T11:29:24.638Z",
                  "humanReadability" : "Sat, 05/08/2004 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$729,621.58",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "day" : "05",
                "month" : "Mar",
                "title" : "Transaction 993",
                "fromAccount" : "Account *3356",
                "toAccount" : "Account *8273",
                "date" : {
                  "iso8601" : "2004-03-05T11:29:24.639Z",
                  "humanReadability" : "Fri, 03/05/2004 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$518,170.29",
                  "negative" : false
                }
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 0,
                "month" : "Dec",
                "day" : "27",
                "payee" : "Payee 75",
                "account" : "Account *9642 / #45",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$849,769.35",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "month" : "Jan",
                "day" : "07",
                "payee" : "Payee 56",
                "account" : "Account *3175 / #18",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$26,227.98",
                  "negative" : false
                }
              } ],
              "total" : {
                "humanReadability" : "$875,997.33",
                "negative" : false
              }
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 0,
                "month" : "Apr",
                "day" : "15",
                "nickname" : "Account L",
                "accountSuffix" : "*6742",
                "amount" : {
                  "humanReadability" : "$233,137.92",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "month" : "Sep",
                "day" : "08",
                "nickname" : "Account 4",
                "accountSuffix" : "*3838",
                "amount" : {
                  "humanReadability" : "$639,977.34",
                  "negative" : false
                }
              } ]
            }
          },
          "exportBar" : {
            "hrefPdf" : "http://localhost:3000/secure/app/accountsummary/pdf",
            "hrefXlsx" : "http://localhost:3000/secure/app/accountsummary/xlsx"
          }
        }}

## Account Summary external accounts [/accountsummary/load/external]
### . [GET]
+ Response 200 (application/json)

        {
          "modulesList" : [ ],
          "hasAccounts" : false
        }
        

## Account Summary UpdateTabsChange [/accountsummary/tabs/{filter}]
### . [POST]
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200

## Account Summary close investments advice [/accountsummary/investements/advice]
### . [DELETE]

+ Response 200

## Account Summary update module state [/accountsummary/state/module/{filter}/{moduleType}]
### . [PUT]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

### . [DELETE]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

## Account Summary change order module [/accountsummary/order/module/{filter}/{moduleType}]
### . [PUT]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

## Account Summary update widget state [/accountsummary/state/widget]
### . [PUT]

+ Response 200

### . [DELETE]

+ Response 200

## Account Summary PDF [/accountsummary/pdf]
### . [GET]

+ Response 200

## Account Summary EXCEL [/accountsummary/xlsx]
### . [GET]

+ Response 200


# Group Mocks COMPSBA-186
## Account Summary Load [/accountsummary/load?mock=COMPSBA-186]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-186>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/app/accountsummary#CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xyk *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "XyJ *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-03-17T11:29:25.108Z",
              "humanReadability" : "Mon, 03/17/2014 at 11:29 AM. CT"
            }
          },
          "showMobilePreferencesReminder" : false,
          "modules" : {
            "personal" : {
              "modulesList" : [ ],
              "hasAccounts" : false
            },
            "business" : {
              "modulesList" : [ ],
              "hasAccounts" : false
            },
            "internal" : {
              "modulesList" : [ ],
              "hasAccounts" : false
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 0,
                  "name" : "Money Market *2678",
                  "balance" : {
                    "humanReadability" : "$618,607.61",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 680422.12
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$496,990.34",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$524,545.45",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1,
                  "name" : "Money Market *5320",
                  "balance" : {
                    "humanReadability" : "$487,227.16",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 990986.16
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$347,787.44",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$892,139.85",
                  "negative" : false
                }
              } ],
              "toAccounts" : [ {
                "id" : 0,
                "name" : "Money Market *9199",
                "balance" : {
                  "humanReadability" : "$644,693.02",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "name" : "Money Market *8184",
                "balance" : {
                  "humanReadability" : "$121,352.04",
                  "negative" : false
                }
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 0,
                "day" : "12",
                "month" : "Nov",
                "title" : "Transaction 768",
                "fromAccount" : "Account *1137",
                "toAccount" : "Account *5105",
                "date" : {
                  "iso8601" : "2002-11-12T11:29:25.109Z",
                  "humanReadability" : "Tue, 11/12/2002 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$106,043.21",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "day" : "06",
                "month" : "Apr",
                "title" : "Transaction 973",
                "fromAccount" : "Account *9048",
                "toAccount" : "Account *0259",
                "date" : {
                  "iso8601" : "2001-04-06T11:29:25.110Z",
                  "humanReadability" : "Fri, 04/06/2001 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$672,978.60",
                  "negative" : false
                }
              } ],
              "otherTransactions" : [ {
                "id" : 0,
                "day" : "08",
                "month" : "May",
                "title" : "Transaction 515",
                "fromAccount" : "Account *2536",
                "toAccount" : "Account *5161",
                "date" : {
                  "iso8601" : "2004-05-08T11:29:25.109Z",
                  "humanReadability" : "Sat, 05/08/2004 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$729,621.58",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "day" : "05",
                "month" : "Mar",
                "title" : "Transaction 993",
                "fromAccount" : "Account *3356",
                "toAccount" : "Account *8273",
                "date" : {
                  "iso8601" : "2004-03-05T11:29:25.109Z",
                  "humanReadability" : "Fri, 03/05/2004 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$518,170.29",
                  "negative" : false
                }
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 0,
                "month" : "Dec",
                "day" : "27",
                "payee" : "Payee 75",
                "account" : "Account *9642 / #45",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$849,769.35",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "month" : "Jan",
                "day" : "07",
                "payee" : "Payee 56",
                "account" : "Account *3175 / #18",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$26,227.98",
                  "negative" : false
                }
              } ],
              "total" : {
                "humanReadability" : "$875,997.33",
                "negative" : false
              }
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 0,
                "month" : "Apr",
                "day" : "15",
                "nickname" : "Account L",
                "accountSuffix" : "*6742",
                "amount" : {
                  "humanReadability" : "$233,137.92",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "month" : "Sep",
                "day" : "08",
                "nickname" : "Account 4",
                "accountSuffix" : "*3838",
                "amount" : {
                  "humanReadability" : "$639,977.34",
                  "negative" : false
                }
              } ]
            }
          },
          "exportBar" : {
            "hrefPdf" : "http://localhost:3000/secure/app/accountsummary/pdf",
            "hrefXlsx" : "http://localhost:3000/secure/app/accountsummary/xlsx"
          }
        }}
        
        
# Group Mocks COMPSBA-188
## Account Summary Load [/accountsummary/load?mock=COMPSBA-188]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-188>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/app/accountsummary#CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xyk *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "XyJ *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-03-17T11:29:25.222Z",
              "humanReadability" : "Mon, 03/17/2014 at 11:29 AM. CT"
            }
          },
          "showMobilePreferencesReminder" : false,
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  },
                  "available" : 3000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:25.227Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$600.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "available" : 0,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:25.227Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_LINE",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  },
                  "available" : 1000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:25.227Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_CARD",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  },
                  "available" : 2000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:25.227Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$600.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "available" : 0,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:25.227Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_LINE",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  },
                  "available" : 1000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:25.227Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_CARD",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$400.00",
                    "negative" : false
                  },
                  "available" : 2000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:25.227Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CREDIT_LINE",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$600.00",
                    "negative" : false
                  },
                  "available" : 3000,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:25.227Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
                    "humanReadability" : "$200.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$1,200.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 0,
                  "name" : "Money Market *2678",
                  "balance" : {
                    "humanReadability" : "$618,607.61",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 680422.12
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$496,990.34",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$524,545.45",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1,
                  "name" : "Money Market *5320",
                  "balance" : {
                    "humanReadability" : "$487,227.16",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 990986.16
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$347,787.44",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$892,139.85",
                  "negative" : false
                }
              } ],
              "toAccounts" : [ {
                "id" : 0,
                "name" : "Money Market *9199",
                "balance" : {
                  "humanReadability" : "$644,693.02",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "name" : "Money Market *8184",
                "balance" : {
                  "humanReadability" : "$121,352.04",
                  "negative" : false
                }
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 0,
                "day" : "12",
                "month" : "Nov",
                "title" : "Transaction 768",
                "fromAccount" : "Account *1137",
                "toAccount" : "Account *5105",
                "date" : {
                  "iso8601" : "2002-11-12T11:29:25.224Z",
                  "humanReadability" : "Tue, 11/12/2002 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$106,043.21",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "day" : "06",
                "month" : "Apr",
                "title" : "Transaction 973",
                "fromAccount" : "Account *9048",
                "toAccount" : "Account *0259",
                "date" : {
                  "iso8601" : "2001-04-06T11:29:25.224Z",
                  "humanReadability" : "Fri, 04/06/2001 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$672,978.60",
                  "negative" : false
                }
              } ],
              "otherTransactions" : [ {
                "id" : 0,
                "day" : "08",
                "month" : "May",
                "title" : "Transaction 515",
                "fromAccount" : "Account *2536",
                "toAccount" : "Account *5161",
                "date" : {
                  "iso8601" : "2004-05-08T11:29:25.224Z",
                  "humanReadability" : "Sat, 05/08/2004 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$729,621.58",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "day" : "05",
                "month" : "Mar",
                "title" : "Transaction 993",
                "fromAccount" : "Account *3356",
                "toAccount" : "Account *8273",
                "date" : {
                  "iso8601" : "2004-03-05T11:29:25.224Z",
                  "humanReadability" : "Fri, 03/05/2004 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$518,170.29",
                  "negative" : false
                }
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 0,
                "month" : "Dec",
                "day" : "27",
                "payee" : "Payee 75",
                "account" : "Account *9642 / #45",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$849,769.35",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "month" : "Jan",
                "day" : "07",
                "payee" : "Payee 56",
                "account" : "Account *3175 / #18",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$26,227.98",
                  "negative" : false
                }
              } ],
              "total" : {
                "humanReadability" : "$875,997.33",
                "negative" : false
              }
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 0,
                "month" : "Apr",
                "day" : "15",
                "nickname" : "Account L",
                "accountSuffix" : "*6742",
                "amount" : {
                  "humanReadability" : "$233,137.92",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "month" : "Sep",
                "day" : "08",
                "nickname" : "Account 4",
                "accountSuffix" : "*3838",
                "amount" : {
                  "humanReadability" : "$639,977.34",
                  "negative" : false
                }
              } ]
            }
          },
          "exportBar" : {
            "hrefPdf" : "http://localhost:3000/secure/app/accountsummary/pdf",
            "hrefXlsx" : "http://localhost:3000/secure/app/accountsummary/xlsx"
          }
        }}
        
        
# Group Mocks COMPSBA-189
## Account Summary Load [/accountsummary/load?mock=COMPSBA-189]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-189>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/app/accountsummary#CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xyk *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "XyJ *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-03-17T11:29:25.407Z",
              "humanReadability" : "Mon, 03/17/2014 at 11:29 AM. CT"
            }
          },
          "showMobilePreferencesReminder" : false,
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$20,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$18,000.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "hasAnchor" : false,
                "accounts" : [ ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$0.00",
                  "negative" : false
                }
              }, {
                "type" : "CHECKING_SAVING",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$20,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$18,000.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "hasAnchor" : false,
                "accounts" : [ ],
                "isOpen" : true,
                "total" : {
                  "humanReadability" : "$0.00",
                  "negative" : false
                }
              }, {
                "type" : "CHECKING_SAVING",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : false,
                "totalPosted" : {
                  "humanReadability" : "$40,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$36,000.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 0,
                  "name" : "Money Market *2678",
                  "balance" : {
                    "humanReadability" : "$618,607.61",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 680422.12
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$496,990.34",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$524,545.45",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1,
                  "name" : "Money Market *5320",
                  "balance" : {
                    "humanReadability" : "$487,227.16",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 990986.16
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$347,787.44",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$892,139.85",
                  "negative" : false
                }
              } ],
              "toAccounts" : [ {
                "id" : 0,
                "name" : "Money Market *9199",
                "balance" : {
                  "humanReadability" : "$644,693.02",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "name" : "Money Market *8184",
                "balance" : {
                  "humanReadability" : "$121,352.04",
                  "negative" : false
                }
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 0,
                "day" : "12",
                "month" : "Nov",
                "title" : "Transaction 768",
                "fromAccount" : "Account *1137",
                "toAccount" : "Account *5105",
                "date" : {
                  "iso8601" : "2002-11-12T11:29:25.409Z",
                  "humanReadability" : "Tue, 11/12/2002 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$106,043.21",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "day" : "06",
                "month" : "Apr",
                "title" : "Transaction 973",
                "fromAccount" : "Account *9048",
                "toAccount" : "Account *0259",
                "date" : {
                  "iso8601" : "2001-04-06T11:29:25.409Z",
                  "humanReadability" : "Fri, 04/06/2001 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$672,978.60",
                  "negative" : false
                }
              } ],
              "otherTransactions" : [ {
                "id" : 0,
                "day" : "08",
                "month" : "May",
                "title" : "Transaction 515",
                "fromAccount" : "Account *2536",
                "toAccount" : "Account *5161",
                "date" : {
                  "iso8601" : "2004-05-08T11:29:25.408Z",
                  "humanReadability" : "Sat, 05/08/2004 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$729,621.58",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "day" : "05",
                "month" : "Mar",
                "title" : "Transaction 993",
                "fromAccount" : "Account *3356",
                "toAccount" : "Account *8273",
                "date" : {
                  "iso8601" : "2004-03-05T11:29:25.409Z",
                  "humanReadability" : "Fri, 03/05/2004 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$518,170.29",
                  "negative" : false
                }
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 0,
                "month" : "Dec",
                "day" : "27",
                "payee" : "Payee 75",
                "account" : "Account *9642 / #45",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$849,769.35",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "month" : "Jan",
                "day" : "07",
                "payee" : "Payee 56",
                "account" : "Account *3175 / #18",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$26,227.98",
                  "negative" : false
                }
              } ],
              "total" : {
                "humanReadability" : "$875,997.33",
                "negative" : false
              }
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 0,
                "month" : "Apr",
                "day" : "15",
                "nickname" : "Account L",
                "accountSuffix" : "*6742",
                "amount" : {
                  "humanReadability" : "$233,137.92",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "month" : "Sep",
                "day" : "08",
                "nickname" : "Account 4",
                "accountSuffix" : "*3838",
                "amount" : {
                  "humanReadability" : "$639,977.34",
                  "negative" : false
                }
              } ]
            }
          },
          "exportBar" : {
            "hrefPdf" : "http://localhost:3000/secure/app/accountsummary/pdf",
            "hrefXlsx" : "http://localhost:3000/secure/app/accountsummary/xlsx"
          }
        }}
        
        
# Group Mocks COMPSBA-192
## Account Summary Load [/accountsummary/load?mock=COMPSBA-192]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-192>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/app/accountsummary#CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xyk *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "XyJ *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-03-17T11:29:25.592Z",
              "humanReadability" : "Mon, 03/17/2014 at 11:29 AM. CT"
            }
          },
          "showMobilePreferencesReminder" : false,
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$10,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$9,000.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$30,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$27,000.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "type" : "CHECKING_SAVING",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CHECKING",
                  "number" : "1111",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "2222",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "alert" : false,
                  "type" : "CHECKING",
                  "number" : "3333",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$10,000.00",
                    "negative" : false
                  },
                  "available" : {
                    "humanReadability" : "$9,000.00",
                    "negative" : false
                  }
                } ],
                "isOpen" : true,
                "totalPosted" : {
                  "humanReadability" : "$40,000.00",
                  "negative" : false
                },
                "totalAvailable" : {
                  "humanReadability" : "$36,000.00",
                  "negative" : false
                }
              } ],
              "hasAccounts" : true
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 0,
                  "name" : "Money Market *2678",
                  "balance" : {
                    "humanReadability" : "$618,607.61",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 680422.12
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$496,990.34",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$524,545.45",
                  "negative" : false
                }
              }, {
                "account" : {
                  "id" : 1,
                  "name" : "Money Market *5320",
                  "balance" : {
                    "humanReadability" : "$487,227.16",
                    "negative" : false
                  }
                },
                "limits" : {
                  "min" : 0.01,
                  "max" : 990986.16
                },
                "transferMaxLimit" : {
                  "humanReadability" : "$347,787.44",
                  "negative" : false
                },
                "dailyMaxLimit" : {
                  "humanReadability" : "$892,139.85",
                  "negative" : false
                }
              } ],
              "toAccounts" : [ {
                "id" : 0,
                "name" : "Money Market *9199",
                "balance" : {
                  "humanReadability" : "$644,693.02",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "name" : "Money Market *8184",
                "balance" : {
                  "humanReadability" : "$121,352.04",
                  "negative" : false
                }
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 0,
                "day" : "12",
                "month" : "Nov",
                "title" : "Transaction 768",
                "fromAccount" : "Account *1137",
                "toAccount" : "Account *5105",
                "date" : {
                  "iso8601" : "2002-11-12T11:29:25.594Z",
                  "humanReadability" : "Tue, 11/12/2002 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$106,043.21",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "day" : "06",
                "month" : "Apr",
                "title" : "Transaction 973",
                "fromAccount" : "Account *9048",
                "toAccount" : "Account *0259",
                "date" : {
                  "iso8601" : "2001-04-06T11:29:25.594Z",
                  "humanReadability" : "Fri, 04/06/2001 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$672,978.60",
                  "negative" : false
                }
              } ],
              "otherTransactions" : [ {
                "id" : 0,
                "day" : "08",
                "month" : "May",
                "title" : "Transaction 515",
                "fromAccount" : "Account *2536",
                "toAccount" : "Account *5161",
                "date" : {
                  "iso8601" : "2004-05-08T11:29:25.593Z",
                  "humanReadability" : "Sat, 05/08/2004 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$729,621.58",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "day" : "05",
                "month" : "Mar",
                "title" : "Transaction 993",
                "fromAccount" : "Account *3356",
                "toAccount" : "Account *8273",
                "date" : {
                  "iso8601" : "2004-03-05T11:29:25.593Z",
                  "humanReadability" : "Fri, 03/05/2004 at 11:29 AM. CT"
                },
                "amount" : {
                  "humanReadability" : "$518,170.29",
                  "negative" : false
                }
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 0,
                "month" : "Dec",
                "day" : "27",
                "payee" : "Payee 75",
                "account" : "Account *9642 / #45",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$849,769.35",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "month" : "Jan",
                "day" : "07",
                "payee" : "Payee 56",
                "account" : "Account *3175 / #18",
                "overdue" : true,
                "amount" : {
                  "humanReadability" : "$26,227.98",
                  "negative" : false
                }
              } ],
              "total" : {
                "humanReadability" : "$875,997.33",
                "negative" : false
              }
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 0,
                "month" : "Apr",
                "day" : "15",
                "nickname" : "Account L",
                "accountSuffix" : "*6742",
                "amount" : {
                  "humanReadability" : "$233,137.92",
                  "negative" : false
                }
              }, {
                "id" : 1,
                "month" : "Sep",
                "day" : "08",
                "nickname" : "Account 4",
                "accountSuffix" : "*3838",
                "amount" : {
                  "humanReadability" : "$639,977.34",
                  "negative" : false
                }
              } ]
            }
          },
          "exportBar" : {
            "hrefPdf" : "http://localhost:3000/secure/app/accountsummary/pdf",
            "hrefXlsx" : "http://localhost:3000/secure/app/accountsummary/xlsx"
          }
        }}
        
        
# Group Mocks COMPSBA-193
## Account Summary Load [/accountsummary/load?mock=COMPSBA-193]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-193>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/app/accountsummary#CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xyk *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "XyJ *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-03-17T11:29:25.758Z",
              "humanReadability" : "Mon, 03/17/2014 at 11:29 AM. CT"
            }
          },
          "showMobilePreferencesReminder" : false,
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "hasAnchor" : false,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "alert" : true,
                  "type" : "CREDIT_CARD",
                  "number" : "0000",
                  "lastUpdated" : "11:29",
                  "posted" : {
                    "humanReadability" : "$0.00",
                    "negative" : false
                  },
                  "available" : 0,
                  "nextDate" : {
                    "iso8601" : "2014-03-17T11:29:25.762Z",
                    "humanReadability" : "03/17/2014"
                  },
                  "minAmount" : {
[...]
