FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/hbs/accountsummary/load]
### base load [GET]
+ Response 200 (application/json)

        {
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : false,
            "totalPosted" : "$40,000.00",
            "totalAvailable" : "$36,000.00",
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "total" : null
          }, {
            "type" : "CD_RETIREMENT",
            "total" : "$10,000.00",
            "isOpen" : false,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "4444",
              "amount" : "$4,000.00"
            } ]
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "total" : "$1,200.00",
            "isOpen" : false,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            } ]
          }, {
            "type" : "LOAN_MORTGAGE",
            "total" : "$6,000.00",
            "isOpen" : true,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$600.00"
            } ]
          }, {
            "type" : "INVESTMENT",
            "total" : "$6,000.00",
            "isOpen" : true,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ]
          }, {
            "type" : "REAL_ESTATE",
            "total" : "$100.00",
            "isOpen" : true,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "percent" : "30.00%",
              "amount" : "$30.00"
            }, {
              "nick" : "Real 4",
              "percent" : "40.00%",
              "amount" : "$40.00"
            } ]
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$00.00",
              "number" : "0000"
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$1,000.00",
              "number" : "1111"
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$2,000.00",
              "number" : "2222"
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$3,000.00",
              "number" : "3333"
            } ]
          } ]
        }
        
## Yoodle [/hbs/accountsummary/yodlee]
### yoodle [GET]
+ Response 200 (application/json)
      
        {
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "totalPosted" : "$110,000.00",
            "totalAvailable" : "$99,000.00",
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 5",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "4444",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 6",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "5555",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 7",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "6666",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 8",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "7777",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 9",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "8888",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 10",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "9999",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 11",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "10101010",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "total" : null
          }, {
            "type" : "CD_RETIREMENT",
            "total" : "$10,000.00",
            "isOpen" : false,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "4444",
              "amount" : "$4,000.00"
            } ]
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "total" : "$11,000.00",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "4444",
              "posted" : "$800.00",
              "available" : 4000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 5",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "5555",
              "posted" : "$1,000.00",
              "available" : 5000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 6",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "6666",
              "posted" : "$1,200.00",
              "available" : 6000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 7",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "7777",
              "posted" : "$1,400.00",
              "available" : 7000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 8",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "8888",
              "posted" : "$1,600.00",
              "available" : 8000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 9",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "9999",
              "posted" : "$1,800.00",
              "available" : 9000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 10",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "10101010",
              "posted" : "$2,000.00",
              "available" : 10000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            } ]
          }, {
            "type" : "LOAN_MORTGAGE",
            "total" : "$6,000.00",
            "isOpen" : true,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$600.00"
            } ]
          }, {
            "type" : "INVESTMENT",
            "total" : "$45,000.00",
            "isOpen" : true,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Credit 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "4444",
              "amount" : "$4,000.00"
            }, {
              "nick" : "Credit 5",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "5555",
              "amount" : "$5,000.00"
            }, {
              "nick" : "Credit 6",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "6666",
              "amount" : "$6,000.00"
            }, {
              "nick" : "Credit 7",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "7777",
              "amount" : "$7,000.00"
            }, {
              "nick" : "Credit 8",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "8888",
              "amount" : "$8,000.00"
            }, {
              "nick" : "Credit 9",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "9999",
              "amount" : "$9,000.00"
            } ]
          }, {
            "type" : "REAL_ESTATE",
            "total" : "$100.00",
            "isOpen" : false,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "percent" : "30.00%",
              "amount" : "$30.00"
            }, {
              "nick" : "Real 4",
              "percent" : "40.00%",
              "amount" : "$40.00"
            } ]
          }, {
            "type" : "REWARDS",
            "isOpen" : false,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$00.00",
              "number" : "0000"
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$1,000.00",
              "number" : "1111"
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$2,000.00",
              "number" : "2222"
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$3,000.00",
              "number" : "3333"
            } ]
          } ]
        }
       

## Credit Card [/hbs/accountsummary/credit-card]
### credit card [GET]
El content-type json, se utilizará únicamente en modo de desarrollo, ya que para utilizar las llamadas AJAX será necesario solicitar el contenido como text/html

+ Request 

    + Headers

            Accept: text/html, application/json

+ Response 200 (application/json)

        {
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "totalPosted" : "$40,000.00",
            "totalAvailable" : "$36,000.00",
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "total" : null
          }, {
            "type" : "CD_RETIREMENT",
            "total" : "$10,000.00",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "4444",
              "amount" : "$4,000.00"
            } ]
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "total" : "$2,000.00",
            "isOpen" : false,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "4444",
              "posted" : "$800.00",
              "available" : 4000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            } ]
          }, {
            "type" : "LOAN_MORTGAGE",
            "total" : "$6,000.00",
            "isOpen" : false,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$600.00"
            } ]
          }, {
            "type" : "INVESTMENT",
            "total" : "$6,000.00",
            "isOpen" : false,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ]
          }, {
            "type" : "REAL_ESTATE",
            "total" : "$100.00",
            "isOpen" : false,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "percent" : "30.00%",
              "amount" : "$30.00"
            }, {
              "nick" : "Real 4",
              "percent" : "40.00%",
              "amount" : "$40.00"
            } ]
          }, {
            "type" : "REWARDS",
            "isOpen" : false,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$00.00",
              "number" : "0000"
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$1,000.00",
              "number" : "1111"
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$2,000.00",
              "number" : "2222"
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$3,000.00",
              "number" : "3333"
            } ]
          } ]
        }
        

+ Response 200 (text/html)

        <html>
             <body>
                 to be defined
             </body>
        </html>