FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/hbs/accountsummary/load]
### base load [GET]
+ Response 200 (application/json)

        {
          "widgets" : [ {
            "status" : "OPEN",
            "type" : "CHECKING_SAVING",
            "totalPosted" : "$40000.0",
            "totalAvailable" : "$36000.0",
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            } ],
            "literals" : {
              "title" : "Checking, Savings and Money Market Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "postedBalance" : "Posted Balance",
                "availableBalance" : "Available Balance"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "CLOSE",
            "type" : "CD_RETIREMENT",
            "total" : "$10000.0",
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 0
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 1000
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 2000
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 3000
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "4444",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 4000
            } ],
            "literals" : {
              "title" : "Certificate of Deposit and Retirement Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "amount" : "Current Balance"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "total" : "$1200.0",
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_CARD",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 0
              }, {
                "key" : "Available credit",
                "value" : 0
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 200
              } ]
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 200
              }, {
                "key" : "Available credit",
                "value" : 1000
              } ]
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_CARD",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 400
              }, {
                "key" : "Available credit",
                "value" : 2000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 200
              } ]
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 600
              }, {
                "key" : "Available credit",
                "value" : 3000
              } ]
            } ],
            "literals" : {
              "title" : "Credit Card, Line of Credit and Overdraft Protection",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "details" : "Details"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "CLOSE",
            "type" : "LOAN_MORTGAGE",
            "total" : "$6000.0",
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_ALS",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 0
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 0
              } ]
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_ALS",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 1000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 200
              } ]
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_LOC",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 2000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 400
              } ]
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_LOC",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 3000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 600
              } ]
            } ],
            "literals" : {
              "title" : "Loan and Mortgage Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "details" : "Details"
              },
              "footer" : {
                "total" : "Total",
                "legal" : "* Balance shown in an estimated one-day payoff balance."
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "INVESTMENT",
            "total" : "$6000.0",
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 0
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 1000
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 2000
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 3000
            } ],
            "literals" : {
              "title" : "Investment Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "amount" : "Value"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "REAL_ESTATE",
            "total" : "$15000.0",
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "percent" : "0.00%",
              "amount" : 0
            }, {
              "nick" : "Real 1",
              "percent" : "10.00%",
              "amount" : 1500
            }, {
              "nick" : "Real 2",
              "percent" : "20.00%",
              "amount" : 3000
            }, {
              "nick" : "Real 3",
              "percent" : "30.00%",
              "amount" : 4500
            }, {
              "nick" : "Real 4",
              "percent" : "40.00%",
              "amount" : 6000
            } ],
            "literals" : {
              "title" : "Real Estate",
              "header" : {
                "description" : "Description",
                "percent" : "% Home Equity Amount",
                "amount" : "Home Equity Amount"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "REWARDS",
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 0
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 1000
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 2000
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 3000
            } ],
            "literals" : {
              "title" : "Rewards",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "number" : "Number",
                "amount" : "Balance"
              }
            }
          } ]
        }
        
## Yoodle [/hbs/accountsummary/yodlee]
### yoodle [GET]
+ Response 200 (application/json)
      
        {
          "widgets" : [ {
            "status" : "OPEN",
            "type" : "CHECKING_SAVING",
            "totalPosted" : "$80000.0",
            "totalAvailable" : "$72000.0",
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 5",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "4444",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 6",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "5555",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 7",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "6666",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 8",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "7777",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            } ],
            "literals" : {
              "title" : "Checking, Savings and Money Market Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "postedBalance" : "Posted Balance",
                "availableBalance" : "Available Balance"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "CLOSE",
            "type" : "CD_RETIREMENT",
            "total" : "$10000.0",
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 0
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 1000
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 2000
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 3000
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "4444",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 4000
            } ],
            "literals" : {
              "title" : "Certificate of Deposit and Retirement Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "amount" : "Current Balance"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "total" : "$4200.0",
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_CARD",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 0
              }, {
                "key" : "Available credit",
                "value" : 0
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 200
              } ]
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 200
              }, {
                "key" : "Available credit",
                "value" : 1000
              } ]
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_CARD",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 400
              }, {
                "key" : "Available credit",
                "value" : 2000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 200
              } ]
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 600
              }, {
                "key" : "Available credit",
                "value" : 3000
              } ]
            }, {
              "nick" : "Credit 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "4444",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 800
              }, {
                "key" : "Available credit",
                "value" : 4000
              } ]
            }, {
              "nick" : "Credit 5",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "5555",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 1000
              }, {
                "key" : "Available credit",
                "value" : 5000
              } ]
            }, {
              "nick" : "Credit 6",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "6666",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 1200
              }, {
                "key" : "Available credit",
                "value" : 6000
              } ]
            } ],
            "literals" : {
              "title" : "Credit Card, Line of Credit and Overdraft Protection",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "details" : "Details"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "CLOSE",
            "type" : "LOAN_MORTGAGE",
            "total" : "$6000.0",
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_ALS",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 0
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 0
              } ]
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_ALS",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 1000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 200
              } ]
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_LOC",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 2000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 400
              } ]
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_LOC",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 3000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 600
              } ]
            } ],
            "literals" : {
              "title" : "Loan and Mortgage Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "details" : "Details"
              },
              "footer" : {
                "total" : "Total",
                "legal" : "* Balance shown in an estimated one-day payoff balance."
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "INVESTMENT",
            "total" : "$78000.0",
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 0
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 1000
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 2000
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 3000
            }, {
              "nick" : "Credit 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "4444",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 4000
            }, {
              "nick" : "Credit 5",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "5555",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 5000
            }, {
              "nick" : "Credit 6",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "6666",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 6000
            }, {
              "nick" : "Credit 7",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "7777",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 7000
            }, {
              "nick" : "Credit 8",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "8888",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 8000
            }, {
              "nick" : "Credit 9",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "9999",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 9000
            }, {
              "nick" : "Credit 10",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "10101010",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 10000
            }, {
              "nick" : "Credit 11",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "11111111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 11000
            }, {
              "nick" : "Credit 12",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "12121212",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 12000
            } ],
            "literals" : {
              "title" : "Investment Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "amount" : "Value"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "REAL_ESTATE",
            "total" : "$15000.0",
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "percent" : "0.00%",
              "amount" : 0
            }, {
              "nick" : "Real 1",
              "percent" : "10.00%",
              "amount" : 1500
            }, {
              "nick" : "Real 2",
              "percent" : "20.00%",
              "amount" : 3000
            }, {
              "nick" : "Real 3",
              "percent" : "30.00%",
              "amount" : 4500
            }, {
              "nick" : "Real 4",
              "percent" : "40.00%",
              "amount" : 6000
            } ],
            "literals" : {
              "title" : "Real Estate",
              "header" : {
                "description" : "Description",
                "percent" : "% Home Equity Amount",
                "amount" : "Home Equity Amount"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "REWARDS",
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 0
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 1000
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 2000
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 3000
            } ],
            "literals" : {
              "title" : "Rewards",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "number" : "Number",
                "amount" : "Balance"
              }
            }
          } ]
        }
       

## Credit Card [/hbs/accountsummary/credit-card]
### credit card [GET]
El content-type json, se utilizará únicamente en modo de desarrollo, ya que para utilizar las llamadas AJAX será necesario solicitar el contenido como text/html

+ Request 

    + Headers

            Accept: text/html, application/json

+ Response 200 (application/json)

        {
          "widgets" : [ {
            "status" : "OPEN",
            "type" : "CHECKING_SAVING",
            "totalPosted" : "$40000.0",
            "totalAvailable" : "$36000.0",
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CHECKING",
              "posted" : 10000,
              "available" : 9000
            } ],
            "literals" : {
              "title" : "Checking, Savings and Money Market Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "postedBalance" : "Posted Balance",
                "availableBalance" : "Available Balance"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "CLOSE",
            "type" : "CD_RETIREMENT",
            "total" : "$10000.0",
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 0
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 1000
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 2000
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 3000
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "4444",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CD",
              "amount" : 4000
            } ],
            "literals" : {
              "title" : "Certificate of Deposit and Retirement Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "amount" : "Current Balance"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "total" : "$3000.0",
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_CARD",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 0
              }, {
                "key" : "Available credit",
                "value" : 0
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 200
              } ]
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 200
              }, {
                "key" : "Available credit",
                "value" : 1000
              } ]
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_CARD",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 400
              }, {
                "key" : "Available credit",
                "value" : 2000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 200
              } ]
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 600
              }, {
                "key" : "Available credit",
                "value" : 3000
              } ]
            }, {
              "nick" : "Credit 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "4444",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 800
              }, {
                "key" : "Available credit",
                "value" : 4000
              } ]
            }, {
              "nick" : "Credit 5",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "5555",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "CREDIT_LINE",
              "details" : [ {
                "key" : "Current Balance",
                "value" : 1000
              }, {
                "key" : "Available credit",
                "value" : 5000
              } ]
            } ],
            "literals" : {
              "title" : "Credit Card, Line of Credit and Overdraft Protection",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "details" : "Details"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "CLOSE",
            "type" : "LOAN_MORTGAGE",
            "total" : "$6000.0",
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_ALS",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 0
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 0
              } ]
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_ALS",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 1000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 200
              } ]
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_LOC",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 2000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 400
              } ]
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "LOAN_LOC",
              "details" : [ {
                "key" : "Payoff Balance",
                "value" : 3000
              }, {
                "key" : "Next Payment Date",
                "value" : "11/18/2013"
              }, {
                "key" : "Min. Payment Amount",
                "value" : 600
              } ]
            } ],
            "literals" : {
              "title" : "Loan and Mortgage Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "details" : "Details"
              },
              "footer" : {
                "total" : "Total",
                "legal" : "* Balance shown in an estimated one-day payoff balance."
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "INVESTMENT",
            "total" : "$6000.0",
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 0
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 1000
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 2000
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "INV",
              "amount" : 3000
            } ],
            "literals" : {
              "title" : "Investment Accounts",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "type" : "Type",
                "amount" : "Value"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "REAL_ESTATE",
            "total" : "$15000.0",
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "percent" : "0.00%",
              "amount" : 0
            }, {
              "nick" : "Real 1",
              "percent" : "10.00%",
              "amount" : 1500
            }, {
              "nick" : "Real 2",
              "percent" : "20.00%",
              "amount" : 3000
            }, {
              "nick" : "Real 3",
              "percent" : "30.00%",
              "amount" : 4500
            }, {
              "nick" : "Real 4",
              "percent" : "40.00%",
              "amount" : 6000
            } ],
            "literals" : {
              "title" : "Real Estate",
              "header" : {
                "description" : "Description",
                "percent" : "% Home Equity Amount",
                "amount" : "Home Equity Amount"
              },
              "footer" : {
                "total" : "Total"
              }
            }
          }, {
            "status" : "OPEN",
            "type" : "REWARDS",
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "number" : "0000",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 0
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "number" : "1111",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 1000
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "number" : "2222",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 2000
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "number" : "3333",
              "lastUpdated" : "As of 00:00 hours ago",
              "type" : "REWARDS",
              "balance" : 3000
            } ],
            "literals" : {
              "title" : "Rewards",
              "header" : {
                "alert" : "Alert",
                "account" : "Account",
                "number" : "Number",
                "amount" : "Balance"
              }
            }
          } ]
        }
        

+ Response 200 (text/html)

        <html>
             <body>
                 to be defined
             </body>
        </html>