FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/hbs/accountsummary/load]
### base load [GET]
+ Response 200 (application/json)

        {
          "widgets": [
            {
              "status": "OPEN",
              "totalPosted": "$40000.0",
              "totalAvailable": "$36000.0",
              "checkingSavingMoneyMarketAccounts": [
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Checking 1",
                  "accountNumber": "0000",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CHECKING",
                  "posted": 10000,
                  "available": 9000
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": false,
                  "nick": "Checking 2",
                  "accountNumber": "1111",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CHECKING",
                  "posted": 10000,
                  "available": 9000
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": true,
                  "nick": "Checking 3",
                  "accountNumber": "2222",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CHECKING",
                  "posted": 10000,
                  "available": 9000
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": false,
                  "nick": "Checking 4",
                  "accountNumber": "3333",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CHECKING",
                  "posted": 10000,
                  "available": 9000
                }
              ],
              "literals": {
                "title": "Checking, Savings and Money Market Accounts",
                "header": {
                  "alert": "Alert",
                  "account": "Account",
                  "type": "Type",
                  "posted": "Posted Balance",
                  "available": "Available Balance"
                },
                "footer": {
                  "total": "Total"
                }
              }
            },
            {
              "status": "CLOSE",
              "total": "$10000.0",
              "certificateDepositRetirementAccounts": [
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Retirement 0",
                  "accountNumber": "0000",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CD",
                  "amount": 0
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Retirement 1",
                  "accountNumber": "1111",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CD",
                  "amount": 1000
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Retirement 2",
                  "accountNumber": "2222",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CD",
                  "amount": 2000
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Retirement 3",
                  "accountNumber": "3333",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CD",
                  "amount": 3000
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Retirement 4",
                  "accountNumber": "4444",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CD",
                  "amount": 4000
                }
              ],
              "literals": {
                "title": "Certificate of Deposit and Retirement Accounts",
                "header": {
                  "alert": "Alert",
                  "account": "Account",
                  "type": "Type",
                  "amount": "Current Balance"
                },
                "footer": {
                  "total": "Total"
                }
              }
            },
            {
              "status": "OPEN",
              "total": "$12000.0",
              "creditCardLineCreditOverdraftProtectionAccounts": [
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Credit 0",
                  "accountNumber": "0000",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_CARD",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 0
                    },
                    {
                      "key": "Available credit",
                      "value": 0
                    },
                    {
                      "key": "Next Payment Date",
                      "value": 1383739146960
                    },
                    {
                      "key": "Min. Payment Amount",
                      "value": 200
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": false,
                  "nick": "Credit 1",
                  "accountNumber": "1111",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_LINE",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 2000
                    },
                    {
                      "key": "Available credit",
                      "value": 1000
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": true,
                  "nick": "Credit 2",
                  "accountNumber": "2222",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_CARD",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 4000
                    },
                    {
                      "key": "Available credit",
                      "value": 2000
                    },
                    {
                      "key": "Next Payment Date",
                      "value": 1383739146960
                    },
                    {
                      "key": "Min. Payment Amount",
                      "value": 200
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": false,
                  "nick": "Credit 3",
                  "accountNumber": "3333",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_LINE",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 6000
                    },
                    {
                      "key": "Available credit",
                      "value": 3000
                    }
                  ]
                }
              ],
              "literals": {
                "title": "Credit Card, Line of Credit and Overdraft Protection",
                "header": {
                  "alert": "Alert",
                  "account": "Account",
                  "type": "Type",
                  "details": "Details"
                },
                "footer": {
                  "total": "Total"
                }
              }
            },
            {
              "status": "CLOSE",
              "total": "$6000.0",
              "loanMortgateAccounts": [
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Loan 0",
                  "accountNumber": "0000",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "LOAN_ALS",
                  "details": [
                    {
                      "key": "Payoff Balance",
                      "value": 0
                    },
                    {
                      "key": "Next Payment Date",
                      "value": 1383739146961
                    },
                    {
                      "key": "Min. Payment Amount",
                      "value": 0
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": false,
                  "nick": "Loan 1",
                  "accountNumber": "1111",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "LOAN_ALS",
                  "details": [
                    {
                      "key": "Payoff Balance",
                      "value": 1000
                    },
                    {
                      "key": "Next Payment Date",
                      "value": 1383739146961
                    },
                    {
                      "key": "Min. Payment Amount",
                      "value": 200
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": true,
                  "nick": "Loan 2",
                  "accountNumber": "2222",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "LOAN_LOC",
                  "details": [
                    {
                      "key": "Payoff Balance",
                      "value": 2000
                    },
                    {
                      "key": "Next Payment Date",
                      "value": 1383739146961
                    },
                    {
                      "key": "Min. Payment Amount",
                      "value": 400
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": false,
                  "nick": "Loan 3",
                  "accountNumber": "3333",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "LOAN_LOC",
                  "details": [
                    {
                      "key": "Payoff Balance",
                      "value": 3000
                    },
                    {
                      "key": "Next Payment Date",
                      "value": 1383739146961
                    },
                    {
                      "key": "Min. Payment Amount",
                      "value": 600
                    }
                  ]
                }
              ],
              "literals": {
                "title": "Loan and Mortgage Accounts",
                "header": {
                  "alert": "Alert",
                  "account": "Account",
                  "type": "Type",
                  "details": "Details"
                },
                "footer": {
                  "total": "Total",
                  "legal": "* Balance shown in an estimated one-day payoff balance."
                }
              }
            },
            {
              "status": "OPEN",
              "total": "$6000.0",
              "investmentAccounts": [
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Credit 0",
                  "accountNumber": "0000",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "INV",
                  "amount": 0
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": false,
                  "nick": "Credit 1",
                  "accountNumber": "1111",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "INV",
                  "amount": 1000
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": true,
                  "nick": "Credit 2",
                  "accountNumber": "2222",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "INV",
                  "amount": 2000
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": false,
                  "nick": "Credit 3",
                  "accountNumber": "3333",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "INV",
                  "amount": 3000
                }
              ],
              "literals": {
                "title": "Investment Accounts",
                "header": {
                  "alert": "Alert",
                  "account": "Account",
                  "type": "Type",
                  "amount": "Value"
                },
                "footer": {
                  "total": "Total"
                }
              }
            },
            {
              "status": "OPEN",
              "total": "$15000.0",
              "realStateAccounts": [
                {
                  "nick": "Real 0",
                  "percent": "0.00%",
                  "amount": 0
                },
                {
                  "nick": "Real 1",
                  "percent": "10.00%",
                  "amount": 1500
                },
                {
                  "nick": "Real 2",
                  "percent": "20.00%",
                  "amount": 3000
                },
                {
                  "nick": "Real 3",
                  "percent": "30.00%",
                  "amount": 4500
                },
                {
                  "nick": "Real 4",
                  "percent": "40.00%",
                  "amount": 6000
                }
              ],
              "literals": {
                "title": "Real State",
                "header": {
                  "description": "Description",
                  "percent": "% Home Equity Amount",
                  "amount": "Home Equity Amount"
                },
                "footer": {
                  "total": "Total"
                }
              }
            },
            {
              "status": "OPEN",
              "rewardsAccounts": [
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Rewards 0",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountNumber": "0000",
                  "amount": 0
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": false,
                  "nick": "Rewards 1",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountNumber": "1111",
                  "amount": 1000
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": true,
                  "nick": "Rewards 2",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountNumber": "2222",
                  "amount": 2000
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": false,
                  "nick": "Rewards 3",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountNumber": "3333",
                  "amount": 3000
                }
              ],
              "literals": {
                "title": "Rewards",
                "header": {
                  "alert": "Alert",
                  "account": "Account",
                  "number": "Number",
                  "amount": "Balance"
                }
              }
            }
          ]
        }
        
## Yoodle [/hbs/accountsummary/yoodle]
### yoodle [GET]
+ Response 200 (application/json)
      
            {
              "widgets": [
                {
                  "status": "OPEN",
                  "totalPostedBalance": "$40000.0",
                  "totalAvailableBalance": "$36000.0",
                  "checkingSavingMoneyMarketAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Checking 1",
                      "accountNumber": "0000",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CHECKING",
                      "postedBalance": 10000,
                      "availableBalance": 9000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": false,
                      "nick": "Checking 2",
                      "accountNumber": "1111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CHECKING",
                      "postedBalance": 10000,
                      "availableBalance": 9000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": true,
                      "nick": "Checking 3",
                      "accountNumber": "2222",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CHECKING",
                      "postedBalance": 10000,
                      "availableBalance": 9000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Checking 4",
                      "accountNumber": "3333",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CHECKING",
                      "postedBalance": 10000,
                      "availableBalance": 9000
                    }
                  ],
                  "literals": {
                    "title": "Checking, Savings and Money Market Accounts",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "type": "Type",
                      "postedBalance": "Posted Balance",
                      "availableBalance": "Available Balance"
                    },
                    "footer": {
                      "total": "Total"
                    }
                  }
                },
                {
                  "status": "CLOSE",
                  "totalBalance": "$10000.0",
                  "certificateDepositRetirementAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Retirement 0",
                      "accountNumber": "0000",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CD",
                      "amount": 0
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Retirement 1",
                      "accountNumber": "1111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CD",
                      "amount": 1000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Retirement 2",
                      "accountNumber": "2222",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CD",
                      "amount": 2000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Retirement 3",
                      "accountNumber": "3333",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CD",
                      "amount": 3000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Retirement 4",
                      "accountNumber": "4444",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CD",
                      "amount": 4000
                    }
                  ],
                  "literals": {
                    "title": "Certificate of Deposit and Retirement Accounts",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "type": "Type",
                      "amount": "Current Balance"
                    },
                    "footer": {
                      "total": "Total"
                    }
                  }
                },
                {
                  "status": "OPEN",
                  "totalBalance": "$12000.0",
                  "creditCardLineCreditOverdraftProtectionAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Credit 0",
                      "accountNumber": "0000",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CREDIT_CARD",
                      "details": [
                        {
                          "key": "Current Balance",
                          "value": 0
                        },
                        {
                          "key": "Available credit",
                          "value": 0
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201341
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 200
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": false,
                      "nick": "Credit 1",
                      "accountNumber": "1111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CREDIT_LINE",
                      "details": [
                        {
                          "key": "Current Balance",
                          "value": 2000
                        },
                        {
                          "key": "Available credit",
                          "value": 1000
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": true,
                      "nick": "Credit 2",
                      "accountNumber": "2222",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CREDIT_CARD",
                      "details": [
                        {
                          "key": "Current Balance",
                          "value": 4000
                        },
                        {
                          "key": "Available credit",
                          "value": 2000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201342
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 200
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Credit 3",
                      "accountNumber": "3333",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "CREDIT_LINE",
                      "details": [
                        {
                          "key": "Current Balance",
                          "value": 6000
                        },
                        {
                          "key": "Available credit",
                          "value": 3000
                        }
                      ]
                    }
                  ],
                  "literals": {
                    "title": "Certificate of Deposit and Retirement Accounts",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "type": "Type",
                      "details": "Details"
                    },
                    "footer": {
                      "total": "Total"
                    }
                  }
                },
                {
                  "status": "CLOSE",
                  "totalBalance": "$105000.0",
                  "loanMortgateAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Loan 0",
                      "accountNumber": "0000",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 0
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201343
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 0
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": false,
                      "nick": "Loan 1",
                      "accountNumber": "1111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 1000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201343
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 200
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": true,
                      "nick": "Loan 2",
                      "accountNumber": "2222",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_LOC",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 2000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201343
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 400
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Loan 3",
                      "accountNumber": "3333",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_LOC",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 3000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201343
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 600
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Loan 4",
                      "accountNumber": "4444",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 4000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 800
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Loan 5",
                      "accountNumber": "5555",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 5000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 1000
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Loan 6",
                      "accountNumber": "6666",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 6000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 1200
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Loan 7",
                      "accountNumber": "7777",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 7000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 1400
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Loan 8",
                      "accountNumber": "8888",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 8000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 1600
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Loan 9",
                      "accountNumber": "9999",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 9000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 1800
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Loan 10",
                      "accountNumber": "10101010",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 10000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 2000
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Loan 11",
                      "accountNumber": "11111111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 11000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 2200
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Loan 12",
                      "accountNumber": "12121212",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 12000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 2400
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Loan 13",
                      "accountNumber": "13131313",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 13000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 2600
                        }
                      ]
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Loan 14",
                      "accountNumber": "14141414",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "LOAN_ALS",
                      "details": [
                        {
                          "key": "Payoff Balance",
                          "value": 14000
                        },
                        {
                          "key": "Next Payment Date",
                          "value": 1383739201676
                        },
                        {
                          "key": "Min. Payment Amount",
                          "value": 2800
                        }
                      ]
                    }
                  ],
                  "literals": {
                    "title": "Loan and Mortgage Accounts",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "type": "Type",
                      "details": "Details"
                    },
                    "footer": {
                      "total": "Total",
                      "legal": "* Balance shown in an estimated one-day payoff balance."
                    }
                  }
                },
                {
                  "status": "OPEN",
                  "total": "$36000.0",
                  "investmentAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Credit 0",
                      "accountNumber": "0000",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 0
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": false,
                      "nick": "Credit 1",
                      "accountNumber": "1111",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 1000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": true,
                      "nick": "Credit 2",
                      "accountNumber": "2222",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 2000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Credit 3",
                      "accountNumber": "3333",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 3000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Credit 4",
                      "accountNumber": "4444",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 4000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Credit 5",
                      "accountNumber": "5555",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 5000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Credit 6",
                      "accountNumber": "6666",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 6000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Credit 7",
                      "accountNumber": "7777",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 7000
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Credit 8",
                      "accountNumber": "8888",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountType": "INV",
                      "amount": 8000
                    }
                  ],
                  "literals": {
                    "title": "Investment Accounts",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "type": "Type",
                      "amount": "Value"
                    },
                    "footer": {
                      "total": "Total"
                    }
                  }
                },
                {
                  "status": "OPEN",
                  "total": "$15000.0",
                  "realStateAccounts": [
                    {
                      "nick": "Real 0",
                      "percent": "0.00%",
                      "amount": 0
                    },
                    {
                      "nick": "Real 1",
                      "percent": "10.00%",
                      "amount": 1500
                    },
                    {
                      "nick": "Real 2",
                      "percent": "20.00%",
                      "amount": 3000
                    },
                    {
                      "nick": "Real 3",
                      "percent": "30.00%",
                      "amount": 4500
                    },
                    {
                      "nick": "Real 4",
                      "percent": "40.00%",
                      "amount": 6000
                    }
                  ],
                  "literals": {
                    "title": "Real State",
                    "header": {
                      "description": "Description",
                      "percent": "% Home Equity Amount",
                      "amount": "Home Equity Amount"
                    },
                    "footer": {
                      "total": "Total"
                    }
                  }
                },
                {
                  "status": "OPEN",
                  "rewardsAccounts": [
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": true,
                      "nick": "Rewards 0",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountNumber": "0000",
                      "amount": 0
                    },
                    {
                      "bbvaCompassAccount": true,
                      "hasAlert": false,
                      "nick": "Rewards 1",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountNumber": "1111",
                      "amount": 1000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": true,
                      "nick": "Rewards 2",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountNumber": "2222",
                      "amount": 2000
                    },
                    {
                      "bbvaCompassAccount": false,
                      "hasAlert": false,
                      "nick": "Rewards 3",
                      "lastUpdated": "As of 00:00 hours ago",
                      "accountNumber": "3333",
                      "amount": 3000
                    }
                  ],
                  "literals": {
                    "title": "Rewards",
                    "header": {
                      "alert": "Alert",
                      "account": "Account",
                      "number": "Number",
                      "amount": "Balance"
                    }
                  }
                }
              ]
            }
       

## Credit Card [/hbs/accountsummary/credit-card]
### credit card [GET]
El content-type json, se utilizará únicamente en modo de desarrollo, ya que para utilizar las llamadas AJAX será necesario solicitar el contenido como text/html

+ Request 

    + Headers

            Accept: text/html, application/json

+ Response 200 (application/json)

            {
              "status": "OPEN",
              "totalBalance": "$72000.0",
              "creditCardLineCreditOverdraftProtectionAccounts": [
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Credit 0",
                  "accountNumber": "0000",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_CARD",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 0
                    },
                    {
                      "key": "Available credit",
                      "value": 0
                    },
                    {
                      "key": "Next Payment Date",
                      "value": 1383740757018
                    },
                    {
                      "key": "Min. Payment Amount",
                      "value": 200
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": false,
                  "nick": "Credit 1",
                  "accountNumber": "1111",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_LINE",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 2000
                    },
                    {
                      "key": "Available credit",
                      "value": 1000
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": true,
                  "nick": "Credit 2",
                  "accountNumber": "2222",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_CARD",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 4000
                    },
                    {
                      "key": "Available credit",
                      "value": 2000
                    },
                    {
                      "key": "Next Payment Date",
                      "value": 1383740757019
                    },
                    {
                      "key": "Min. Payment Amount",
                      "value": 200
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": false,
                  "nick": "Credit 3",
                  "accountNumber": "3333",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_LINE",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 6000
                    },
                    {
                      "key": "Available credit",
                      "value": 3000
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Credit 4",
                  "accountNumber": "4444",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_LINE",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 8000
                    },
                    {
                      "key": "Available credit",
                      "value": 4000
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": false,
                  "nick": "Credit 5",
                  "accountNumber": "5555",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_LINE",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 10000
                    },
                    {
                      "key": "Available credit",
                      "value": 5000
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Credit 6",
                  "accountNumber": "6666",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_LINE",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 12000
                    },
                    {
                      "key": "Available credit",
                      "value": 6000
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": false,
                  "hasAlert": false,
                  "nick": "Credit 7",
                  "accountNumber": "7777",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_LINE",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 14000
                    },
                    {
                      "key": "Available credit",
                      "value": 7000
                    }
                  ]
                },
                {
                  "bbvaCompassAccount": true,
                  "hasAlert": true,
                  "nick": "Credit 8",
                  "accountNumber": "8888",
                  "lastUpdated": "As of 00:00 hours ago",
                  "accountType": "CREDIT_LINE",
                  "details": [
                    {
                      "key": "Current Balance",
                      "value": 16000
                    },
                    {
                      "key": "Available credit",
                      "value": 8000
                    }
                  ]
                }
              ],
              "literals": {
                "title": "Certificate of Deposit and Retirement Accounts",
                "header": {
                  "alert": "Alert",
                  "account": "Account",
                  "type": "Type",
                  "details": "Details"
                },
                "footer": {
                  "total": "Total"
                }
              }
            }
        

+ Response 200 (text/html)

        <html>
            <body>
                To be defined
            </body>
        </html>