FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/accountsummary/load]
### . [GET]
+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/accountsummary?moduleSel=CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xya *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "Xyk *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "INTERNAL",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : 1393936165884
          },
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936165860,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936165860,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                } ]
              }, {
                "status" : "OPEN",
                "type" : "CD_RETIREMENT",
                "accounts" : [ {
                  "nick" : "Retirement 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CD",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936165860,
                  "currentBalance" : 2000
                }, {
                  "nick" : "Retirement 4",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CD",
                  "alert" : true,
                  "accountNumber" : "4444",
                  "lastUpdated" : 1393936165860,
                  "currentBalance" : 4000
                } ]
              }, {
                "status" : "OPEN",
                "type" : "INVESTMENT",
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "INV",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936165861,
                  "value" : 0
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "INV",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936165861,
                  "value" : 2000
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "INV",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936165861,
                  "value" : 3000
                } ]
              }, {
                "status" : "OPEN",
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CREDIT_CARD",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936165862,
                  "currentBalance" : 0,
                  "availableCredit" : 0,
                  "nextPaymentDate" : 1393936165862,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CREDIT_LINE",
                  "alert" : false,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936165862,
                  "currentBalance" : 200,
                  "availableCredit" : 1000,
                  "nextPaymentDate" : 1393936165862,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CREDIT_CARD",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936165862,
                  "currentBalance" : 400,
                  "availableCredit" : 2000,
                  "nextPaymentDate" : 1393936165862,
                  "minPaymentAmount" : 200
                } ]
              }, {
                "status" : "OPEN",
                "type" : "LOAN_MORTGAGE",
                "accounts" : [ {
                  "nick" : "Loan 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "LOAN_ALS",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936165862,
                  "payOffBalance" : 0,
                  "nextPaymentDate" : 1393936165863,
                  "minPaymentAmount" : 0
                }, {
                  "nick" : "Loan 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "LOAN_LOC",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936165863,
                  "payOffBalance" : 2000,
                  "nextPaymentDate" : 1393936165863,
                  "minPaymentAmount" : 400
                }, {
                  "nick" : "Loan 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "LOAN_LOC",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936165863,
                  "payOffBalance" : 3000,
                  "nextPaymentDate" : 1393936165863,
                  "minPaymentAmount" : 600
                } ]
              }, {
                "status" : "OPEN",
                "type" : "REAL_ESTATE",
                "accounts" : [ {
                  "nick" : "Real 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "homeEquityPercent" : 0.10,
                  "homeEquityAmount" : 10
                }, {
                  "nick" : "Real 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "homeEquityPercent" : 0.20,
                  "homeEquityAmount" : 20
                } ]
              }, {
                "status" : "OPEN",
                "type" : "REWARDS",
                "accounts" : [ {
                  "nick" : "Rewards 50",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "REWARDS",
                  "alert" : false,
                  "accountNumber" : "00050",
                  "balance" : 8750
                }, {
                  "nick" : "Rewards 67",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "REWARDS",
                  "alert" : false,
                  "accountNumber" : "00067",
                  "balance" : 11725
                } ]
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936165859,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936165860,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                } ]
              }, {
                "status" : "OPEN",
                "type" : "CD_RETIREMENT",
                "accounts" : [ {
                  "nick" : "Retirement 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CD",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936165860,
                  "currentBalance" : 0
                }, {
                  "nick" : "Retirement 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CD",
                  "alert" : true,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936165860,
                  "currentBalance" : 1000
                }, {
                  "nick" : "Retirement 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CD",
                  "alert" : true,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936165860,
                  "currentBalance" : 3000
                } ]
              }, {
                "status" : "OPEN",
                "type" : "INVESTMENT",
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "INV",
                  "alert" : false,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936165861,
                  "value" : 1000
                } ]
              }, {
                "status" : "OPEN",
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CREDIT_LINE",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936165862,
                  "currentBalance" : 600,
                  "availableCredit" : 3000,
                  "nextPaymentDate" : 1393936165862,
                  "minPaymentAmount" : 200
                } ]
              }, {
                "status" : "OPEN",
                "type" : "LOAN_MORTGAGE",
                "accounts" : [ {
                  "nick" : "Loan 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "LOAN_ALS",
                  "alert" : false,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936165863,
                  "payOffBalance" : 1000,
                  "nextPaymentDate" : 1393936165863,
                  "minPaymentAmount" : 200
                } ]
              }, {
                "status" : "OPEN",
                "type" : "REAL_ESTATE",
                "accounts" : [ {
                  "nick" : "Real 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "homeEquityPercent" : 0.0,
                  "homeEquityAmount" : 0
                }, {
                  "nick" : "Real 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "homeEquityPercent" : 0.30,
                  "homeEquityAmount" : 30
                }, {
                  "nick" : "Real 4",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "homeEquityPercent" : 0.40,
                  "homeEquityAmount" : 40
                } ]
              }, {
                "status" : "OPEN",
                "type" : "REWARDS",
                "accounts" : [ {
                  "nick" : "Rewards 49",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "REWARDS",
                  "alert" : false,
                  "accountNumber" : "00049",
                  "balance" : 8575
                }, {
                  "nick" : "Rewards 79",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "REWARDS",
                  "alert" : false,
                  "accountNumber" : "00079",
                  "balance" : 13825
                } ]
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "status" : "CLOSE",
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936165859,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936165860,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936165860,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936165860,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                } ]
              }, {
                "status" : "OPEN",
                "type" : "CD_RETIREMENT",
                "accounts" : [ {
                  "nick" : "Retirement 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CD",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936165860,
                  "currentBalance" : 0
                }, {
                  "nick" : "Retirement 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CD",
                  "alert" : true,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936165860,
                  "currentBalance" : 1000
                }, {
                  "nick" : "Retirement 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CD",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936165860,
                  "currentBalance" : 2000
                }, {
                  "nick" : "Retirement 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CD",
                  "alert" : true,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936165860,
                  "currentBalance" : 3000
                }, {
                  "nick" : "Retirement 4",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CD",
                  "alert" : true,
                  "accountNumber" : "4444",
                  "lastUpdated" : 1393936165860,
                  "currentBalance" : 4000
                } ]
              }, {
                "status" : "CLOSE",
                "type" : "INVESTMENT",
                "adviceVisible" : true,
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "INV",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936165861,
                  "value" : 0
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "INV",
                  "alert" : false,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936165861,
                  "value" : 1000
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "INV",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936165861,
                  "value" : 2000
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "INV",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936165861,
                  "value" : 3000
                } ]
              }, {
                "status" : "CLOSE",
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CREDIT_CARD",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936165862,
                  "currentBalance" : 0,
                  "availableCredit" : 0,
                  "nextPaymentDate" : 1393936165862,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CREDIT_LINE",
                  "alert" : false,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936165862,
                  "currentBalance" : 200,
                  "availableCredit" : 1000,
                  "nextPaymentDate" : 1393936165862,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CREDIT_CARD",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936165862,
                  "currentBalance" : 400,
                  "availableCredit" : 2000,
                  "nextPaymentDate" : 1393936165862,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CREDIT_LINE",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936165862,
                  "currentBalance" : 600,
                  "availableCredit" : 3000,
                  "nextPaymentDate" : 1393936165862,
                  "minPaymentAmount" : 200
                } ]
              }, {
                "status" : "CLOSE",
                "type" : "LOAN_MORTGAGE",
                "accounts" : [ {
                  "nick" : "Loan 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "LOAN_ALS",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936165862,
                  "payOffBalance" : 0,
                  "nextPaymentDate" : 1393936165863,
                  "minPaymentAmount" : 0
                }, {
                  "nick" : "Loan 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "LOAN_ALS",
                  "alert" : false,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936165863,
                  "payOffBalance" : 1000,
                  "nextPaymentDate" : 1393936165863,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Loan 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "LOAN_LOC",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936165863,
                  "payOffBalance" : 2000,
                  "nextPaymentDate" : 1393936165863,
                  "minPaymentAmount" : 400
                }, {
                  "nick" : "Loan 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "LOAN_LOC",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936165863,
                  "payOffBalance" : 3000,
                  "nextPaymentDate" : 1393936165863,
                  "minPaymentAmount" : 600
                } ]
              }, {
                "status" : "CLOSE",
                "type" : "REAL_ESTATE",
                "accounts" : [ {
                  "nick" : "Real 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "homeEquityPercent" : 0.0,
                  "homeEquityAmount" : 0
                }, {
                  "nick" : "Real 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "homeEquityPercent" : 0.10,
                  "homeEquityAmount" : 10
                }, {
                  "nick" : "Real 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "homeEquityPercent" : 0.20,
                  "homeEquityAmount" : 20
                }, {
                  "nick" : "Real 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "homeEquityPercent" : 0.30,
                  "homeEquityAmount" : 30
                }, {
                  "nick" : "Real 4",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "homeEquityPercent" : 0.40,
                  "homeEquityAmount" : 40
                } ]
              }, {
                "status" : "OPEN",
                "type" : "REWARDS",
                "accounts" : [ {
                  "nick" : "Rewards 50",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "REWARDS",
                  "alert" : false,
                  "accountNumber" : "00050",
                  "balance" : 8750
                }, {
                  "nick" : "Rewards 49",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "REWARDS",
                  "alert" : false,
                  "accountNumber" : "00049",
                  "balance" : 8575
                }, {
                  "nick" : "Rewards 67",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "REWARDS",
                  "alert" : false,
                  "accountNumber" : "00067",
                  "balance" : 11725
                }, {
                  "nick" : "Rewards 79",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "REWARDS",
                  "alert" : false,
                  "accountNumber" : "00079",
                  "balance" : 13825
                } ]
              } ],
              "hasAccounts" : true
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "netWorthPerformance" : {
              "open" : true
            },
            "noPershingAccounts" : true,
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : 1300.54
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20000.50
                },
                "transferMaxLimit" : 1000000.25,
                "dailyMaxLimit" : 50000.25
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : 302.14
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 222.50
                },
                "transferMaxLimit" : 9999
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : 1000
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20
                },
                "dailyMaxLimit" : 50
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : 586.15
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 4000.90
                },
                "transferMaxLimit" : 155155.25,
                "dailyMaxLimit" : 8780.65
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : 200.94
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 8623.23
                },
                "transferMaxLimit" : 351456.25,
                "dailyMaxLimit" : 9823.25
              }, {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : 1300.54
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20000.50
                },
                "transferMaxLimit" : 1000000.25,
                "dailyMaxLimit" : 50000.25
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : 302.14
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 222.50
                },
                "transferMaxLimit" : 9999
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : 1000
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20
                },
                "dailyMaxLimit" : 50
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : 586.15
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 4000.90
                },
                "transferMaxLimit" : 155155.25,
                "dailyMaxLimit" : 8780.65
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : 200.94
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 8623.23
                },
                "transferMaxLimit" : 351456.25,
                "dailyMaxLimit" : 9823.25
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : 310.54
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : 5300.24
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : 1000.24
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : 2320
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : 327.67
              }, {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : 310.54
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : 5300.24
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : 1000.24
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : 2320
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : 327.67
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "date" : 1347375342000,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : 250.25,
                "fromAccount" : "XYZ *4040",
                "toAccount" : "XYZ *5040"
              }, {
                "id" : 1002,
                "date" : 1347375342000,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : 100,
                "fromAccount" : "XYZ *4041",
                "toAccount" : "XYZ *5041"
              }, {
                "id" : 1003,
                "date" : 1347375342000,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : 1500.12,
                "fromAccount" : "XYZ *4042",
                "toAccount" : "XYZ *5042"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "date" : 1347375342000,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : 400.60,
                "fromAccount" : "XYZ *6040",
                "toAccount" : "XYZ *7040"
              }, {
                "id" : 2002,
                "date" : 1347375342000,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : 25.02,
                "fromAccount" : "XYZ *6041",
                "toAccount" : "XYZ *7041"
              }, {
                "id" : 2003,
                "date" : 1347375342000,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : 500.98,
                "fromAccount" : "XYZ *6042",
                "toAccount" : "XYZ *7042"
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : 100.00,
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : 340.50,
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : 34.20,
                "overdue" : false
              } ],
              "total" : 474.70
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : 50.00
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : 640.00
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : 80.75
              } ]
            }
          },
          "showMobilePreferencesReminder" : false
        }}

## Account Summary external accounts [/accountsummary/load/external]
### . [GET]
+ Response 200 (application/json)

        {
          "modulesList" : [ ],
          "hasAccounts" : false
        }
        

## Account Summary UpdateTabsChange [/accountsummary/tabs/{filter}]
### . [POST]
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200

## Account Summary close investments advice [/accountsummary/investements/advice]
### . [DELETE]

+ Response 200

## Account Summary update module state [/accountsummary/state/module/{filter}/{moduleType}]
### . [PUT]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

### . [DELETE]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

## Account Summary change order module [/accountsummary/order/module/{filter}/{moduleType}]
### . [PUT]
+ Parameters
    + filter (required, enumeration) ... internal, personal, business
    + moduleType (required, enumeration) ... CHECKING_SAVING, CD_RETIREMENT, INVESTMENT, CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION, LOAN_MORTGAGE, REAL_ESTATE, REWARDS

+ Response 200

## Account Summary update widget state [/accountsummary/state/widget]
### . [PUT]

+ Response 200

### . [DELETE]

+ Response 200

## Account Summary PDF [/accountsummary/pdf]
### . [GET]

+ Response 200

## Account Summary EXCEL [/accountsummary/xlsx]
### . [GET]

+ Response 200


# Group Mocks COMPSBA-186
## Account Summary Load [/accountsummary/load?mock=COMPSBA-186]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-186>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/accountsummary?moduleSel=CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xya *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "Xyk *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "INTERNAL",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : 1393936169333
          },
          "modules" : {
            "personal" : {
              "modulesList" : [ ],
              "hasAccounts" : false
            },
            "business" : {
              "modulesList" : [ ],
              "hasAccounts" : false
            },
            "internal" : {
              "modulesList" : [ ],
              "hasAccounts" : false
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "netWorthPerformance" : {
              "open" : true
            },
            "noPershingAccounts" : true,
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : 1300.54
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20000.50
                },
                "transferMaxLimit" : 1000000.25,
                "dailyMaxLimit" : 50000.25
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : 302.14
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 222.50
                },
                "transferMaxLimit" : 9999
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : 1000
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20
                },
                "dailyMaxLimit" : 50
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : 586.15
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 4000.90
                },
                "transferMaxLimit" : 155155.25,
                "dailyMaxLimit" : 8780.65
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : 200.94
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 8623.23
                },
                "transferMaxLimit" : 351456.25,
                "dailyMaxLimit" : 9823.25
              }, {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : 1300.54
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20000.50
                },
                "transferMaxLimit" : 1000000.25,
                "dailyMaxLimit" : 50000.25
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : 302.14
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 222.50
                },
                "transferMaxLimit" : 9999
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : 1000
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20
                },
                "dailyMaxLimit" : 50
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : 586.15
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 4000.90
                },
                "transferMaxLimit" : 155155.25,
                "dailyMaxLimit" : 8780.65
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : 200.94
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 8623.23
                },
                "transferMaxLimit" : 351456.25,
                "dailyMaxLimit" : 9823.25
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : 310.54
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : 5300.24
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : 1000.24
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : 2320
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : 327.67
              }, {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : 310.54
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : 5300.24
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : 1000.24
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : 2320
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : 327.67
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "date" : 1347375342000,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : 250.25,
                "fromAccount" : "XYZ *4040",
                "toAccount" : "XYZ *5040"
              }, {
                "id" : 1002,
                "date" : 1347375342000,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : 100,
                "fromAccount" : "XYZ *4041",
                "toAccount" : "XYZ *5041"
              }, {
                "id" : 1003,
                "date" : 1347375342000,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : 1500.12,
                "fromAccount" : "XYZ *4042",
                "toAccount" : "XYZ *5042"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "date" : 1347375342000,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : 400.60,
                "fromAccount" : "XYZ *6040",
                "toAccount" : "XYZ *7040"
              }, {
                "id" : 2002,
                "date" : 1347375342000,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : 25.02,
                "fromAccount" : "XYZ *6041",
                "toAccount" : "XYZ *7041"
              }, {
                "id" : 2003,
                "date" : 1347375342000,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : 500.98,
                "fromAccount" : "XYZ *6042",
                "toAccount" : "XYZ *7042"
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : 100.00,
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : 340.50,
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : 34.20,
                "overdue" : false
              } ],
              "total" : 474.70
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : 50.00
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : 640.00
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : 80.75
              } ]
            }
          },
          "showMobilePreferencesReminder" : false
        }}
        
        
# Group Mocks COMPSBA-188
## Account Summary Load [/accountsummary/load?mock=COMPSBA-188]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-188>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/accountsummary?moduleSel=CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xya *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "Xyk *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "INTERNAL",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : 1393936172622
          },
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CREDIT_LINE",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936172622,
                  "currentBalance" : 600,
                  "availableCredit" : 3000,
                  "nextPaymentDate" : 1393936172622,
                  "minPaymentAmount" : 200
                } ]
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CREDIT_CARD",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936172622,
                  "currentBalance" : 0,
                  "availableCredit" : 0,
                  "nextPaymentDate" : 1393936172622,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CREDIT_LINE",
                  "alert" : true,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936172622,
                  "currentBalance" : 200,
                  "availableCredit" : 1000,
                  "nextPaymentDate" : 1393936172622,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CREDIT_CARD",
                  "alert" : false,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936172622,
                  "currentBalance" : 400,
                  "availableCredit" : 2000,
                  "nextPaymentDate" : 1393936172622,
                  "minPaymentAmount" : 200
                } ]
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 0",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CREDIT_CARD",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936172622,
                  "currentBalance" : 0,
                  "availableCredit" : 0,
                  "nextPaymentDate" : 1393936172622,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CREDIT_LINE",
                  "alert" : true,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936172622,
                  "currentBalance" : 200,
                  "availableCredit" : 1000,
                  "nextPaymentDate" : 1393936172622,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CREDIT_CARD",
                  "alert" : false,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936172622,
                  "currentBalance" : 400,
                  "availableCredit" : 2000,
                  "nextPaymentDate" : 1393936172622,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CREDIT_LINE",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936172622,
                  "currentBalance" : 600,
                  "availableCredit" : 3000,
                  "nextPaymentDate" : 1393936172622,
                  "minPaymentAmount" : 200
                } ]
              } ],
              "hasAccounts" : true
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "netWorthPerformance" : {
              "open" : true
            },
            "noPershingAccounts" : true,
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : 1300.54
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20000.50
                },
                "transferMaxLimit" : 1000000.25,
                "dailyMaxLimit" : 50000.25
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : 302.14
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 222.50
                },
                "transferMaxLimit" : 9999
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : 1000
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20
                },
                "dailyMaxLimit" : 50
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : 586.15
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 4000.90
                },
                "transferMaxLimit" : 155155.25,
                "dailyMaxLimit" : 8780.65
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : 200.94
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 8623.23
                },
                "transferMaxLimit" : 351456.25,
                "dailyMaxLimit" : 9823.25
              }, {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : 1300.54
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20000.50
                },
                "transferMaxLimit" : 1000000.25,
                "dailyMaxLimit" : 50000.25
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : 302.14
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 222.50
                },
                "transferMaxLimit" : 9999
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : 1000
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20
                },
                "dailyMaxLimit" : 50
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : 586.15
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 4000.90
                },
                "transferMaxLimit" : 155155.25,
                "dailyMaxLimit" : 8780.65
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : 200.94
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 8623.23
                },
                "transferMaxLimit" : 351456.25,
                "dailyMaxLimit" : 9823.25
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : 310.54
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : 5300.24
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : 1000.24
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : 2320
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : 327.67
              }, {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : 310.54
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : 5300.24
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : 1000.24
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : 2320
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : 327.67
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "date" : 1347375342000,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : 250.25,
                "fromAccount" : "XYZ *4040",
                "toAccount" : "XYZ *5040"
              }, {
                "id" : 1002,
                "date" : 1347375342000,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : 100,
                "fromAccount" : "XYZ *4041",
                "toAccount" : "XYZ *5041"
              }, {
                "id" : 1003,
                "date" : 1347375342000,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : 1500.12,
                "fromAccount" : "XYZ *4042",
                "toAccount" : "XYZ *5042"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "date" : 1347375342000,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : 400.60,
                "fromAccount" : "XYZ *6040",
                "toAccount" : "XYZ *7040"
              }, {
                "id" : 2002,
                "date" : 1347375342000,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : 25.02,
                "fromAccount" : "XYZ *6041",
                "toAccount" : "XYZ *7041"
              }, {
                "id" : 2003,
                "date" : 1347375342000,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : 500.98,
                "fromAccount" : "XYZ *6042",
                "toAccount" : "XYZ *7042"
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : 100.00,
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : 340.50,
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : 34.20,
                "overdue" : false
              } ],
              "total" : 474.70
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : 50.00
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : 640.00
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : 80.75
              } ]
            }
          },
          "showMobilePreferencesReminder" : false
        }}
        
        
# Group Mocks COMPSBA-189
## Account Summary Load [/accountsummary/load?mock=COMPSBA-189]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-189>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/accountsummary?moduleSel=CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xya *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "Xyk *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "INTERNAL",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : 1393936173774
          },
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936173774,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                } ]
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ ]
              }, {
                "status" : "OPEN",
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936173774,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936173774,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936173774,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                } ]
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ ]
              }, {
                "status" : "CLOSE",
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936173774,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936173774,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936173774,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936173774,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                } ]
              } ],
              "hasAccounts" : true
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "netWorthPerformance" : {
              "open" : true
            },
            "noPershingAccounts" : true,
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : 1300.54
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20000.50
                },
                "transferMaxLimit" : 1000000.25,
                "dailyMaxLimit" : 50000.25
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : 302.14
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 222.50
                },
                "transferMaxLimit" : 9999
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : 1000
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20
                },
                "dailyMaxLimit" : 50
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : 586.15
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 4000.90
                },
                "transferMaxLimit" : 155155.25,
                "dailyMaxLimit" : 8780.65
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : 200.94
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 8623.23
                },
                "transferMaxLimit" : 351456.25,
                "dailyMaxLimit" : 9823.25
              }, {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : 1300.54
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20000.50
                },
                "transferMaxLimit" : 1000000.25,
                "dailyMaxLimit" : 50000.25
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : 302.14
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 222.50
                },
                "transferMaxLimit" : 9999
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : 1000
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20
                },
                "dailyMaxLimit" : 50
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : 586.15
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 4000.90
                },
                "transferMaxLimit" : 155155.25,
                "dailyMaxLimit" : 8780.65
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : 200.94
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 8623.23
                },
                "transferMaxLimit" : 351456.25,
                "dailyMaxLimit" : 9823.25
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : 310.54
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : 5300.24
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : 1000.24
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : 2320
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : 327.67
              }, {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : 310.54
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : 5300.24
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : 1000.24
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : 2320
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : 327.67
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "date" : 1347375342000,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : 250.25,
                "fromAccount" : "XYZ *4040",
                "toAccount" : "XYZ *5040"
              }, {
                "id" : 1002,
                "date" : 1347375342000,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : 100,
                "fromAccount" : "XYZ *4041",
                "toAccount" : "XYZ *5041"
              }, {
                "id" : 1003,
                "date" : 1347375342000,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : 1500.12,
                "fromAccount" : "XYZ *4042",
                "toAccount" : "XYZ *5042"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "date" : 1347375342000,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : 400.60,
                "fromAccount" : "XYZ *6040",
                "toAccount" : "XYZ *7040"
              }, {
                "id" : 2002,
                "date" : 1347375342000,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : 25.02,
                "fromAccount" : "XYZ *6041",
                "toAccount" : "XYZ *7041"
              }, {
                "id" : 2003,
                "date" : 1347375342000,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : 500.98,
                "fromAccount" : "XYZ *6042",
                "toAccount" : "XYZ *7042"
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : 100.00,
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : 340.50,
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : 34.20,
                "overdue" : false
              } ],
              "total" : 474.70
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : 50.00
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : 640.00
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : 80.75
              } ]
            }
          },
          "showMobilePreferencesReminder" : false
        }}
        
        
# Group Mocks COMPSBA-192
## Account Summary Load [/accountsummary/load?mock=COMPSBA-192]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-192>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/accountsummary?moduleSel=CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xya *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "Xyk *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "INTERNAL",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : 1393936174555
          },
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936174555,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                } ]
              } ],
              "hasAccounts" : true
            },
            "business" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936174555,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936174555,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936174555,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                } ]
              } ],
              "hasAccounts" : true
            },
            "internal" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CHECKING_SAVING",
                "accounts" : [ {
                  "nick" : "Checking 1",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "0000",
                  "lastUpdated" : 1393936174555,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : true,
                  "accountNumber" : "1111",
                  "lastUpdated" : 1393936174555,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : false,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936174555,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                }, {
                  "nick" : "Checking 4",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CHECKING",
                  "alert" : false,
                  "accountNumber" : "3333",
                  "lastUpdated" : 1393936174555,
                  "postedBalance" : 10000,
                  "availableBalance" : 9000
                } ]
              } ],
              "hasAccounts" : true
            }
          },
          "widgets" : {
            "personalPromo" : {
              "image" : "http://www.bbvacompass.com/compasspc/monarch/monarch-alert.gif",
              "link" : "http://www.bbvacompass.com/"
            },
            "preferredClient" : true,
            "netWorthPerformance" : {
              "open" : true
            },
            "noPershingAccounts" : true,
            "payPeople" : {
              "enabled" : true,
              "learnMoreLink" : "http://example.com/learnMore",
              "popMoneyLink" : "http://example.com/popMoney"
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : 1300.54
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20000.50
                },
                "transferMaxLimit" : 1000000.25,
                "dailyMaxLimit" : 50000.25
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : 302.14
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 222.50
                },
                "transferMaxLimit" : 9999
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : 1000
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20
                },
                "dailyMaxLimit" : 50
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : 586.15
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 4000.90
                },
                "transferMaxLimit" : 155155.25,
                "dailyMaxLimit" : 8780.65
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : 200.94
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 8623.23
                },
                "transferMaxLimit" : 351456.25,
                "dailyMaxLimit" : 9823.25
              }, {
                "account" : {
                  "id" : 1001,
                  "name" : "Money Market *3560",
                  "balance" : 1300.54
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20000.50
                },
                "transferMaxLimit" : 1000000.25,
                "dailyMaxLimit" : 50000.25
              }, {
                "account" : {
                  "id" : 1002,
                  "name" : "Money Market *3562",
                  "balance" : 302.14
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 222.50
                },
                "transferMaxLimit" : 9999
              }, {
                "account" : {
                  "id" : 1003,
                  "name" : "Money Market *3564",
                  "balance" : 1000
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 20
                },
                "dailyMaxLimit" : 50
              }, {
                "account" : {
                  "id" : 1004,
                  "name" : "Checking *4460",
                  "balance" : 586.15
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 4000.90
                },
                "transferMaxLimit" : 155155.25,
                "dailyMaxLimit" : 8780.65
              }, {
                "account" : {
                  "id" : 1005,
                  "name" : "Checking *4462",
                  "balance" : 200.94
                },
                "limits" : {
                  "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                  "max" : 8623.23
                },
                "transferMaxLimit" : 351456.25,
                "dailyMaxLimit" : 9823.25
              } ],
              "toAccounts" : [ {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : 310.54
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : 5300.24
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : 1000.24
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : 2320
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : 327.67
              }, {
                "id" : 1006,
                "name" : "Saving *5500",
                "balance" : 310.54
              }, {
                "id" : 1007,
                "name" : "Saving *5502",
                "balance" : 5300.24
              }, {
                "id" : 1008,
                "name" : "Money Market *5601",
                "balance" : 1000.24
              }, {
                "id" : 1009,
                "name" : "Money Market *5602",
                "balance" : 2320
              }, {
                "id" : 1010,
                "name" : "Money Market *5603",
                "balance" : 327.67
              } ]
            },
            "pendingApproval" : {
              "youTransactions" : [ {
                "id" : 1001,
                "date" : 1347375342000,
                "day" : "12",
                "month" : "Sep",
                "title" : "Transaction 345",
                "amount" : 250.25,
                "fromAccount" : "XYZ *4040",
                "toAccount" : "XYZ *5040"
              }, {
                "id" : 1002,
                "date" : 1347375342000,
                "day" : "03",
                "month" : "Aug",
                "title" : "Transaction 322",
                "amount" : 100,
                "fromAccount" : "XYZ *4041",
                "toAccount" : "XYZ *5041"
              }, {
                "id" : 1003,
                "date" : 1347375342000,
                "day" : "28",
                "month" : "Jul",
                "title" : "Transaction 345",
                "amount" : 1500.12,
                "fromAccount" : "XYZ *4042",
                "toAccount" : "XYZ *5042"
              } ],
              "otherTransactions" : [ {
                "id" : 2001,
                "date" : 1347375342000,
                "day" : "20",
                "month" : "Dec",
                "title" : "Transaction 145",
                "amount" : 400.60,
                "fromAccount" : "XYZ *6040",
                "toAccount" : "XYZ *7040"
              }, {
                "id" : 2002,
                "date" : 1347375342000,
                "day" : "09",
                "month" : "Nov",
                "title" : "Transaction 122",
                "amount" : 25.02,
                "fromAccount" : "XYZ *6041",
                "toAccount" : "XYZ *7041"
              }, {
                "id" : 2003,
                "date" : 1347375342000,
                "day" : "21",
                "month" : "Oct",
                "title" : "Transaction 145",
                "amount" : 500.98,
                "fromAccount" : "XYZ *6042",
                "toAccount" : "XYZ *7042"
              } ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5060,
                "month" : "Dec",
                "day" : "12",
                "payee" : "General Electric",
                "account" : "Checking *5612 / #1001",
                "amount" : 100.00,
                "overdue" : true
              }, {
                "id" : 5061,
                "month" : "Nov",
                "day" : "18",
                "payee" : "AT&T",
                "account" : "Checking *5650 / #935",
                "amount" : 340.50,
                "overdue" : false
              }, {
                "id" : 5062,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Home Depot",
                "account" : "Checking *9001 / #10",
                "amount" : 34.20,
                "overdue" : false
              } ],
              "total" : 474.70
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 3060,
                "month" : "Dec",
                "day" : "05",
                "nickname" : "Personal Account",
                "accountSuffix" : "*0234",
                "amount" : 50.00
              }, {
                "id" : 3061,
                "month" : "Nov",
                "day" : "30",
                "nickname" : "Holiday's Account",
                "accountSuffix" : "*3463",
                "amount" : 640.00
              }, {
                "id" : 3062,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Mam's acccount",
                "accountSuffix" : "*7558",
                "amount" : 80.75
              } ]
            }
          },
          "showMobilePreferencesReminder" : false
        }}
        
        
# Group Mocks COMPSBA-193
## Account Summary Load [/accountsummary/load?mock=COMPSBA-193]

### . [GET]
<https://medianet.atlassian.net/browse/COMPSBA-193>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "menu" : {
            "summary" : {
              "url" : "/secure/accountsummary",
              "active" : true
            },
            "statementsaccounts" : {
              "active" : false,
              "groups" : [ {
                "url" : "/secure/accountsummary?moduleSel=CHECKING_SAVING",
                "moduleType" : "CHECKING_SAVING",
                "accounts" : [ {
                  "label" : "Xya *0000",
                  "url" : "/secure/statementsaccounts?accountId=0"
                }, {
                  "label" : "Xyk *0001",
                  "url" : "/secure/statementsaccounts?accountId=1"
                } ]
              } ]
            }
          },
          "profile" : {
            "accountsFilter" : "INTERNAL",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : 1393936175526
          },
          "modules" : {
            "personal" : {
              "modulesList" : [ {
                "status" : "OPEN",
                "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
                "accounts" : [ {
                  "nick" : "Credit 2",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CREDIT_CARD",
                  "alert" : true,
                  "accountNumber" : "2222",
                  "lastUpdated" : 1393936175527,
                  "currentBalance" : 400,
                  "availableCredit" : 2000,
                  "nextPaymentDate" : 1393936175527,
                  "minPaymentAmount" : 200
                }, {
                  "nick" : "Credit 3",
                  "bbvaCompassAccount" : true,
                  "personalAccount" : true,
                  "accountTypeDescription" : "CREDIT_LINE",
                  "alert" : false,
                  "accountNumber" : "3333",
[...]
