FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/accountsummary/load]
### [GET]
+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:28.599Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : false,
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "totalPosted" : "$40,000.00",
            "totalAvailable" : "$36,000.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : false,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CD",
              "number" : "4444",
              "amount" : "$4,000.00"
            } ],
            "total" : "$10,000.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ],
            "total" : "$6,000.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "01/14/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "01/14/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "01/14/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "01/14/2014",
              "minAmount" : "$200.00"
            } ],
            "total" : "$1,200.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "01/14/2014",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "01/14/2014",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "01/14/2014",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "01/14/2014",
              "nextAmount" : "$600.00"
            } ],
            "total" : "$6,000.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "bbvaCompassAccount" : true,
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "bbvaCompassAccount" : true,
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "bbvaCompassAccount" : true,
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "bbvaCompassAccount" : true,
              "percent" : "30.00%",
              "amount" : "$30.00"
            }, {
              "nick" : "Real 4",
              "bbvaCompassAccount" : true,
              "percent" : "40.00%",
              "amount" : "$40.00"
            } ],
            "total" : "$100.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : false,
            "rewardsAccounts" : [ {
              "nick" : "Rewards wn",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$2,071.00",
              "number" : "6240"
            }, {
              "nick" : "Rewards 2h",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$1,075.00",
              "number" : "8901"
            }, {
              "nick" : "Rewards 2A",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$88.00",
              "number" : "1139"
            }, {
              "nick" : "Rewards VK",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$4,148.00",
              "number" : "4349"
            } ]
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}]

### [GET]
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business


+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "CHECKING_SAVING",
          "isOpen" : true,
          "checkingSavingMoneyMarketAccounts" : [ {
            "nick" : "Checking 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CHECKING",
            "number" : "0000",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 2",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "CHECKING",
            "number" : "1111",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CHECKING",
            "number" : "2222",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 4",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "CHECKING",
            "number" : "3333",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          } ],
          "totalPosted" : "$40,000.00",
          "totalAvailable" : "$36,000.00"
        }, {
          "type" : "CD_RETIREMENT",
          "isOpen" : false,
          "certificateDepositRetirementAccounts" : [ {
            "nick" : "Retirement 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CD",
            "number" : "0000",
            "amount" : "$00.00"
          }, {
            "nick" : "Retirement 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CD",
            "number" : "1111",
            "amount" : "$1,000.00"
          }, {
            "nick" : "Retirement 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CD",
            "number" : "2222",
            "amount" : "$2,000.00"
          }, {
            "nick" : "Retirement 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CD",
            "number" : "3333",
            "amount" : "$3,000.00"
          }, {
            "nick" : "Retirement 4",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CD",
            "number" : "4444",
            "amount" : "$4,000.00"
          } ],
          "total" : "$10,000.00"
        }, {
          "type" : "INVESTMENT",
          "isOpen" : false,
          "investmentAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "INV",
            "number" : "0000",
            "amount" : "$00.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "INV",
            "number" : "1111",
            "amount" : "$1,000.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "INV",
            "number" : "2222",
            "amount" : "$2,000.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "INV",
            "number" : "3333",
            "amount" : "$3,000.00"
          } ],
          "total" : "$6,000.00"
        }, {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CREDIT_CARD",
            "number" : "0000",
            "posted" : "$00.00",
            "available" : 0,
            "nextDate" : "01/14/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "CREDIT_LINE",
            "number" : "1111",
            "posted" : "$200.00",
            "available" : 1000,
            "nextDate" : "01/14/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CREDIT_CARD",
            "number" : "2222",
            "posted" : "$400.00",
            "available" : 2000,
            "nextDate" : "01/14/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "CREDIT_LINE",
            "number" : "3333",
            "posted" : "$600.00",
            "available" : 3000,
            "nextDate" : "01/14/2014",
            "minAmount" : "$200.00"
          } ],
          "total" : "$1,200.00"
        }, {
          "type" : "LOAN_MORTGAGE",
          "isOpen" : false,
          "loanMortgateAccounts" : [ {
            "nick" : "Loan 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "LOAN_ALS",
            "number" : "0000",
            "payOff" : "$00.00",
            "nextDate" : "01/14/2014",
            "nextAmount" : "$00.00"
          }, {
            "nick" : "Loan 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "LOAN_ALS",
            "number" : "1111",
            "payOff" : "$1,000.00",
            "nextDate" : "01/14/2014",
            "nextAmount" : "$200.00"
          }, {
            "nick" : "Loan 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "LOAN_LOC",
            "number" : "2222",
            "payOff" : "$2,000.00",
            "nextDate" : "01/14/2014",
            "nextAmount" : "$400.00"
          }, {
            "nick" : "Loan 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "LOAN_LOC",
            "number" : "3333",
            "payOff" : "$3,000.00",
            "nextDate" : "01/14/2014",
            "nextAmount" : "$600.00"
          } ],
          "total" : "$6,000.00"
        }, {
          "type" : "REAL_ESTATE",
          "isOpen" : true,
          "realEstateAccounts" : [ {
            "nick" : "Real 0",
            "bbvaCompassAccount" : true,
            "percent" : "00.00%",
            "amount" : "$00.00"
          }, {
            "nick" : "Real 1",
            "bbvaCompassAccount" : true,
            "percent" : "10.00%",
            "amount" : "$10.00"
          }, {
            "nick" : "Real 2",
            "bbvaCompassAccount" : true,
            "percent" : "20.00%",
            "amount" : "$20.00"
          }, {
            "nick" : "Real 3",
            "bbvaCompassAccount" : true,
            "percent" : "30.00%",
            "amount" : "$30.00"
          }, {
            "nick" : "Real 4",
            "bbvaCompassAccount" : true,
            "percent" : "40.00%",
            "amount" : "$40.00"
          } ],
          "total" : "$100.00"
        }, {
          "type" : "REWARDS",
          "isOpen" : true,
          "rewardsAccounts" : [ {
            "nick" : "Rewards mD",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$1,507.00",
            "number" : "5384"
          }, {
            "nick" : "Rewards HB",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$2,512.00",
            "number" : "5384"
          }, {
            "nick" : "Rewards C1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$1,202.00",
            "number" : "8329"
          }, {
            "nick" : "Rewards 9n",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$5,795.00",
            "number" : "2859"
          } ]
        } ]}


## Account Summary UpdateTabsChange [/accountsummary/tabs/{filter}]
### [POST]
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200

## Account Summary PDF [/accountsummary/pdf]
### [GET]

+ Response 200

## Account Summary EXCEL [/accountsummary/xlsx]
### [GET]

+ Response 200


# Group Mocks COMPSBA-186
## Account Summary Load [/accountsummary/load?mock=COMPSBA-186]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-186>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:30.534Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-186]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-186>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)
    
        {"widgets":
        [ {
          "type" : "CHECKING_SAVING",
          "isOpen" : true,
          "checkingSavingMoneyMarketAccounts" : [ ],
          "totalPosted" : "$00.00",
          "totalAvailable" : "$00.00"
        }, {
          "type" : "CD_RETIREMENT",
          "isOpen" : true,
          "certificateDepositRetirementAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
          "total" : "$00.00"
        } ]}
        
# Group Mocks COMPSBA-188
## Account Summary Load [/accountsummary/load?mock=COMPSBA-188]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-188>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:30.970Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "01/14/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "01/14/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "01/14/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "01/14/2014",
              "minAmount" : "$200.00"
            } ],
            "total" : "$1,200.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-188]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-188>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)
    
        {"widgets":
        [ {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CREDIT_CARD",
            "number" : "0000",
            "posted" : "$00.00",
            "available" : 0,
            "nextDate" : "01/14/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CREDIT_LINE",
            "number" : "1111",
            "posted" : "$200.00",
            "available" : 1000,
            "nextDate" : "01/14/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "CREDIT_CARD",
            "number" : "2222",
            "posted" : "$400.00",
            "available" : 2000,
            "nextDate" : "01/14/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "CREDIT_LINE",
            "number" : "3333",
            "posted" : "$600.00",
            "available" : 3000,
            "nextDate" : "01/14/2014",
            "minAmount" : "$200.00"
          } ],
          "total" : "$1,200.00"
        } ]}
        
# Group Mocks COMPSBA-189
## Account Summary Load [/accountsummary/load?mock=COMPSBA-189]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-189>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:31.138Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-189]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-189>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)
    
        {"widgets":
        [ {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
          "total" : "$00.00"
        } ]}
        
# Group Mocks COMPSBA-192
## Account Summary Load [/accountsummary/load?mock=COMPSBA-192]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-192>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:31.327Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "07:28",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "totalPosted" : "$40,000.00",
            "totalAvailable" : "$36,000.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-192]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-192>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "CHECKING_SAVING",
          "isOpen" : true,
          "checkingSavingMoneyMarketAccounts" : [ {
            "nick" : "Checking 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CHECKING",
            "number" : "0000",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CHECKING",
            "number" : "1111",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "CHECKING",
            "number" : "2222",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 4",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "07:28",
            "type" : "CHECKING",
            "number" : "3333",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          } ],
          "totalPosted" : "$40,000.00",
          "totalAvailable" : "$36,000.00"
        } ]}
        
# Group Mocks COMPSBA-193
## Account Summary Load [/accountsummary/load?mock=COMPSBA-193]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-193>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:31.435Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-193]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-193>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "CHECKING_SAVING",
          "isOpen" : true,
          "checkingSavingMoneyMarketAccounts" : [ ],
          "totalPosted" : "$00.00",
          "totalAvailable" : "$00.00"
        } ]}

# Group Mocks COMPSBA-197
## Account Summary Load [/accountsummary/load?mock=COMPSBA-197]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-197>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:31.553Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ],
            "total" : "$6,000.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-197]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-197>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "CD_RETIREMENT",
          "isOpen" : true,
          "certificateDepositRetirementAccounts" : [ {
            "nick" : "Retirement 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CD",
            "number" : "0000",
            "amount" : "$00.00"
          }, {
            "nick" : "Retirement 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CD",
            "number" : "1111",
            "amount" : "$1,000.00"
          }, {
            "nick" : "Retirement 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CD",
            "number" : "2222",
            "amount" : "$2,000.00"
          }, {
            "nick" : "Retirement 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "CD",
            "number" : "3333",
            "amount" : "$3,000.00"
          } ],
          "total" : "$6,000.00"
        } ]}

# Group Mocks COMPSBA-198
## Account Summary Load [/accountsummary/load?mock=COMPSBA-198]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-198>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:31.663Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-198]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-198>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "CD_RETIREMENT",
          "isOpen" : true,
          "certificateDepositRetirementAccounts" : [ ],
          "total" : "$00.00"
        } ]}

# Group Mocks COMPSBA-203
## Account Summary Load [/accountsummary/load?mock=COMPSBA-203]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-203>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "Hans Gruber",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:31.769Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}
        
# Group Mocks COMPSBA-208
## Account Summary Load [/accountsummary/load?mock=COMPSBA-208]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-208>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 42,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:31.920Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}

# Group Mocks COMPSBA-212
## Account Summary Load [/accountsummary/load?mock=COMPSBA-212]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-212>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2000-06-22T14:55:42.000Z",
              "humanReadability" : "Thu, 06/22/2000 at 02:55 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}

# Group Mocks COMPSBA-230
## Account Summary Load [/accountsummary/load?mock=COMPSBA-230]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-230>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:32.142Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-230]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-230>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ ]}
        
# Group Mocks COMPSBA-234
## Account Summary Load [/accountsummary/load?mock=COMPSBA-234]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-234>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:32.215Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "01/14/2014",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "01/14/2014",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "01/14/2014",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "01/14/2014",
              "nextAmount" : "$600.00"
            } ],
            "total" : "$6,000.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-234]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-234>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "LOAN_MORTGAGE",
          "isOpen" : true,
          "loanMortgateAccounts" : [ {
            "nick" : "Loan 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "LOAN_ALS",
            "number" : "0000",
            "payOff" : "$00.00",
            "nextDate" : "01/14/2014",
            "nextAmount" : "$00.00"
          }, {
            "nick" : "Loan 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "LOAN_ALS",
            "number" : "1111",
            "payOff" : "$1,000.00",
            "nextDate" : "01/14/2014",
            "nextAmount" : "$200.00"
          }, {
            "nick" : "Loan 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "LOAN_LOC",
            "number" : "2222",
            "payOff" : "$2,000.00",
            "nextDate" : "01/14/2014",
            "nextAmount" : "$400.00"
          }, {
            "nick" : "Loan 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "LOAN_LOC",
            "number" : "3333",
            "payOff" : "$3,000.00",
            "nextDate" : "01/14/2014",
            "nextAmount" : "$600.00"
          } ],
          "total" : "$6,000.00"
        } ]}

# Group Mocks COMPSBA-235
## Account Summary Load [/accountsummary/load?mock=COMPSBA-235]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-235>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:32.312Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-235]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-235>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "LOAN_MORTGAGE",
          "isOpen" : true,
          "loanMortgateAccounts" : [ ],
          "total" : "$00.00"
        } ]}

# Group Mocks COMPSBA-237
## Account Summary Load [/accountsummary/load?mock=COMPSBA-237]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-237>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5080,
                "month" : "Dec",
                "day" : "12",
                "payee" : "Payee 0",
                "account" : "Checking *5080 / #1001",
                "amount" : "$1,000.00",
                "overdue" : true
              }, {
                "id" : 5081,
                "month" : "Nov",
                "day" : "18",
                "payee" : "Payee 1",
                "account" : "Checking *5081 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5082,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Payee 2",
                "account" : "Checking *5082 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$1,374.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:32.393Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-237]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-237>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "CHECKING_SAVING",
          "isOpen" : true,
          "checkingSavingMoneyMarketAccounts" : [ ],
          "totalPosted" : "$00.00",
          "totalAvailable" : "$00.00"
        }, {
          "type" : "CD_RETIREMENT",
          "isOpen" : true,
          "certificateDepositRetirementAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "INVESTMENT",
          "isOpen" : true,
          "investmentAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "LOAN_MORTGAGE",
          "isOpen" : true,
          "loanMortgateAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "REAL_ESTATE",
          "isOpen" : true,
          "realEstateAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "REWARDS",
          "isOpen" : true,
          "rewardsAccounts" : [ ]
        } ]}

# Group Mocks COMPSBA-239
## Account Summary Load [/accountsummary/load?mock=COMPSBA-239]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-239>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 4054,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Account 1",
                "accountSuffix" : "*5743",
                "amount" : "$340.00"
              }, {
                "id" : 4504,
                "month" : "Jan",
                "day" : "28",
                "nickname" : "Account 2",
                "accountSuffix" : "*3483",
                "amount" : "$560.52"
              }, {
                "id" : 4003,
                "month" : "Sep",
                "day" : "06",
                "nickname" : "Account 3",
                "accountSuffix" : "*3453",
                "amount" : "$34.34"
              } ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:32.509Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}
        
# Group Mocks COMPSBA-243
## Account Summary Load [/accountsummary/load?mock=COMPSBA-243]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-243>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 4000,
                "name" : "Money Market *4000",
                "balance" : "$1,300.54"
              }, {
                "id" : 4001,
                "name" : "Money Market *4001",
                "balance" : "$302.14"
              }, {
                "id" : 4002,
                "name" : "Money Market *4002",
                "balance" : "$1,000.00"
              }, {
                "id" : 4003,
                "name" : "Checking *4003",
                "balance" : "$586.15"
              }, {
                "id" : 4004,
                "name" : "Checking *4004",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 5000,
                "name" : "Saving *5000",
                "balance" : "$310.54"
              }, {
                "id" : 5001,
                "name" : "Saving *5001",
                "balance" : "$5,300.24"
              }, {
                "id" : 5002,
                "name" : "Money Market *5002",
                "balance" : "$1,000.24"
              }, {
                "id" : 5003,
                "name" : "Money Market *5003",
                "balance" : "$2,320.00"
              }, {
                "id" : 5004,
                "name" : "Money Market *5004",
                "balance" : "$327.67"
              } ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:32.658Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}


# Group Mocks COMPSBA-244
## Account Summary Load [/accountsummary/load?mock=COMPSBA-244]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-244>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:32.803Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "07:28",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ],
            "total" : "$6,000.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-244]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-244>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "INVESTMENT",
          "isOpen" : true,
          "investmentAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "INV",
            "number" : "0000",
            "amount" : "$00.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "INV",
            "number" : "1111",
            "amount" : "$1,000.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "INV",
            "number" : "2222",
            "amount" : "$2,000.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "07:28",
            "type" : "INV",
            "number" : "3333",
            "amount" : "$3,000.00"
          } ],
          "total" : "$6,000.00"
        } ]}

# Group Mocks COMPSBA-245
## Account Summary Load [/accountsummary/load?mock=COMPSBA-245]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-245>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:32.923Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-245]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-245>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "INVESTMENT",
          "isOpen" : true,
          "investmentAccounts" : [ ],
          "total" : "$00.00"
        } ]}

# Group Mocks COMPSBA-246
## Account Summary Load [/accountsummary/load?mock=COMPSBA-246]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-246>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:33.002Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "bbvaCompassAccount" : true,
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "bbvaCompassAccount" : true,
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "bbvaCompassAccount" : true,
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "bbvaCompassAccount" : true,
              "percent" : "30.00%",
              "amount" : "$30.00"
            } ],
            "total" : "$60.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-246]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-246>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "REAL_ESTATE",
          "isOpen" : true,
          "realEstateAccounts" : [ {
            "nick" : "Real 0",
            "bbvaCompassAccount" : true,
            "percent" : "00.00%",
            "amount" : "$00.00"
          }, {
            "nick" : "Real 1",
            "bbvaCompassAccount" : true,
            "percent" : "10.00%",
            "amount" : "$10.00"
          }, {
            "nick" : "Real 2",
            "bbvaCompassAccount" : true,
            "percent" : "20.00%",
            "amount" : "$20.00"
          }, {
            "nick" : "Real 3",
            "bbvaCompassAccount" : true,
            "percent" : "30.00%",
            "amount" : "$30.00"
          } ],
          "total" : "$60.00"
        } ]}

# Group Mocks COMPSBA-248
## Account Summary Load [/accountsummary/load?mock=COMPSBA-248]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-248>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:33.085Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-248]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-248>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "REAL_ESTATE",
          "isOpen" : true,
          "realEstateAccounts" : [ ],
          "total" : "$00.00"
        } ]}

# Group Mocks COMPSBA-250
## Account Summary Load [/accountsummary/load?mock=COMPSBA-250]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-250>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:33.326Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-250]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-250>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "REWARDS",
          "isOpen" : true,
          "rewardsAccounts" : [ ]
        } ]}

# Group Mocks COMPSBA-253
## Account Summary Load [/accountsummary/load?mock=COMPSBA-253]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-253>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:33.498Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}

# Group Mocks COMPSBA-259
## Account Summary Load [/accountsummary/load?mock=COMPSBA-259]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-259>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:33.701Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}

# Group Mocks COMPSBA-260
## Account Summary Load [/accountsummary/load?mock=COMPSBA-260]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-260>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "personal",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:33.810Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}

# Group Mocks COMPSBA-261
## Account Summary Load [/accountsummary/load?mock=COMPSBA-261]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-261>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:33.898Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ]
        }}

        # Group Mocks COMPSBA-250
## Account Summary Load [/accountsummary/load?mock=COMPSBA-250]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-249>

+ Response 200 (application/json)

        {"summary":
        {
          "banners" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ]
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            }
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "business",
            "name" : "John McClane",
            "messages" : 5,
            "lastSignIn" : {
              "iso8601" : "2014-01-14T19:28:33.164Z",
              "humanReadability" : "Tue, 01/14/2014 at 07:28 PM"
            },
            "investmentAdviceVisible" : true
          },
          "widgets" : [ {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 4I",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$1,159.00",
              "number" : "1434"
            }, {
              "nick" : "Rewards Ef",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$2,565.00",
              "number" : "8074"
            }, {
              "nick" : "Rewards S2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$791.00",
              "number" : "7147"
            }, {
              "nick" : "Rewards SP",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$1,860.00",
              "number" : "9552"
            } ]
          } ]
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-249]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-249>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"widgets":
        [ {
          "type" : "REWARDS",
          "isOpen" : true,
          "rewardsAccounts" : [ {
            "nick" : "Rewards W0",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$7,036.00",
            "number" : "2090"
          }, {
            "nick" : "Rewards 4P",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$563.00",
            "number" : "6073"
          }, {
            "nick" : "Rewards HG",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$8,313.00",
            "number" : "8534"
          }, {
            "nick" : "Rewards vm",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$9,430.00",
            "number" : "7819"
          } ]
        } ]}
        