FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/hbs/accountsummary/load]
### base load [GET]
+ Response 200 (application/json)

        {
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : false,
            "totalPosted" : "$40,000.00",
            "totalAvailable" : "$36,000.00",
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "total" : null
          }, {
            "type" : "CD_RETIREMENT",
            "total" : "$10,000.00",
            "isOpen" : false,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "4444",
              "amount" : "$4,000.00"
            } ]
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "total" : "$1,200.00",
            "isOpen" : false,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            } ]
          }, {
            "type" : "LOAN_MORTGAGE",
            "total" : "$6,000.00",
            "isOpen" : true,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$600.00"
            } ]
          }, {
            "type" : "INVESTMENT",
            "total" : "$6,000.00",
            "isOpen" : true,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ]
          }, {
            "type" : "REAL_ESTATE",
            "total" : "$100.00",
            "isOpen" : true,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "percent" : "30.00%",
              "amount" : "$30.00"
            }, {
              "nick" : "Real 4",
              "percent" : "40.00%",
              "amount" : "$40.00"
            } ]
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$00.00",
              "number" : "0000"
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$1,000.00",
              "number" : "1111"
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$2,000.00",
              "number" : "2222"
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$3,000.00",
              "number" : "3333"
            } ]
          } ]
        }
        
## Yoodle [/hbs/accountsummary/yodlee]
### yoodle [GET]
+ Request 

    + Headers

            Accept: text/html, application/json

+ Response 200 (application/json)
      
        {
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "totalPosted" : "$110,000.00",
            "totalAvailable" : "$99,000.00",
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 5",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "4444",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 6",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "5555",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 7",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "6666",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 8",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "7777",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 9",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "8888",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 10",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "9999",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 11",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "10101010",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "total" : null
          }, {
            "type" : "CD_RETIREMENT",
            "total" : "$10,000.00",
            "isOpen" : false,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "4444",
              "amount" : "$4,000.00"
            } ]
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "total" : "$11,000.00",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "4444",
              "posted" : "$800.00",
              "available" : 4000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 5",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "5555",
              "posted" : "$1,000.00",
              "available" : 5000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 6",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "6666",
              "posted" : "$1,200.00",
              "available" : 6000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 7",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "7777",
              "posted" : "$1,400.00",
              "available" : 7000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 8",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "8888",
              "posted" : "$1,600.00",
              "available" : 8000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 9",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "9999",
              "posted" : "$1,800.00",
              "available" : 9000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 10",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "10101010",
              "posted" : "$2,000.00",
              "available" : 10000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            } ]
          }, {
            "type" : "LOAN_MORTGAGE",
            "total" : "$6,000.00",
            "isOpen" : true,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$600.00"
            } ]
          }, {
            "type" : "INVESTMENT",
            "total" : "$45,000.00",
            "isOpen" : true,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Credit 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "4444",
              "amount" : "$4,000.00"
            }, {
              "nick" : "Credit 5",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "5555",
              "amount" : "$5,000.00"
            }, {
              "nick" : "Credit 6",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "6666",
              "amount" : "$6,000.00"
            }, {
              "nick" : "Credit 7",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "7777",
              "amount" : "$7,000.00"
            }, {
              "nick" : "Credit 8",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "8888",
              "amount" : "$8,000.00"
            }, {
              "nick" : "Credit 9",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "9999",
              "amount" : "$9,000.00"
            } ]
          }, {
            "type" : "REAL_ESTATE",
            "total" : "$100.00",
            "isOpen" : false,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "percent" : "30.00%",
              "amount" : "$30.00"
            }, {
              "nick" : "Real 4",
              "percent" : "40.00%",
              "amount" : "$40.00"
            } ]
          }, {
            "type" : "REWARDS",
            "isOpen" : false,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$00.00",
              "number" : "0000"
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$1,000.00",
              "number" : "1111"
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$2,000.00",
              "number" : "2222"
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$3,000.00",
              "number" : "3333"
            } ]
          } ]
        }

+ Response 200 (text/html)

        <li
            class="js-widget js-CHECKING_SAVING m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD"
            data-widget-id="" data-collapse="true" data-widget-loading="">
            <div class="m-widgets-head g-relative">
                <h3
                    class="m-widgets-title g-absolute g-left g-textTruncate g-primaryTexts g-colorZ"></h3>
                <button
                    class="js-collapse m-widgets-collapse e-icon-collapse g-absolute"></button>
                <h3
                    class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ">
                    Checking, Savings and Money Market Accounts - Yodlee</h3>
                <button class="js-close m-widgets-close e-icon-close g-absolute">Close</button>
            </div>
            <div class="js-content m-widgets-content g-backgroundA">
                <table class="p-summary-widgets g-full">
                    <colgroup>
                        <col class="p-summary-widgetsCol-alert">
                        <col class="p-summary-widgetsCol-account">
                        <col class="p-summary-widgetsCol-type">
                        <col class="p-summary-widgetsCol-posted">
                        <col class="p-summary-widgetsCol-available">
                    </colgroup>
                    <thead>
                        <tr>
                            <th
                                class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Alert</th>
                            <th
                                class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Account</th>
                            <th
                                class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Type</th>
                            <th
                                class="p-summary-widgetsHead-amount g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Posted Balance</th>
                            <th
                                class="p-summary-widgetsHead-amount g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Available Balance</th>
                        </tr>
                    </thead>
                    <tfoot class="g-backgroundD g-headlines g-textRight">
                        <tr>
                            <td class="g-paddingT g-paddingRLM g-colorU" scope="row"
                                colspan="3">Total:</td>
                            <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$40000.0</td>
                            <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$36000.0</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Checking 1</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CHECKING</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">10000</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">9000</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Checking 2</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CHECKING</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">10000</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">9000</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Checking 3</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CHECKING</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">10000</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">9000</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter"></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Checking 4</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CHECKING</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">10000</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">9000</td>
                        </tr>
                        <tr class="js-loading g-borderTSSCS g-textCenter">
                            <td colspan="5">
                                <div class="e-icon-loading g-auto g-block">
                                    <span class="g-sr">Loading</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li
            class="js-widget js-CD_RETIREMENT m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD"
            data-widget-id="" data-collapse="" data-widget-loading="">
            <div class="m-widgets-head g-relative">
                <h3
                    class="m-widgets-title g-absolute g-left g-textTruncate g-primaryTexts g-colorZ"></h3>
                <button
                    class="js-collapse m-widgets-collapse e-icon-collapse e-icon-expand g-absolute"></button>
                <h3
                    class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ">
                    Certificate of Deposit and Retirement Accounts - Yodlee</h3>
                <button class="js-close m-widgets-close e-icon-close g-absolute">Close</button>
            </div>
            <div class="js-content m-widgets-content g-hidden g-backgroundA">
                <table class="p-summary-widgets g-full">
                    <colgroup>
                        <col class="p-summary-widgetsCol-alert">
                        <col class="p-summary-widgetsCol-account">
                        <col class="p-summary-widgetsCol-type">
                        <col class="p-summary-widgetsCol-amount">
                    </colgroup>
                    <thead>
                        <tr>
                            <th
                                class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Alert</th>
                            <th
                                class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Account</th>
                            <th
                                class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Type</th>
                            <th
                                class="p-summary-widgetsHead-amount g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Current Balance</th>
                        </tr>
                    </thead>
                    <tfoot class="g-backgroundD g-headlines g-textRight">
                        <tr>
                            <td class="g-paddingT g-paddingRLM g-colorU" scope="row"
                                colspan="3">Total:</td>
                            <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$10000.0</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Retirement 0</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CD</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">0</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Retirement 1</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CD</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">1000</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Retirement 2</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CD</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">2000</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Retirement 3</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CD</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">3000</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Retirement 4</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CD</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">4000</td>
                        </tr>
                        <tr class="js-loading g-borderTSSCS g-textCenter">
                            <td colspan="4">
                                <div class="e-icon-loading g-auto g-block">
                                    <span class="g-sr">Loading</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li
            class="js-widget js-CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD"
            data-widget-id="" data-collapse="true" data-widget-loading="">
            <div class="m-widgets-head g-relative">
                <h3
                    class="m-widgets-title g-absolute g-left g-textTruncate g-primaryTexts g-colorZ"></h3>
                <button
                    class="js-collapse m-widgets-collapse e-icon-collapse g-absolute"></button>
                <h3
                    class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ">
                    Credit Card, Line of Credit and Overdraft Protection - Yodlee</h3>
                <button class="js-close m-widgets-close e-icon-close g-absolute">Close</button>
            </div>
            <div class="js-content m-widgets-content g-backgroundA">
                <table class="m-widgetstables g-full">
                    <colgroup>
                        <col class="p-summary-widgetsCol-alert">
                        <col class="p-summary-widgetsCol-account">
                        <col class="p-summary-widgetsCol-type">
                        <col class="p-summary-widgetsCol-details">
                    </colgroup>
                    <thead>
                        <tr>
                            <th
                                class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Alert</th>
                            <th
                                class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Account</th>
                            <th
                                class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Type</th>
                            <th
                                class="p-summary-widgetsHead-details g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Details</th>
                        </tr>
                    </thead>
                    <tfoot class="g-backgroundD g-headlines g-textRight">
                        <tr>
                            <td class="g-paddingT g-paddingRLM g-colorU" scope="row"
                                colspan="3">Total:</td>
                            <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$1200.0</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Credit 0</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CREDIT_CARD</td>
                            <td class="g-borderLSSCS g-paddingT g-paddingRLM">
                                <ul>
                                    <li class="g-paddingB g-bold g-colorZ">Current Balance <span
                                        class="g-floatR">0</span>
                                    </li>
                                    <li class="g-paddingB">Available credit <span
                                        class="g-floatR">0</span>
                                    </li>
                                    <li class="g-paddingB">Next Payment Date <span
                                        class="g-floatR">1384187650500</span>
                                    </li>
                                    <li class="g-paddingB">Min. Payment Amount <span
                                        class="g-floatR">200</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Credit 1</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CREDIT_LINE</td>
                            <td class="g-borderLSSCS g-paddingT g-paddingRLM">
                                <ul>
                                    <li class="g-paddingB g-bold g-colorZ">Current Balance <span
                                        class="g-floatR">200</span>
                                    </li>
                                    <li class="g-paddingB">Available credit <span
                                        class="g-floatR">1000</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Credit 2</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CREDIT_CARD</td>
                            <td class="g-borderLSSCS g-paddingT g-paddingRLM">
                                <ul>
                                    <li class="g-paddingB g-bold g-colorZ">Current Balance <span
                                        class="g-floatR">400</span>
                                    </li>
                                    <li class="g-paddingB">Available credit <span
                                        class="g-floatR">2000</span>
                                    </li>
                                    <li class="g-paddingB">Next Payment Date <span
                                        class="g-floatR">1384187650500</span>
                                    </li>
                                    <li class="g-paddingB">Min. Payment Amount <span
                                        class="g-floatR">200</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter"></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Credit 3</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">CREDIT_LINE</td>
                            <td class="g-borderLSSCS g-paddingT g-paddingRLM">
                                <ul>
                                    <li class="g-paddingB g-bold g-colorZ">Current Balance <span
                                        class="g-floatR">600</span>
                                    </li>
                                    <li class="g-paddingB">Available credit <span
                                        class="g-floatR">3000</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="js-loading g-borderTSSCS g-textCenter">
                            <td colspan="4">
                                <div class="e-icon-loading g-auto g-block">
                                    <span class="g-sr">Loading</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li
            class="js-widget js-LOAN_MORTGAGE m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD"
            data-widget-id="" data-collapse="" data-widget-loading="">
            <div class="m-widgets-head g-relative">
                <h3
                    class="m-widgets-title g-absolute g-left g-textTruncate g-primaryTexts g-colorZ"></h3>
                <button
                    class="js-collapse m-widgets-collapse e-icon-collapse e-icon-expand g-absolute"></button>
                <h3
                    class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ">
                    Loan and Mortgage Accounts - Yodlee</h3>
                <button class="js-close m-widgets-close e-icon-close g-absolute">Close</button>
            </div>
            <div class="js-content m-widgets-content g-hidden g-backgroundA">
                <table class="m-widgetstables g-full">
                    <colgroup>
                        <col class="p-summary-widgetsCol-alert">
                        <col class="p-summary-widgetsCol-account">
                        <col class="p-summary-widgetsCol-type">
                        <col class="p-summary-widgetsCol-details">
                    </colgroup>
                    <thead>
                        <tr>
                            <th
                                class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Alert</th>
                            <th
                                class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Account</th>
                            <th
                                class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Type</th>
                            <th
                                class="p-summary-widgetsHead-details g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Details</th>
                        </tr>
                    </thead>
                    <tfoot class="g-backgroundD g-headlines g-textRight">
                        <tr>
                            <td class="g-paddingT g-paddingRLM g-colorU" scope="row"
                                colspan="3">Total:</td>
                            <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$6000.0</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Loan 0</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">LOAN_ALS</td>
                            <td class="g-borderLSSCS g-paddingT g-paddingRLM">
                                <ul>
                                    <li class="g-paddingB g-bold g-colorZ">Payoff Balance <span
                                        class="g-floatR">0</span>
                                    </li>
                                    <li class="g-paddingB">Next Payment Date <span
                                        class="g-floatR">1384187650501</span>
                                    </li>
                                    <li class="g-paddingB">Min. Payment Amount <span
                                        class="g-floatR">0</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Loan 1</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">LOAN_ALS</td>
                            <td class="g-borderLSSCS g-paddingT g-paddingRLM">
                                <ul>
                                    <li class="g-paddingB g-bold g-colorZ">Payoff Balance <span
                                        class="g-floatR">1000</span>
                                    </li>
                                    <li class="g-paddingB">Next Payment Date <span
                                        class="g-floatR">1384187650501</span>
                                    </li>
                                    <li class="g-paddingB">Min. Payment Amount <span
                                        class="g-floatR">200</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Loan 2</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">LOAN_LOC</td>
                            <td class="g-borderLSSCS g-paddingT g-paddingRLM">
                                <ul>
                                    <li class="g-paddingB g-bold g-colorZ">Payoff Balance <span
                                        class="g-floatR">2000</span>
                                    </li>
                                    <li class="g-paddingB">Next Payment Date <span
                                        class="g-floatR">1384187650501</span>
                                    </li>
                                    <li class="g-paddingB">Min. Payment Amount <span
                                        class="g-floatR">400</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter"></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Loan 3</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">LOAN_LOC</td>
                            <td class="g-borderLSSCS g-paddingT g-paddingRLM">
                                <ul>
                                    <li class="g-paddingB g-bold g-colorZ">Payoff Balance <span
                                        class="g-floatR">3000</span>
                                    </li>
                                    <li class="g-paddingB">Next Payment Date <span
                                        class="g-floatR">1384187650501</span>
                                    </li>
                                    <li class="g-paddingB">Min. Payment Amount <span
                                        class="g-floatR">600</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="js-loading g-borderTSSCS g-textCenter">
                            <td colspan="4">
                                <div class="e-icon-loading g-auto g-block">
                                    <span class="g-sr">Loading</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="g-padding g-backgroundD g-borderTCSS g-borderBCSS"
                                colspan="4">* Balance shown in an estimated one-day payoff
                                balance.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li
            class="js-widget js-INVESTMENT m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD"
            data-widget-id="" data-collapse="true" data-widget-loading="">
            <div class="m-widgets-head g-relative">
                <h3
                    class="m-widgets-title g-absolute g-left g-textTruncate g-primaryTexts g-colorZ"></h3>
                <button
                    class="js-collapse m-widgets-collapse e-icon-collapse g-absolute"></button>
                <h3
                    class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ">
                    Investment Accounts - Yodlee</h3>
                <button class="js-close m-widgets-close e-icon-close g-absolute">Close</button>
            </div>
            <div class="js-content m-widgets-content g-backgroundA">
                <table class="p-summary-widgets g-full">
                    <colgroup>
                        <col class="p-summary-widgetsCol-alert">
                        <col class="p-summary-widgetsCol-account">
                        <col class="p-summary-widgetsCol-type">
                        <col class="p-summary-widgetsCol-amount">
                    </colgroup>
                    <thead>
                        <tr>
                            <th
                                class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Alert</th>
                            <th
                                class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Account</th>
                            <th
                                class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Type</th>
                            <th
                                class="p-summary-widgetsHead-amount g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Value</th>
                        </tr>
                    </thead>
                    <tfoot class="g-backgroundD g-headlines g-textRight">
                        <tr>
                            <td class="g-paddingT g-paddingRLM g-colorU" scope="row"
                                colspan="3">Total:</td>
                            <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$6000.0</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Credit 0</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">INV</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">0</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Credit 1</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">INV</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">1000</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Credit 2</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">INV</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">2000</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter"></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Credit 3</span> </a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">INV</td>
                            <td
                                class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold g-colorZ">3000</td>
                        </tr>
                        <tr class="js-loading g-borderTSSCS g-textCenter">
                            <td colspan="4">
                                <div class="e-icon-loading g-auto g-block">
                                    <span class="g-sr">Loading</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li
            class="js-widget js-REAL_ESTATE m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD"
            data-widget-id="" data-collapse="true" data-widget-loading="">
            <div class="m-widgets-head g-relative">
                <h3
                    class="m-widgets-title g-absolute g-left g-textTruncate g-primaryTexts g-colorZ"></h3>
                <button
                    class="js-collapse m-widgets-collapse e-icon-collapse g-absolute"></button>
                <h3
                    class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ">
                    Real Estate - Yodlee</h3>
                <button class="js-close m-widgets-close e-icon-close g-absolute">Close</button>
            </div>
            <div class="js-content m-widgets-content g-backgroundA">
                <table class="m-widgetstables g-full">
                    <colgroup>
                        <col class="p-summary-widgetsCol-description">
                        <col class="p-summary-widgetsCol-percent">
                        <col class="p-summary-widgetsCol-amount">
                    </colgroup>
                    <thead>
                        <tr>
                            <th
                                class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Description</th>
                            <th
                                class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">% Home Equity Amount</th>
                            <th
                                class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Home Equity Amount</th>
                        </tr>
                    </thead>
                    <tfoot class="g-backgroundD g-headlines g-textRight">
                        <tr>
                            <td class="g-paddingT g-paddingRLM g-colorU" scope="row"
                                colspan="2">Total:</td>
                            <td class="g-paddingT g-paddingRLM g-bold g-colorQ">$15000.0</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter">Real 0</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">0.00%</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">0</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter">Real 1</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">10.00%</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">1500</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter">Real 2</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">20.00%</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">3000</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter">Real 3</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">30.00%</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">4500</td>
                        </tr>
                        <tr class="g-borderTSSCS">
                            <td class="g-paddingTBRLM g-textCenter">Real 4</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">40.00%</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">6000</td>
                        </tr>
                        <tr class="js-loading g-borderTSSCS g-textCenter">
                            <td colspan="3">
                                <div class="e-icon-loading g-auto g-block">
                                    <span class="g-sr">Loading</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li
            class="js-widget js-REWARDS m-widgets g-block g-marginXL g-paddingB g-borderSSCS g-backgroundD"
            data-widget-id="" data-collapse="true" data-widget-loading="">
            <div class="m-widgets-head g-relative">
                <h3
                    class="m-widgets-title g-absolute g-left g-textTruncate g-primaryTexts g-colorZ"></h3>
                <button
                    class="js-collapse m-widgets-collapse e-icon-collapse g-absolute"></button>
                <h3
                    class="m-widgets-title g-absolute g-leftXXL g-textTruncate g-primaryTexts g-colorZ">
                    Rewards - Yodlee</h3>
                <button class="js-close m-widgets-close e-icon-close g-absolute">Close</button>
            </div>
            <div class="js-content m-widgets-content g-backgroundA">
                <table class="p-summary-widgets g-full">
                    <colgroup>
                        <col class="p-summary-widgetsCol-alert">
                        <col class="p-summary-widgetsCol-account">
                        <col class="p-summary-widgetsCol-number">
                        <col class="p-summary-widgetsCol-amount">
                    </colgroup>
                    <thead>
                        <tr>
                            <th
                                class="p-summary-widgetsHead-alert g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Alert</th>
                            <th
                                class="p-summary-widgetsHead-account g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Account</th>
                            <th
                                class="p-summary-widgetsHead-type g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Number</th>
                            <th
                                class="p-summary-widgetsHead-amount g-borderLSSCSZ g-paddingTBRLM g-backgroundD g-textCenter g-bold g-colorR"
                                scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="g-borderTSSCS closable">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Rewards 0</span></a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">0000</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold">0</td>
                        </tr>
                        <tr class="g-borderTSSCS closable">
                            <td class="g-paddingTBRLM g-backgroundAccount g-textCenter"></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Rewards 1</span></a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">1111</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold">1000</td>
                        </tr>
                        <tr class="g-borderTSSCS closable">
                            <td class="g-paddingTBRLM g-textCenter"><span
                                class="e-icon-alert"> <span class="g-sr">Alert</span>
                            </span></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Rewards 2</span></a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">2222</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold">2000</td>
                        </tr>
                        <tr class="g-borderTSSCS closable">
                            <td class="g-paddingTBRLM g-textCenter"></td>
                            <td class="g-borderLSSCS g-paddingTBRLM">
                                <p class="g-margin">
                                    <a href=""><span class="g-bold">Rewards 3</span></a>
                                </p>
                                <p>As of 00:00 hours ago</p>
                            </td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textCenter">3333</td>
                            <td class="g-borderLSSCS g-paddingTBRLM g-textRight g-bold">3000</td>
                        </tr>
                        <tr class="js-loading g-borderTSSCS g-textCenter">
                            <td colspan="4">
                                <div class="e-icon-loading g-auto g-block">
                                    <span class="g-sr">Loading</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
       

## Credit Card [/hbs/accountsummary/credit-card]
### credit card [GET]
El content-type json, se utilizará únicamente en modo de desarrollo, ya que para utilizar las llamadas AJAX será necesario solicitar el contenido como text/html

+ Request 

    + Headers

            Accept: text/html, application/json

+ Response 200 (application/json)

        {
          "widgets" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "totalPosted" : "$40,000.00",
            "totalAvailable" : "$36,000.00",
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "total" : null
          }, {
            "type" : "CD_RETIREMENT",
            "total" : "$10,000.00",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CD",
              "number" : "4444",
              "amount" : "$4,000.00"
            } ]
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "total" : "$2,000.00",
            "isOpen" : false,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "CREDIT_LINE",
              "number" : "4444",
              "posted" : "$800.00",
              "available" : 4000,
              "nextDate" : "11/20/2013",
              "minAmount" : "$200.00"
            } ]
          }, {
            "type" : "LOAN_MORTGAGE",
            "total" : "$6,000.00",
            "isOpen" : false,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "11/20/2013",
              "nextAmount" : "$600.00"
            } ]
          }, {
            "type" : "INVESTMENT",
            "total" : "$6,000.00",
            "isOpen" : false,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ]
          }, {
            "type" : "REAL_ESTATE",
            "total" : "$100.00",
            "isOpen" : false,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "percent" : "30.00%",
              "amount" : "$30.00"
            }, {
              "nick" : "Real 4",
              "percent" : "40.00%",
              "amount" : "$40.00"
            } ]
          }, {
            "type" : "REWARDS",
            "isOpen" : false,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$00.00",
              "number" : "0000"
            }, {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$1,000.00",
              "number" : "1111"
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : false,
              "alert" : true,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$2,000.00",
              "number" : "2222"
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : false,
              "alert" : false,
              "lastUpdated" : "11:17",
              "type" : "REWARDS",
              "balance" : "$3,000.00",
              "number" : "3333"
            } ]
          } ]
        }
        

+ Response 200 (text/html)

        <html>
             <body>
                 to be defined
             </body>
        </html>