FORMAT: 1A
HOST: http://docs.sba.apiary.io/

# SBA-Front API
SBA-Front API 

# Group Account Summary
Services involved in **Account Summary API**

## Account Summary [/accountsummary/load]
### [GET]
+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : false,
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "totalPosted" : "$40,000.00",
            "totalAvailable" : "$36,000.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : false,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            }, {
              "nick" : "Retirement 4",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CD",
              "number" : "4444",
              "amount" : "$4,000.00"
            } ],
            "total" : "$10,000.00"
          }, {
            "type" : "INVESTMENT",
            "adviceVisible" : true,
            "isOpen" : true,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ],
            "total" : "$6,000.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "01/22/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "01/22/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "01/22/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "01/22/2014",
              "minAmount" : "$200.00"
            } ],
            "total" : "$1,200.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : false,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "01/22/2014",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "01/22/2014",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "01/22/2014",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "01/22/2014",
              "nextAmount" : "$600.00"
            } ],
            "total" : "$6,000.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "bbvaCompassAccount" : true,
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "bbvaCompassAccount" : true,
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "bbvaCompassAccount" : true,
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "bbvaCompassAccount" : true,
              "percent" : "30.00%",
              "amount" : "$30.00"
            }, {
              "nick" : "Real 4",
              "bbvaCompassAccount" : true,
              "percent" : "40.00%",
              "amount" : "$40.00"
            } ],
            "total" : "$100.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 97",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$16,975.00",
              "number" : "00097"
            }, {
              "nick" : "Rewards 71",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$12,425.00",
              "number" : "00071"
            }, {
              "nick" : "Rewards 79",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$13,825.00",
              "number" : "00079"
            }, {
              "nick" : "Rewards 83",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$14,525.00",
              "number" : "00083"
            } ]
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:11.420Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}]
### [GET]
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business


+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "CHECKING_SAVING",
          "isOpen" : true,
          "checkingSavingMoneyMarketAccounts" : [ {
            "nick" : "Checking 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CHECKING",
            "number" : "0000",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 2",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "CHECKING",
            "number" : "1111",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CHECKING",
            "number" : "2222",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 4",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "CHECKING",
            "number" : "3333",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          } ],
          "totalPosted" : "$40,000.00",
          "totalAvailable" : "$36,000.00"
        }, {
          "type" : "CD_RETIREMENT",
          "isOpen" : false,
          "certificateDepositRetirementAccounts" : [ {
            "nick" : "Retirement 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CD",
            "number" : "0000",
            "amount" : "$00.00"
          }, {
            "nick" : "Retirement 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CD",
            "number" : "1111",
            "amount" : "$1,000.00"
          }, {
            "nick" : "Retirement 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CD",
            "number" : "2222",
            "amount" : "$2,000.00"
          }, {
            "nick" : "Retirement 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CD",
            "number" : "3333",
            "amount" : "$3,000.00"
          }, {
            "nick" : "Retirement 4",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CD",
            "number" : "4444",
            "amount" : "$4,000.00"
          } ],
          "total" : "$10,000.00"
        }, {
          "type" : "INVESTMENT",
          "adviceVisible" : true,
          "isOpen" : false,
          "investmentAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "INV",
            "number" : "0000",
            "amount" : "$00.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "INV",
            "number" : "1111",
            "amount" : "$1,000.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "INV",
            "number" : "2222",
            "amount" : "$2,000.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "INV",
            "number" : "3333",
            "amount" : "$3,000.00"
          } ],
          "total" : "$6,000.00"
        }, {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CREDIT_CARD",
            "number" : "0000",
            "posted" : "$00.00",
            "available" : 0,
            "nextDate" : "01/22/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "CREDIT_LINE",
            "number" : "1111",
            "posted" : "$200.00",
            "available" : 1000,
            "nextDate" : "01/22/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CREDIT_CARD",
            "number" : "2222",
            "posted" : "$400.00",
            "available" : 2000,
            "nextDate" : "01/22/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "CREDIT_LINE",
            "number" : "3333",
            "posted" : "$600.00",
            "available" : 3000,
            "nextDate" : "01/22/2014",
            "minAmount" : "$200.00"
          } ],
          "total" : "$1,200.00"
        }, {
          "type" : "LOAN_MORTGAGE",
          "isOpen" : false,
          "loanMortgateAccounts" : [ {
            "nick" : "Loan 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "LOAN_ALS",
            "number" : "0000",
            "payOff" : "$00.00",
            "nextDate" : "01/22/2014",
            "nextAmount" : "$00.00"
          }, {
            "nick" : "Loan 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "LOAN_ALS",
            "number" : "1111",
            "payOff" : "$1,000.00",
            "nextDate" : "01/22/2014",
            "nextAmount" : "$200.00"
          }, {
            "nick" : "Loan 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "LOAN_LOC",
            "number" : "2222",
            "payOff" : "$2,000.00",
            "nextDate" : "01/22/2014",
            "nextAmount" : "$400.00"
          }, {
            "nick" : "Loan 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "LOAN_LOC",
            "number" : "3333",
            "payOff" : "$3,000.00",
            "nextDate" : "01/22/2014",
            "nextAmount" : "$600.00"
          } ],
          "total" : "$6,000.00"
        }, {
          "type" : "REAL_ESTATE",
          "isOpen" : true,
          "realEstateAccounts" : [ {
            "nick" : "Real 0",
            "bbvaCompassAccount" : true,
            "percent" : "00.00%",
            "amount" : "$00.00"
          }, {
            "nick" : "Real 1",
            "bbvaCompassAccount" : true,
            "percent" : "10.00%",
            "amount" : "$10.00"
          }, {
            "nick" : "Real 2",
            "bbvaCompassAccount" : true,
            "percent" : "20.00%",
            "amount" : "$20.00"
          }, {
            "nick" : "Real 3",
            "bbvaCompassAccount" : true,
            "percent" : "30.00%",
            "amount" : "$30.00"
          }, {
            "nick" : "Real 4",
            "bbvaCompassAccount" : true,
            "percent" : "40.00%",
            "amount" : "$40.00"
          } ],
          "total" : "$100.00"
        }, {
          "type" : "REWARDS",
          "isOpen" : true,
          "rewardsAccounts" : [ {
            "nick" : "Rewards 20",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$3,500.00",
            "number" : "00020"
          }, {
            "nick" : "Rewards 07",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$1,225.00",
            "number" : "00007"
          }, {
            "nick" : "Rewards 18",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$3,150.00",
            "number" : "00018"
          }, {
            "nick" : "Rewards 56",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$9,800.00",
            "number" : "00056"
          } ]
        } ]}


## Account Summary UpdateTabsChange [/accountsummary/tabs/{filter}]
### [POST]
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200

## Account Summary close investments advice [/accountsummary/investements/advice]
### [DELETE]

+ Response 200


## Account Summary PDF [/accountsummary/pdf]
### [GET]

+ Response 200

## Account Summary EXCEL [/accountsummary/xlsx]
### [GET]

+ Response 200


# Group Mocks COMPSBA-186
## Account Summary Load [/accountsummary/load?mock=COMPSBA-186]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-186>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:17.318Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-186]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-186>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)
    
        {"modules":
        [ {
          "type" : "CHECKING_SAVING",
          "isOpen" : true,
          "checkingSavingMoneyMarketAccounts" : [ ],
          "totalPosted" : "$00.00",
          "totalAvailable" : "$00.00"
        }, {
          "type" : "CD_RETIREMENT",
          "isOpen" : true,
          "certificateDepositRetirementAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
          "total" : "$00.00"
        } ]}
        
# Group Mocks COMPSBA-188
## Account Summary Load [/accountsummary/load?mock=COMPSBA-188]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-188>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CREDIT_CARD",
              "number" : "0000",
              "posted" : "$00.00",
              "available" : 0,
              "nextDate" : "01/22/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CREDIT_LINE",
              "number" : "1111",
              "posted" : "$200.00",
              "available" : 1000,
              "nextDate" : "01/22/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "CREDIT_CARD",
              "number" : "2222",
              "posted" : "$400.00",
              "available" : 2000,
              "nextDate" : "01/22/2014",
              "minAmount" : "$200.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "CREDIT_LINE",
              "number" : "3333",
              "posted" : "$600.00",
              "available" : 3000,
              "nextDate" : "01/22/2014",
              "minAmount" : "$200.00"
            } ],
            "total" : "$1,200.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:17.974Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-188]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-188>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)
    
        {"modules":
        [ {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CREDIT_CARD",
            "number" : "0000",
            "posted" : "$00.00",
            "available" : 0,
            "nextDate" : "01/22/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CREDIT_LINE",
            "number" : "1111",
            "posted" : "$200.00",
            "available" : 1000,
            "nextDate" : "01/22/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "CREDIT_CARD",
            "number" : "2222",
            "posted" : "$400.00",
            "available" : 2000,
            "nextDate" : "01/22/2014",
            "minAmount" : "$200.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "CREDIT_LINE",
            "number" : "3333",
            "posted" : "$600.00",
            "available" : 3000,
            "nextDate" : "01/22/2014",
            "minAmount" : "$200.00"
          } ],
          "total" : "$1,200.00"
        } ]}
        
# Group Mocks COMPSBA-189
## Account Summary Load [/accountsummary/load?mock=COMPSBA-189]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-189>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:18.414Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-189]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-189>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)
    
        {"modules":
        [ {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
          "total" : "$00.00"
        } ]}
        
# Group Mocks COMPSBA-192
## Account Summary Load [/accountsummary/load?mock=COMPSBA-192]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-192>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ {
              "nick" : "Checking 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CHECKING",
              "number" : "0000",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CHECKING",
              "number" : "1111",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "CHECKING",
              "number" : "2222",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            }, {
              "nick" : "Checking 4",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : "01:30",
              "type" : "CHECKING",
              "number" : "3333",
              "posted" : "$10,000.00",
              "available" : "$9,000.00"
            } ],
            "totalPosted" : "$40,000.00",
            "totalAvailable" : "$36,000.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:18.826Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-192]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-192>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "CHECKING_SAVING",
          "isOpen" : true,
          "checkingSavingMoneyMarketAccounts" : [ {
            "nick" : "Checking 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CHECKING",
            "number" : "0000",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CHECKING",
            "number" : "1111",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "CHECKING",
            "number" : "2222",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          }, {
            "nick" : "Checking 4",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : "01:30",
            "type" : "CHECKING",
            "number" : "3333",
            "posted" : "$10,000.00",
            "available" : "$9,000.00"
          } ],
          "totalPosted" : "$40,000.00",
          "totalAvailable" : "$36,000.00"
        } ]}
        
# Group Mocks COMPSBA-193
## Account Summary Load [/accountsummary/load?mock=COMPSBA-193]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-193>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:19.270Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-193]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-193>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "CHECKING_SAVING",
          "isOpen" : true,
          "checkingSavingMoneyMarketAccounts" : [ ],
          "totalPosted" : "$00.00",
          "totalAvailable" : "$00.00"
        } ]}

# Group Mocks COMPSBA-197
## Account Summary Load [/accountsummary/load?mock=COMPSBA-197]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-197>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ {
              "nick" : "Retirement 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CD",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Retirement 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CD",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Retirement 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CD",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Retirement 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "CD",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ],
            "total" : "$6,000.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:19.587Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-197]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-197>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "CD_RETIREMENT",
          "isOpen" : true,
          "certificateDepositRetirementAccounts" : [ {
            "nick" : "Retirement 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CD",
            "number" : "0000",
            "amount" : "$00.00"
          }, {
            "nick" : "Retirement 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CD",
            "number" : "1111",
            "amount" : "$1,000.00"
          }, {
            "nick" : "Retirement 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CD",
            "number" : "2222",
            "amount" : "$2,000.00"
          }, {
            "nick" : "Retirement 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "CD",
            "number" : "3333",
            "amount" : "$3,000.00"
          } ],
          "total" : "$6,000.00"
        } ]}

# Group Mocks COMPSBA-198
## Account Summary Load [/accountsummary/load?mock=COMPSBA-198]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-198>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:19.959Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-198]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-198>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "CD_RETIREMENT",
          "isOpen" : true,
          "certificateDepositRetirementAccounts" : [ ],
          "total" : "$00.00"
        } ]}

# Group Mocks COMPSBA-203
## Account Summary Load [/accountsummary/load?mock=COMPSBA-203]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-203>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "adviceVisible" : true,
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "Hans Gruber",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:20.250Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
# Group Mocks COMPSBA-208
## Account Summary Load [/accountsummary/load?mock=COMPSBA-208]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-208>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "adviceVisible" : true,
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 42,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:20.656Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}

# Group Mocks COMPSBA-212
## Account Summary Load [/accountsummary/load?mock=COMPSBA-212]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-212>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "adviceVisible" : true,
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2000-06-22T14:55:42.000Z",
              "humanReadability" : "Thu, 06/22/2000 at 02:55 PM"
            }
          }
        }}

# Group Mocks COMPSBA-230
## Account Summary Load [/accountsummary/load?mock=COMPSBA-230]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-230>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:21.418Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-230]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-230>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ ]}
        
# Group Mocks COMPSBA-234
## Account Summary Load [/accountsummary/load?mock=COMPSBA-234]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-234>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ {
              "nick" : "Loan 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "LOAN_ALS",
              "number" : "0000",
              "payOff" : "$00.00",
              "nextDate" : "01/22/2014",
              "nextAmount" : "$00.00"
            }, {
              "nick" : "Loan 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "LOAN_ALS",
              "number" : "1111",
              "payOff" : "$1,000.00",
              "nextDate" : "01/22/2014",
              "nextAmount" : "$200.00"
            }, {
              "nick" : "Loan 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "LOAN_LOC",
              "number" : "2222",
              "payOff" : "$2,000.00",
              "nextDate" : "01/22/2014",
              "nextAmount" : "$400.00"
            }, {
              "nick" : "Loan 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "LOAN_LOC",
              "number" : "3333",
              "payOff" : "$3,000.00",
              "nextDate" : "01/22/2014",
              "nextAmount" : "$600.00"
            } ],
            "total" : "$6,000.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:21.769Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-234]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-234>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "LOAN_MORTGAGE",
          "isOpen" : true,
          "loanMortgateAccounts" : [ {
            "nick" : "Loan 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "LOAN_ALS",
            "number" : "0000",
            "payOff" : "$00.00",
            "nextDate" : "01/22/2014",
            "nextAmount" : "$00.00"
          }, {
            "nick" : "Loan 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "LOAN_ALS",
            "number" : "1111",
            "payOff" : "$1,000.00",
            "nextDate" : "01/22/2014",
            "nextAmount" : "$200.00"
          }, {
            "nick" : "Loan 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "LOAN_LOC",
            "number" : "2222",
            "payOff" : "$2,000.00",
            "nextDate" : "01/22/2014",
            "nextAmount" : "$400.00"
          }, {
            "nick" : "Loan 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "LOAN_LOC",
            "number" : "3333",
            "payOff" : "$3,000.00",
            "nextDate" : "01/22/2014",
            "nextAmount" : "$600.00"
          } ],
          "total" : "$6,000.00"
        } ]}

# Group Mocks COMPSBA-235
## Account Summary Load [/accountsummary/load?mock=COMPSBA-235]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-235>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:22.114Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-235]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-235>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "LOAN_MORTGAGE",
          "isOpen" : true,
          "loanMortgateAccounts" : [ ],
          "total" : "$00.00"
        } ]}

# Group Mocks COMPSBA-237
## Account Summary Load [/accountsummary/load?mock=COMPSBA-237]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-237>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "adviceVisible" : true,
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ {
                "id" : 5080,
                "month" : "Dec",
                "day" : "12",
                "payee" : "Payee 0",
                "account" : "Checking *5080 / #1001",
                "amount" : "$1,000.00",
                "overdue" : true
              }, {
                "id" : 5081,
                "month" : "Nov",
                "day" : "18",
                "payee" : "Payee 1",
                "account" : "Checking *5081 / #935",
                "amount" : "$340.50",
                "overdue" : false
              }, {
                "id" : 5082,
                "month" : "Sep",
                "day" : "02",
                "payee" : "Payee 2",
                "account" : "Checking *5082 / #10",
                "amount" : "$34.20",
                "overdue" : false
              } ],
              "total" : "$1,374.70"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:22.289Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-237]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-237>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "CHECKING_SAVING",
          "isOpen" : true,
          "checkingSavingMoneyMarketAccounts" : [ ],
          "totalPosted" : "$00.00",
          "totalAvailable" : "$00.00"
        }, {
          "type" : "CD_RETIREMENT",
          "isOpen" : true,
          "certificateDepositRetirementAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "INVESTMENT",
          "adviceVisible" : true,
          "isOpen" : true,
          "investmentAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
          "isOpen" : true,
          "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "LOAN_MORTGAGE",
          "isOpen" : true,
          "loanMortgateAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "REAL_ESTATE",
          "isOpen" : true,
          "realEstateAccounts" : [ ],
          "total" : "$00.00"
        }, {
          "type" : "REWARDS",
          "isOpen" : true,
          "rewardsAccounts" : [ ]
        } ]}

# Group Mocks COMPSBA-239
## Account Summary Load [/accountsummary/load?mock=COMPSBA-239]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-239>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "adviceVisible" : true,
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ {
                "id" : 4054,
                "month" : "Nov",
                "day" : "01",
                "nickname" : "Account 1",
                "accountSuffix" : "*5743",
                "amount" : "$340.00"
              }, {
                "id" : 4504,
                "month" : "Jan",
                "day" : "28",
                "nickname" : "Account 2",
                "accountSuffix" : "*3483",
                "amount" : "$560.52"
              }, {
                "id" : 4003,
                "month" : "Sep",
                "day" : "06",
                "nickname" : "Account 3",
                "accountSuffix" : "*3453",
                "amount" : "$34.34"
              } ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:22.742Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
# Group Mocks COMPSBA-243
## Account Summary Load [/accountsummary/load?mock=COMPSBA-243]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-243>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "CHECKING_SAVING",
            "isOpen" : true,
            "checkingSavingMoneyMarketAccounts" : [ ],
            "totalPosted" : "$00.00",
            "totalAvailable" : "$00.00"
          }, {
            "type" : "CD_RETIREMENT",
            "isOpen" : true,
            "certificateDepositRetirementAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "INVESTMENT",
            "adviceVisible" : true,
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "CREDITCARD_LINEOFCREDIT_OVERDRAFTPROTECTION",
            "isOpen" : true,
            "creditCardLineCreditOverdraftProtectionAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "LOAN_MORTGAGE",
            "isOpen" : true,
            "loanMortgateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          }, {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ {
                "id" : 4000,
                "name" : "Money Market *4000",
                "balance" : "$1,300.54"
              }, {
                "id" : 4001,
                "name" : "Money Market *4001",
                "balance" : "$302.14"
              }, {
                "id" : 4002,
                "name" : "Money Market *4002",
                "balance" : "$1,000.00"
              }, {
                "id" : 4003,
                "name" : "Checking *4003",
                "balance" : "$586.15"
              }, {
                "id" : 4004,
                "name" : "Checking *4004",
                "balance" : "$200.94"
              } ],
              "toAccounts" : [ {
                "id" : 5000,
                "name" : "Saving *5000",
                "balance" : "$310.54"
              }, {
                "id" : 5001,
                "name" : "Saving *5001",
                "balance" : "$5,300.24"
              }, {
                "id" : 5002,
                "name" : "Money Market *5002",
                "balance" : "$1,000.24"
              }, {
                "id" : 5003,
                "name" : "Money Market *5003",
                "balance" : "$2,320.00"
              }, {
                "id" : 5004,
                "name" : "Money Market *5004",
                "balance" : "$327.67"
              } ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:23.131Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}


# Group Mocks COMPSBA-244
## Account Summary Load [/accountsummary/load?mock=COMPSBA-244]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-244>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "INVESTMENT",
            "adviceVisible" : true,
            "isOpen" : true,
            "investmentAccounts" : [ {
              "nick" : "Credit 0",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "INV",
              "number" : "0000",
              "amount" : "$00.00"
            }, {
              "nick" : "Credit 1",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "INV",
              "number" : "1111",
              "amount" : "$1,000.00"
            }, {
              "nick" : "Credit 2",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "INV",
              "number" : "2222",
              "amount" : "$2,000.00"
            }, {
              "nick" : "Credit 3",
              "bbvaCompassAccount" : true,
              "alert" : true,
              "lastUpdated" : "01:30",
              "type" : "INV",
              "number" : "3333",
              "amount" : "$3,000.00"
            } ],
            "total" : "$6,000.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:23.566Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-244]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-244>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "INVESTMENT",
          "adviceVisible" : true,
          "isOpen" : true,
          "investmentAccounts" : [ {
            "nick" : "Credit 0",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "INV",
            "number" : "0000",
            "amount" : "$00.00"
          }, {
            "nick" : "Credit 1",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "INV",
            "number" : "1111",
            "amount" : "$1,000.00"
          }, {
            "nick" : "Credit 2",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "INV",
            "number" : "2222",
            "amount" : "$2,000.00"
          }, {
            "nick" : "Credit 3",
            "bbvaCompassAccount" : true,
            "alert" : true,
            "lastUpdated" : "01:30",
            "type" : "INV",
            "number" : "3333",
            "amount" : "$3,000.00"
          } ],
          "total" : "$6,000.00"
        } ]}

# Group Mocks COMPSBA-245
## Account Summary Load [/accountsummary/load?mock=COMPSBA-245]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-245>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "INVESTMENT",
            "adviceVisible" : true,
            "isOpen" : true,
            "investmentAccounts" : [ ],
            "total" : "$00.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:23.882Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-245]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-245>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "INVESTMENT",
          "adviceVisible" : true,
          "isOpen" : true,
          "investmentAccounts" : [ ],
          "total" : "$00.00"
        } ]}

# Group Mocks COMPSBA-246
## Account Summary Load [/accountsummary/load?mock=COMPSBA-246]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-246>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ {
              "nick" : "Real 0",
              "bbvaCompassAccount" : true,
              "percent" : "00.00%",
              "amount" : "$00.00"
            }, {
              "nick" : "Real 1",
              "bbvaCompassAccount" : true,
              "percent" : "10.00%",
              "amount" : "$10.00"
            }, {
              "nick" : "Real 2",
              "bbvaCompassAccount" : true,
              "percent" : "20.00%",
              "amount" : "$20.00"
            }, {
              "nick" : "Real 3",
              "bbvaCompassAccount" : true,
              "percent" : "30.00%",
              "amount" : "$30.00"
            } ],
            "total" : "$60.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:24.226Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-246]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-246>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "REAL_ESTATE",
          "isOpen" : true,
          "realEstateAccounts" : [ {
            "nick" : "Real 0",
            "bbvaCompassAccount" : true,
            "percent" : "00.00%",
            "amount" : "$00.00"
          }, {
            "nick" : "Real 1",
            "bbvaCompassAccount" : true,
            "percent" : "10.00%",
            "amount" : "$10.00"
          }, {
            "nick" : "Real 2",
            "bbvaCompassAccount" : true,
            "percent" : "20.00%",
            "amount" : "$20.00"
          }, {
            "nick" : "Real 3",
            "bbvaCompassAccount" : true,
            "percent" : "30.00%",
            "amount" : "$30.00"
          } ],
          "total" : "$60.00"
        } ]}

# Group Mocks COMPSBA-248
## Account Summary Load [/accountsummary/load?mock=COMPSBA-248]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-248>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "REAL_ESTATE",
            "isOpen" : true,
            "realEstateAccounts" : [ ],
            "total" : "$00.00"
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:24.621Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-248]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-248>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "REAL_ESTATE",
          "isOpen" : true,
          "realEstateAccounts" : [ ],
          "total" : "$00.00"
        } ]}
        
# Group Mocks COMPSBA-249
## Account Summary Load [/accountsummary/load?mock=COMPSBA-249]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-249>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ {
              "nick" : "Rewards 1",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$175.00",
              "number" : "00001"
            }, {
              "nick" : "Rewards 2",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$350.00",
              "number" : "00002"
            }, {
              "nick" : "Rewards 3",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$525.00",
              "number" : "00003"
            }, {
              "nick" : "Rewards 4",
              "bbvaCompassAccount" : true,
              "alert" : false,
              "lastUpdated" : null,
              "type" : "REWARDS",
              "balance" : "$700.00",
              "number" : "00004"
            } ]
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
              "url" : "/SBA/app/accountsummary/load",
              "active" : true
            }
          },
          "profile" : {
            "accountsFilter" : "internal",
            "name" : "John McClane",
            "messages" : 24,
            "lastSignIn" : {
              "iso8601" : "2014-01-22T13:30:24.963Z",
              "humanReadability" : "Wed, 01/22/2014 at 01:30 PM"
            }
          }
        }}
        
## Account Summary con filtro [/accountsummary/load/{filter}?mock=COMPSBA-249]

### [GET]
<https://medianet.atlassian.net/browse/COMPSBA-249>
+ Parameters
    + filter (required, enumeration) ... internal, external, personal, business

+ Response 200 (application/json)

        {"modules":
        [ {
          "type" : "REWARDS",
          "isOpen" : true,
          "rewardsAccounts" : [ {
            "nick" : "Rewards 1",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$175.00",
            "number" : "00001"
          }, {
            "nick" : "Rewards 2",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$350.00",
            "number" : "00002"
          }, {
            "nick" : "Rewards 3",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$525.00",
            "number" : "00003"
          }, {
            "nick" : "Rewards 4",
            "bbvaCompassAccount" : true,
            "alert" : false,
            "lastUpdated" : null,
            "type" : "REWARDS",
            "balance" : "$700.00",
            "number" : "00004"
          } ]
        } ]}

# Group Mocks COMPSBA-250
## Account Summary Load [/accountsummary/load?mock=COMPSBA-250]

###[GET]
<https://medianet.atlassian.net/browse/COMPSBA-250>

+ Response 200 (application/json)

        {"accountsummary":
        {
          "modules" : [ {
            "type" : "REWARDS",
            "isOpen" : true,
            "rewardsAccounts" : [ ]
          } ],
          "widgets" : {
            "personalPromo" : {
            },
            "preferedClients" : {
            },
            "payPeople" : {
              "enabled" : false
            },
            "quickTransfers" : {
              "fromAccounts" : [ ],
              "toAccounts" : [ ],
              "limits" : {
                "min" : 0.01000000000000000020816681711721685132943093776702880859375,
                "max" : 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368
              }
            },
            "pendingPayments" : {
              "payments" : [ ],
              "total" : "$00.00"
            },
            "pendingApproval" : {
              "youTransactions" : [ ],
              "otherTransactions" : [ ]
            },
            "pendingTransfers" : {
              "transfers" : [ ]
            },
            "noPershingAccounts" : true
          },
          "menu" : {
            "summary" : {
[...]
